@import "custom";
@import "skeleton";
@import "bootstrap/scss/bootstrap";
@import "../fa-pro/css/all.css";

.datepicker-drawer {
  .ant-drawer-title {
    font-weight: 900;
  }
}
.ant-drawer {
  z-index: 1001;
}
//
.dp__overlay_cell_active_disabled, .dp__overlay_cell_active_disabled:hover {
  background: #f6f6f6 !important;
  color: #212121 !important;
}
.dp__overlay_cell_disabled {
  opacity: 0.5;
}
.dp__overlay_cell_active {
  background: rgb(0, 170, 108);
}
.ant-input::placeholder, .ant-calendar-range-picker-input::placeholder {
  color: rgb(20, 20, 20) !important;
}
.ant-btn-primary{
  color: #fff;
  background: #00aa6c !important;
  border-color: #00aa6c !important;
  text-shadow: 0 -1px 0 rgb(0 0 0 / 12%) !important;
  box-shadow: 0 2px 0 rgb(0 0 0 / 5%) !important;
}
.ant-btn, .ant-btn, .ant-input, .ant-input {
  i {
    color:#00aa6c !important;
  }
}
.ant-btn:hover, .ant-btn:focus, .ant-input:focus, .ant-input:hover {
  border-color: #00aa6c !important;
}
.ant-calendar-picker-icon, .ant-input-prefix {
  color: #00aa6c !important;
}

.guest-picker-form {
  .ant-form-item-label {
    font-weight: 700 !important;
    text-align: left !important;
  }
}
@supports (font-variation-settings: normal) {
    @font-face {
    font-family: 'Trip Sans VF';
    font-weight: normal;
    font-display: swap;
    src: url('/assets/fonts/TripSans-VF.woff2?v1.002') format('woff2-variations');
    font-variation-settings: 'wght' 400;
    }
    @font-face {
    font-family: 'Trip Sans VF';
    font-weight: bold;
    font-display: swap;
    src: url('/assets/fonts/TripSans-VF.woff2?v1.002') format('woff2-variations');
    font-variation-settings: 'wght' 700;
    }
    @font-face {
    font-family: 'Trip Sans VF';
    font-weight: 800;
    font-display: swap;
    src: url('/assets/fonts/TripSans-VF.woff2?v1.002') format('woff2-variations');
    font-variation-settings: 'wght' 800;
    }
    @font-face {
    font-family: 'Trip Sans VF';
    font-weight: 900;
    font-display: swap;
    src: url('/assets/fonts/TripSans-VF.woff2?v1.002') format('woff2-variations');
    font-variation-settings: 'wght' 900;
    }
  }
  
  @font-face {
    font-family: 'Trip Sans';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url('/assets/fonts/TripAdvisor_Regular.woff2') format('woff2'),
      url('/assets/fonts/TripSans-Regular.woff') format('woff');
   }
   
  @font-face {
    font-family: 'Trip Sans';
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url('/assets/fonts/TripSans-Medium.woff?v1.002') format('woff');
  }
  
  @font-face {
    font-family: 'Trip Sans Mono';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url('/assets/fonts/TripSansMono-Regular.woff') format('woff');
  }
html, body {
  font-size: medium;
  position: relative;
  height: 100% !important;
  font-family: 'Trip Sans VF', 'Trip Sans', Arial, sans-serif !important;
  margin: 0;
  padding: 0;
}
.ant-rate-star:not(:last-child) {
  margin-right: 2px !important;
}
:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #00aa6c;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #00aa6c;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f2f2f2;
    --bs-dark: #212529;
    --bs-primary-rgb: 13, 110, 253;
    --bs-secondary-rgb: 108, 117, 125;
    --bs-success-rgb: 25, 135, 84;
    --bs-info-rgb: 13, 202, 240;
    --bs-warning-rgb: 255, 193, 7;
    --bs-danger-rgb: 220, 53, 69;
    --bs-light-rgb: 242, 242, 242;
    --bs-dark-rgb: 33, 37, 41;
    --bs-white-rgb: 255, 255, 255;
    --bs-black-rgb: 0, 0, 0 !important;
    --bs-body-color-rgb: 0, 0, 0 !important;
    --bs-body-bg-rgb: 255, 255, 255;
    --bs-font-sans-serif: 'Trip Sans VF', 'Trip Sans', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !important;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-body-font-family: var(--bs-font-sans-serif) !important;
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #000000 !important;
    --bs-body-bg: #fff !important;
    --skeleton-color: #ccc;
    --skeleton-icon-color: rgba(0, 0, 0, 0.25);
}


.custom-spinner {
  width: 1em;
  height: 1em;
  border: .1em solid rgba(0, 0, 0, 0.199);
  border-right-color: transparent;
  border-radius: 50%;
  animation: fa-spin .5s infinite linear;
}

.ant-modal-mask, .ant-modal-wrap {
  z-index: 1002;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}