<script setup lang="ts">
import { ref, computed } from 'vue';
import { useStore } from '@/store';
import money from '../../helpers/money';

const store = useStore();

const home = computed(() => store.home);
const bussy = computed(() => store.bussy);
const loading = computed(() => store.loading);
const summary = computed(() => store.summary); 
const pickertype = computed(() => store.pickertype); 

const spin = ref(false);

const emit = defineEmits([
    'sendMessage',
    'bookNow',
]);

function changeState() {
    spin.value = true
    setTimeout(() => {
        emit('bookNow');
        spin.value = false
    }, 1000)
}
</script>

<template> 
    <nav class="navbar fixed-bottom navbar-light bg-white bottomnav d-flex d-lg-none">
      <div class="container p-0 w-100">
        <div class="row w-100 g-0" v-if="loading || bussy">
            <div class="col col-12 text-center py-3">
                <svg class="spinner" viewBox="0 0 50 50">
                    <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
                </svg>
            </div>
        </div>
        <div class="row w-100 g-0" v-else>
            <div class="col col-6">
                <div class="position-relative" v-if="summary.set">
                    <div class="position-absolute">
                        <span class="price fs-5 fw-bold me-1">{{ money(summary.total, home.currency.code) }}</span>
                        <span class="night small" v-if="pickertype === 'day'">/{{ $t('home.count_nights', summary.nights) }}</span>
                        <span class="night small" v-else>/{{ $t('home.count_months', summary.months) }}</span>
                    </div>
                    <span class="small pprotection position-relative">{{ $t('home.payment_protection') }}</span>
                </div>
                <div class="position-relative" v-else>
                    <div class="from top-0">{{ $t('home.from') }}</div>
                    <span class="price fs-5 fw-bold me-1 position-relative">{{ money(home.pricing.nightly, home.currency.code) }}</span>
                    <span class="night small position-relative">/{{ $t('home.night', 1) }}</span>
                </div>
            </div>
            <div class="col col-6 text-end">
                <a-button v-if="spin" size="large" class="border-0"><a-spin /></a-button>
                <a-button v-else type="text" class="btn-warning left-btn px-3" size="large" @click="changeState()" style="border-radius: 12px; border-color: #f2b203; background-color: #f2b203; color: #000;">
                    <span>
                        <span class="fw-bold">
                            <span v-if="home.bookingType.value === 'instant'">{{ $t('home.book_now') }}</span>
                            <span v-else>{{ $t('home.request_booking') }}</span>
                        </span>
                    </span>
                </a-button>
                
            </div>
        </div>
      </div>
    </nav>
</template>



<style scoped lang="scss">
.ant-btn.ant-btn-text {
    &:hover {
        border-color: #000000 !important;
    }
    &:focus {
        border-color: #000000 !important;
    }
}


.spinner {
  animation: rotate 1s linear infinite;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -20px 0 0 -25px;
  width: 40px;
  height: 40px;
  
  & .path {
    stroke: rgb(201, 201, 201);
    stroke-linecap: round;
    animation: dash .75s ease-in-out infinite;
  }
  
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}
.bottomnav {
    position: fixed !important;
    padding: 10px 18px;
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 50%);
    .container {
        height: 40px;
        .pprotection {
            color: #004f32;
            font-size: 10px;
            top: 18px;
        }
        .left-btn {
            border-radius: 12px;

            span {
                font-size: 15px;
            }
        }
        .from {
            font-size: .9em !important;
        }
        .price {
            font-size: 1.25rem !important;
            top: -10px !important;
        }
        .night {
            top: -10px !important;
            font-size: 0.875em !important;
        }
    }
    
}
</style>