<script setup lang="ts">
import logoBlack from '@/assets/img/logo_black.svg?url';
const { bussy, location } = defineProps(
    ['bussy', 'location']
);

//const show_banner = Math.random() < 0.5;
const show_banner = false;
</script>
<template>
<div class="container my-2 breadcrumbs">
    <div class="row">
        <div class="col col-12" v-if="!bussy">
            <a-breadcrumb separator=">">
                <a-breadcrumb-item>
                    <a href="#" @click.prevent>{{ $t('nav.vacation_rentals') }}</a>
                </a-breadcrumb-item>
                <a-breadcrumb-item v-if="location.continent">
                    <a href="#" @click.prevent>{{ location.continent }}</a>
                </a-breadcrumb-item>
                <a-breadcrumb-item v-if="location.country">
                    <a href="#" @click.prevent>{{ location.country }}</a>
                </a-breadcrumb-item>
                <a-breadcrumb-item v-if="location.state">
                    <a href="#" @click.prevent>{{ location.state }}</a>
                </a-breadcrumb-item>
                <a-breadcrumb-item v-if="location.city" active>
                    {{ location.city }}
                </a-breadcrumb-item>
            </a-breadcrumb>
        </div>
    </div>
    <div class="row cream my-3 d-none d-lg-flex" v-if="show_banner">
        <div class="col col-3 p-3">
            <img :src="logoBlack" alt="Logo Black">
        </div>
        <div class="col col-9 p-4 pe-0">
            <div class="banner-text">
                <strong>{{ $t('home.save_money') }}</strong> 
                <span class="ms-2">{{ $t('home.we_search') }}</span>
            </div>
        </div>
    </div>
</div>
</template>
<style lang="scss" scoped>
    div.cream {
        background-color: #faf1ed;
        div img {
            width: 100%;
        }
    }
    div.banner-text {
        width: 75%;
        border-left: 1px solid;
        padding: 0 20px;
        strong, span {
            font-size: 1.3rem;
        }
    }
    .breadcrumbs {
        .ant-breadcrumb {
            font-size: 12px !important;
            a {
                text-decoration: none;
                color: #333 !important;
                transition: color 0.3s !important;
                &:hover {
                    text-decoration: underline;
                    color: unset !important;
                }
            }
        }
    }
</style>