<script setup lang="ts">
import { ref, computed } from 'vue';
import { SkeletonText } from 'skeleton-elements/vue';
import useAuth from '../../store/auth';

const auth = useAuth();
const logged = computed(() => auth.logged);
const saved  = computed(() => auth.saved);

const ishovering = ref(false);
const heart = computed(() => ishovering.value || saved ? 'fa-solid fa-heart' : 'fa-regular fa-heart');
const { home, mobile, bussy } = defineProps([
    'home',
    'bussy',
    'mobile',
]);

const authurl = import.meta.env.VITE_APP_AUTH_URL;
const loginOpen = () => {
   const redirectTo: string = window.btoa(window.location.href);
   const urlTo: string = `${authurl}?redirect=${redirectTo}&action=login`;
   window.location.href = urlTo;
}

</script>

<template>
    <div class="container">
        <div class="row home-title">
            <div class="col-lg-10 col-md-12">
                <skeleton-text tag="h1" v-if="bussy" effect="wave">105-Suite ELIOT, Lovely Duplex, Great Location</skeleton-text>
                <h1 v-else>{{ home.title }}</h1>
            </div>
        </div>
        <div class="row home-rating pb-2">
            <div class="col-10">
                <skeleton-text tag="span" v-if="bussy" effect="wave" style="width: 200px">
                    * * * * * * * * * * 
                </skeleton-text>
                <div v-else>
                    <a-rate :value="home.rating" allow-half style="color: #00aa6c; font-size: 1em;" :allowClear="false">
                        <template #character>
                            <i class="fa-solid fa-circle"></i>
                        </template>
                    </a-rate>
                    
                    <span class="ms-3">
                        <a href="#Reviews" style="color: unset">{{ $t('home.count_reviews', {count: home.reviews.length}) }}</a>
                    </span>
                </div>
            </div>
            <div class="col col-2 save text-end" v-if="logged && saved"> 
                <a href="#" @click.prevent="auth.setSaved(false)" class="save_area">
                    <span v-if="bussy">
                        <skeleton-text tag="span" effect="wave"><i class="heart"></i></skeleton-text>
                    </span>
                    <span v-else>
                        <i :class="heart" class="saved"></i>
                        <span class="ms-2 d-none d-lg-inline">{{ $t('home.saved') }}</span>
                    </span>
                </a>
            </div>
            <div class="col col-2 save text-end" v-else-if="logged && !saved"> 
                <a href="#" @click.prevent="auth.setSaved(true)" @mouseover="ishovering = true" @mouseleave="ishovering = false" class="save_area">
                    <span v-if="bussy">
                        <skeleton-text tag="span" effect="wave"><i :class="heart"></i></skeleton-text>
                    </span>
                    <span v-else>
                        <i :class="heart"></i>
                        <span class="ms-2 d-none d-lg-inline">{{ $t('home.save') }}</span>
                    </span>
                </a>
            </div>
            <div class="col col-2 save text-end" v-else> 
                <a href="#" @click.prevent="loginOpen" @mouseover="ishovering = true" @mouseleave="ishovering = false" class="save_area">
                    <span v-if="bussy">
                        <skeleton-text tag="span" effect="wave"><i :class="heart"></i></skeleton-text>
                    </span>
                    <span v-else>
                        <i :class="heart"></i>
                        <span class="ms-2 d-none d-lg-inline">{{ $t('home.save') }}</span>
                    </span>
                </a>
            </div>
        </div>
        <ScrollTabsComponent :mobile="mobile" />
        
    </div>
</template>
<style lang="scss" scoped>
.saved {
    color: rgb(255, 0, 76) !important;
    opacity: 0.8 !important;
}
.unsaved {
    color: unset !important;
    opacity: 0.8 !important;
}
@media (max-width: 992px) {
    .save_area {
        font-size: 1.2rem !important;
    }
}
    .home-title {
        .save a {
            color: unset !important;
            text-decoration: none !important;
            transition: unset !important;
            &:hover {
                color: rgb(255, 0, 76) !important;
                opacity: 0.8 !important;
                text-decoration: underline !important;
            }
            
        }
        // smaller text on medium
        @media (min-width: 992px) {
            h1 {
                font-size: 2rem !important;
                font-weight: 700 !important;
            }
            .save_btn {
                font-size: 1rem !important;
            }
        }
        @media (max-width: 992px) {
            .save_btn {
                font-size: 1rem !important;
            }
            h1 {
                font-size: 1.1rem !important;
                font-weight: 700 !important;
            }
        }
    }
    .home-rating {
        .save a {
            color: unset !important;
            text-decoration: none !important;
            transition: unset !important;
            &:hover {
                text-decoration: underline !important;
            }

            &:hover {
                color: rgb(255, 0, 76) !important;
                opacity: 0.8 !important;
            }
        }
        // smaller text on medium
        @media (min-width: 992px) {
            h1 {
                font-size: 2rem !important;
                font-weight: 700 !important;
            }
        }
        @media (max-width: 992px) {
            h1 {
                font-size: 1.1rem !important;
                font-weight: 700 !important;
            }
        }
    }


</style>