<script setup lang="ts">
import { useRouter } from 'vue-router';
import useAuth from '@/store/auth';
import logo from '@/assets/img/logo.svg?url';

const auth = useAuth();
const router = useRouter();
const { bussy, mobile } = defineProps(
    ['bussy', 'mobile']
);
const logged = false;

const goback = () => {
    history.back()
};
</script>

<template>
<nav class="navbar m-0 p-0 navbar-expand-lg navbar-light bg-white border border-top-0 border-bottom-1" :class="{'mobile': mobile}">
   <div class="container">
      <a class="navbar-toggler px-2 text-decoration-none" @click="goback">
         <i class="fa-solid fa-angle-left"></i> <span class="ms-1">{{ $t('booking.back')}}</span>
      </a>
      <a href="#" @click="goback" class="navbar-brand" >
         <picture>
            <img :src="logo" alt="Logo" class="h-100 brand-logo">
         </picture>
      </a>
      <div class="nav-text" style="width:50% !important;">
         <div class="text-top mt-2">
            {{ $t('booking.nav_top')}}
         </div>
         <div class="text-middle">
            {{ $t('booking.nav_mid')}}
         </div>
         <div class="text-bottom my-1">
            <ul v-if="auth.logged">
               <li>
                  <a href="#" @click.prevent>
                     <span class="ms-2">{{ auth.user.name }}</span>
                  </a>
               </li>
            </ul>
            <div v-else>
               &nbsp;
            </div>
         </div>
      </div>
   </div>
</nav>
</template>

<style lang="scss" scoped>

.navmobile {
   li {
      a.first-lis {
         color: #000 !important;
      }
      a.second-lis {
         color: rgba(0, 0, 0, 0.767) !important;
      }
   }
   .btn-signin-menu-mobile {
      border-radius: 20px;
   }
}

.navicon {
   color: unset !important;
   min-width: 40px;
   height: 40px;
   border-radius: 20px;
   padding: 6px;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   position: relative;
   cursor: pointer;
   border: 2px solid rgba(0,0,0,0);
   align-items: center;
   justify-content: center;
   text-decoration: none;
   transition: background-color .1s linear,border-color .1s linear;
      &:hover {
         background-color: #f5f5f5;
      }
}
.search-input {
   min-width: 240px !important;
   border-radius: 21px !important;
   height: 38px;
   line-height: 38px;
   padding: 0 0 0 31px;
   vertical-align: middle;
}
@media(min-width:992px) {
   .brand-logo {
      width: 150px;
   }
    .offcanvas{
        visibility:visible;
        position:relative;
        background:0 0;
        border:none;
        justify-content:start;
    }
}
.navbar-light .navbar-toggler {
   font-size: .92rem;
   font-weight: bold;
   border: unset !important;
   color: #00aa6c;
}
.navbar {
   border-bottom: 1px solid #00aa6c !important;
}

.nav-text {
   font-family: Arial,Helvetica,sans-serif !important;
   line-height: normal;
   text-align: end;
   width: 33.33% !important;
   font-size: 12px;
   color: #000000;

   .text-bottom {
      ul {
         list-style: none;
         padding: 0;
         margin: 0;
         li {
            display: inline-block;
            margin-right: 10px;
            a {
               border-left: 1px solid #dbdbdb;
               color: #069;
               text-decoration: none;
               outline: none;
               cursor: pointer;
            }
         }
      }
   }
}
@media(max-width:992px){
   
   nav.second-nav {
      display: none;
   }
   .navbar-brand {
      text-align: left !important;
      padding: 0 !important;
      width: 33.33% !important;
      margin-bottom: 0.15rem !important;
   }
   .brand-logo {
      width: 135px;
   }
    .navbar {
      height: 36px !important;
      padding: 0 !important;

      .container {
         justify-content: flex-start;
         .navbar-toggler {
            width: 33.33% !important;
         }
         padding: 0 !important;
         .nav-text {
            width: 33.33% !important;
            display: none;
         }
      }  
    }
    .offcanvas {
        width:250px!important
    }
    .offcanvas-start-lg {
        top:0 !important;
        left:0 !important;
        border-right: 1px solid rgba(0,0,0,.2);
        transform:translateX(-100%)
    }
}

.subnav {
   flex: 0 1 auto;
   overflow: hidden;
   white-space: normal;
   overflow: hidden;
   li {
      margin: 0 10px;
      font-size: 92% !important;
      cursor: pointer;
   }
}
.signintext {
   padding: 1em !important;
   border-radius: 20px !important;
   text-decoration: unset !important;
   .text {
      font-weight: 700 !important;
      font-size: 16px !important;
   }
   &:hover {
      text-decoration: unset !important;
      color: white !important;
      opacity: 0.8;
   }
}
</style>