<script setup lang="ts">
import { computed } from 'vue';
import { RouterLink } from 'vue-router';
import { menu } from '@/helpers/';
import useAuth from '@/store/auth';
import logo from '@/assets/img/logo.svg?url';

const { bussy, home, mobile } = defineProps(
    ['bussy', 'home', 'mobile']
);

const auth = useAuth();
const logged = computed(() => auth.logged);
const user = computed(() => auth.user);

const authurl = import.meta.env.VITE_APP_AUTH_URL;

const loginOpen = () => {
   const redirectTo: string = window.btoa(window.location.href);
   const urlTo: string = `${authurl}?redirect=${redirectTo}&action=login`;
   window.location.href = urlTo;
}
const logoutOpen = () => {
   let u = new URL(window.location.href);
   u.hash = ''; u.search = '';
   u = new URL(u.toString());
   const redirectTo: string = window.btoa(u.href);
   console.log('redirectTo', redirectTo);
   const urlTo: string = `${authurl}/?redirect=${redirectTo}&action=logout`;
   auth.logout(false);
   const logoutWindow = window.open(urlTo, '_blank');
   setTimeout(() => {
      logoutWindow?.close();
   }, 1000);
}
</script>
 
<template>
<nav class="navbar navbar-expand-lg navbar-light bg-white border border-top-0 border-bottom-1">
   <div class="container">
      <a class="navbar-toggler px-2" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample" >
         <i class="fa-solid fa-bars"></i>
      </a>
      <RouterLink to="/" class="navbar-brand" >
         <picture>
            <img :src="logo" alt="Logo" class="h-100 brand-logo">
         </picture>
      </RouterLink>
      
      <div class="offcanvas offcanvas-start-lg bg-white" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel" >
         <div class="offcanvas-header" style="justify-content: right;">
            <a href="#" @click.prevent class="text-reset p-0" data-bs-dismiss="offcanvas" aria-label="close">
               <i class="fa-solid fa-xmark"></i>
            </a>
         </div>
         <div class="offcanvas-body p-lg-0">
            <ul class="navbar-nav d-none d-lg-flex w-100 me-3">
               <li class="ms-3 nav-item w-100">
                  <div class="input-group position-relative">
                     <input type="text" class="form-control form-control-lg search-input bg-transparent ps-5">
                     <i class="fa-regular fa-magnifying-glass position-absolute" style="top: 18px; left: 18px"></i>
                  </div>
               </li>
            </ul>
            <ul class="navbar-nav d-lg-none navmobile" v-if="logged">
               <li class="nav-item text-start mb-4">
                  <a-avatar :size="40" style="cursor: pointer;" :src="user.picture" /> 
                  <span class="ms-3 fs-6 fw-bold">{{ user.name }}</span>
               </li>
               <li class="nav-item">
                  <a class="nav-link first-lis fw-bold fs-4" aria-current="page" href="#">{{ $t('nav.review') }}</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link first-lis fw-bold fs-4" aria-current="page" href="#">{{ $t('nav.trips') }}</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link first-lis fw-bold fs-4" aria-current="page" href="#">{{ $t('nav.alerts') }}</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link first-lis fw-bold fs-4" aria-current="page" href="#">{{ $t('nav.bookings') }}</a>
               </li>
               <li class="nav-item">
                  <hr>
               </li>
               <li class="nav-item" v-for="(item, index) in menu" :key="index">
                  <a :href="item.route" @click.prevent class="nav-link second-lis fw-bold fs-6">
                     <span v-if="item.name === 'nav.best_of'">{{  $t(item.name, { year: new Date().getFullYear() }) }}</span>
                     <span v-else>{{  $t(item.name) }}</span>
                  </a>
               </li>
               <li class="nav-item">
                  <hr>
               </li>
               <a href="/user/logout" @click.prevent="logoutOpen" class="nav-link fw-bold fs-6" >{{ $t('nav.sign_out') }}</a>
            </ul>
            <ul class="navbar-nav d-lg-none navmobile" v-else>
               <li class="nav-item text-center mb-4">
                  <button @click.prevent="loginOpen" class="btn btn-dark w-100 btn-signin-menu-mobile">{{ $t('nav.sign_in') }}</button>
               </li>
               <li class="nav-item">
                  <a class="nav-link first-lis fw-bold fs-4" aria-current="page" href="#">{{ $t('nav.review') }}</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link first-lis fw-bold fs-4" aria-current="page" href="#">{{ $t('nav.trips') }}</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link first-lis fw-bold fs-4" aria-current="page" href="#">{{ $t('nav.alerts') }}</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link first-lis fw-bold fs-4" aria-current="page" href="#">{{ $t('nav.bookings') }}</a>
               </li>
               <li class="nav-item">
                  <hr>
               </li>
               <li class="nav-item" v-for="(item, index) in menu" :key="index">
                  <a :href="item.route" @click.prevent class="nav-link second-lis fw-bold fs-6">
                     <span v-if="item.name === 'nav.best_of'">{{  $t(item.name, { year: new Date().getFullYear() }) }}</span>
                     <span v-else>{{  $t(item.name) }}</span>
                  </a>
               </li>
            </ul>
         </div>
      </div>
      <a class="navicon d-none d-lg-block me-2" href="#">
         <i class="fa-regular fa-pencil fa-lg"></i> <span class="fw-bold ms-1">{{ $t('nav.review') }}</span>
      </a>
      <a class="navicon d-none d-lg-block me-2" href="#">
         <i class="fa-regular fa-heart fa-lg"></i> <span class="fw-bold ms-1">{{ $t('nav.trips') }}</span>
      </a>
      
      <a class="navicon d-none d-lg-block me-2" href="#">
         <i class="fa-regular fa-bell fa-lg"></i> <span class="fw-bold ms-1">{{ $t('nav.alerts') }}</span>
      </a>
      <a-popover placement="bottomLeft" v-if="logged" trigger="click" class="d-none d-lg-block">
         <template #content>
            <div class="list-group">
               <a class="text-start list-group-item border-0 fw-bold list-group-item-action" style="font-size: 16px;">{{ $t('nav.view_profile') }}</a>
               <a class="text-start list-group-item border-0 fw-bold list-group-item-action" style="font-size: 16px;">{{ $t('nav.bookings') }}</a>
               <a class="text-start list-group-item border-0 fw-bold list-group-item-action" style="font-size: 16px;">{{ $t('nav.account_info') }}</a>
               <a href="/user/logout" @click.prevent="logoutOpen" class="text-start list-group-item border-0 fw-bold list-group-item-action" style="font-size: 16px;">{{ $t('nav.sign_out') }}</a>
            </div>
         </template>
         <a-avatar :size="40" style="cursor: pointer;" :src="user.picture" />
         <!-- {{ user }} -->
      </a-popover>
      <a v-else href="/user/login" @click.prevent="loginOpen" class="signintext badge rounded-pill bg-dark d-none d-lg-block me-2">
         <strong class="text mx-2">{{ $t('nav.sign_in') }}</strong>
      </a>
     
      <a class="navicon d-block d-lg-none" href="#">
         <i class="fa-regular fa-magnifying-glass fa-lg"></i>
      </a>
   </div>
</nav>
<nav class="navbar second-nav navbar-expand-lg navbar-light bg-white border border-bottom-1 border-top-0">
   <div class="container">
      <ul class="p-0 m-0 navbar-nav subnav">
         <li v-for="(item, index) in menu" :key="index" class="nav-item" >
            <span :class="item.active ? 'fw-bolder' : ''" v-if="item.name === 'nav.best_of'">{{  $t(item.name, { year: new Date().getFullYear() }) }}</span>
            <span v-else :class="item.active ? 'fw-bolder' : ''">{{ $t(item.name) }}</span>
         </li>
      </ul>
      <ul class="p-0 m-0 navbar-nav subnav-overflow">
         <li class="nav-item"> <i class="fa-solid fa-ellipsis"></i> </li>
      </ul>
   </div>
</nav>

<!-- <auth-modal :mobile="mobile"/> -->
</template>

<style lang="scss" scoped>
.navmobile {
   li {
      a.first-lis {
         color: #000 !important;
      }
      a.second-lis {
         color: rgba(0, 0, 0, 0.767) !important;
      }
   }
   .btn-signin-menu-mobile {
      border-radius: 20px;
   }
}

.navicon {
   color: unset !important;
   min-width: 40px;
   height: 40px;
   border-radius: 20px;
   padding: 6px;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   position: relative;
   cursor: pointer;
   border: 2px solid rgba(0,0,0,0);
   align-items: center;
   justify-content: center;
   text-decoration: none;
   transition: background-color .1s linear,border-color .1s linear;
      &:hover {
         background-color: #f5f5f5;
      }
}
.search-input {
   min-width: 240px !important;
   border-radius: 21px !important;
   height: 38px;
   line-height: 38px;
   padding: 0 0 0 31px;
   vertical-align: middle;
}
@media(min-width:992px) {
   .brand-logo {
      width: 188px;
   }
    .offcanvas{
        visibility:visible;
        position:relative;
        background:0 0;
        border:none;
        justify-content:start;
    }
}
@media(max-width:992px){
   nav.second-nav {
      display: none;
   }
   .brand-logo {
      width: 135px;
   }
    .navbar {
        height: 50px !important;
    }
    .offcanvas {
        width:250px!important
    }
    .offcanvas-start-lg {
        top:0 !important;
        left:0 !important;
        border-right: 1px solid rgba(0,0,0,.2);
        transform:translateX(-100%)
    }
}
.navbar-light .navbar-toggler {
    color: rgba(0, 0, 0,) !important;
    border: unset !important;
}
.subnav {
   flex: 0 1 auto;
   overflow: hidden;
   white-space: normal;
   overflow: hidden;
   li {
      margin: 0 10px;
      font-size: 92% !important;
      cursor: pointer;
   }
}
.signintext {
   padding: 1em !important;
   border-radius: 20px !important;
   text-decoration: unset !important;
   .text {
      font-weight: 700 !important;
      font-size: 16px !important;
   }
   &:hover {
      text-decoration: unset !important;
      color: white !important;
      opacity: 0.8;
   }
}
</style>