<div style="min-width: 100%; padding: 0; margin: 0; background-color: #ffffff;" bgcolor="#ffffff" id="{email_id}">
    <table border="0" cellspacing="0" cellpadding="0" width="100%" style="background-color: #f5f5f5;">
        <tbody id="{email_id}">
            <tr>
                <td height="0" style="line-height: 0px; font-size: 0px; color: #f5f5f5; height: 0px; font-family: Arial, Helvetica, sans-serif; border-collapse: separate;">
                    You'll receive an answer in 24 hours
                </td>
            </tr>
            <tr>
                <td align="left" height="15" style="line-height: 15px; height: 15px; font-size: 0px; border-collapse: separate;">
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td align="center">
                    <table width="600" border="0" cellspacing="0" cellpadding="0" style="border-collapse: separate; width: 600px; background-color: #ffffff;">
                        <tbody>
                            <tr>
                                <td style="color: #4a4a4a; font-size: 20px; padding: 15px; font-family: Arial, Helvetica, sans-serif;">
                                    <a
                                        href="#"
                                        style="text-decoration: none; color: #4a4a4a;"
                                   >
                                        <img
                                            src="https://res.cloudinary.com/dguu5sqgh/image/upload/v1651790870/tripadvisor/public/ta_logo_transparent_230px.png.png"
                                            height="40"
                                            border="0"
                                            style="display: block; height: 40px;"
                                            alt="Vacation Rentals"
                                            class="CToWUd"
                                        />
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td align="left" height="5" style="background-color: #00a680; line-height: 5px; color: #00a680; font-size: 0px; height: 5px; line-height: 5px; border-collapse: separate;">
                                    &nbsp;
                                </td>
                            </tr>

                            <tr>
                                <td valign="top" align="right">
                                    <table align="right" border="0" cellspacing="0" cellpadding="0" style="border-collapse: separate;" bgcolor="#f5f5f5">
                                        <tbody>
                                            <tr>
                                                <td align="center">
                                                    <table border="0" cellspacing="0" cellpadding="0" style="border-collapse: separate;">
                                                        <tbody>
                                                            <tr>
                                                                <td
                                                                    valign="middle"
                                                                    style="padding: 7px 14px; font-family: Arial, Helvetica, sans-serif; font-size: 10px; line-height: 15px; color: #4a4a4a; text-align: right; white-space: nowrap;"
                                                                >
                                                                    BOOKING REFERENCE
                                                                </td>
                                                                <td
                                                                    valign="bottom"
                                                                    style="
                                                                        padding: 7px 14px;
                                                                        font-family: Arial, Helvetica, sans-serif;
                                                                        font-size: 14px;
                                                                        line-height: 15px;
                                                                        color: #4a4a4a;
                                                                        text-align: left;
                                                                        white-space: nowrap;
                                                                        font-weight: bold;
                                                                    "
                                                                >
                                                                    {code}
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>

                            <tr>
                                <td height="20" style="font-size: 0px; height: 20px; line-height: 20px; border-collapse: separate;">
                                    &nbsp;
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>

    <table border="0" cellspacing="0" cellpadding="0" width="100%" bgcolor="#f5f5f5" id="{email_id}">
        <tbody>
            <tr>
                <td align="center" valign="top" style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; padding-top: 0px; padding-bottom: 0px;">
                    <table width="600" border="0" cellspacing="0" cellpadding="0" style="border-collapse: separate;" bgcolor="#ffffff">
                        <tbody>
                            <tr>
                                <td style="padding: 0 20px;">
                                    <table border="0" cellspacing="0" cellpadding="0" style="border-collapse: separate;" bgcolor="#ffffff">
                                        <tbody>
                                            <tr>
                                                <td align="left" style="color: #00a680; font-size: 18px; font-family: Arial, Helvetica, sans-serif; padding: 0 0 20px;">
                                                    Your booking request has been sent!
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding: 0 0 10px; font-family: Arial, Helvetica, sans-serif; color: #4a4a4a; font-size: 14px; line-height: 20px; text-align: left;">
                                                    You’re going to {city}! This is a confirmed booking request. Payment must be completed within 24 to 48 hours.
                                                </td>
                                            </tr>

                                            

                                            <tr>
                                                <td align="left" style="padding: 20px 0 10px; color: #00a680; font-family: Arial, Helvetica, sans-serif; font-size: 18px; line-height: 20px;">
                                                    Your booking request
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding: 0 0 10px;">
                                                    <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: separate;">
                                                        <tbody>
                                                            <tr>
                                                                <td align="left" colspan="2" style="font-family: Arial, Helvetica, sans-serif; font-size: 17px;">
                                                                    <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: separate;">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td align="left">
                                                                                    <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: separate;">
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td align="left" style="color: #006699; font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-weight: bold; line-height: 18px;">
                                                                                                    <a
                                                                                                        style="color: #006699; font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-weight: bold; text-decoration: none;"
                                                                                                        href="#"
                                                                                                    >
                                                                                                    {home_name}
                                                                                                    </a>
                                                                                                </td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>

                                                            <tr>
                                                                <td align="left" colspan="2">
                                                                    <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: separate;">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td align="left">
                                                                                    <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: separate;">
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td align="left" style="color: #4a4a4a; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 18px; padding: 0 0 10px;">
                                                                                                    {address} |
                                                                                                    <span style="white-space: nowrap;"> Sleeps <b>{sleeps}</b> </span>
                                                                                                </td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>

                                                            <tr>
                                                                <td valign="top" width="200" style="background-color: #f5f5f5; width: 200px;">
                                                                    <a
                                                                        href="#"
                                                                        style="text-decoration: none; color: #006699;"
                                                                    >
                                                                        <img
                                                                            alt="{home_name}" 
                                                                            src="{home_img}"
                                                                            width="200"
                                                                            height="150"
                                                                            border="0"
                                                                            style="display: block; height: 150px; width: 200px;"
                                                                            class="CToWUd"
                                                                        />
                                                                    </a>
                                                                </td>
                                                                <td valign="top" width="300" style="background-color: #f5f5f5; padding: 0 20px; width: 300px;">
                                                                    <a
                                                                        href="#"
                                                                        style="text-decoration: none; color: #4a4a4a;"
                                                                    >
                                                                        <table valign="top" align="left" width="300" border="0" cellspacing="0" cellpadding="0" style="border-collapse: separate; width: 300px;">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td height="10" style="font-size: 10px; height: 10px; line-height: 10px;">
                                                                                        &nbsp;
                                                                                    </td>
                                                                                </tr>

                                                                                <tr>
                                                                                    <td align="left" style="padding: 0 0 2px; font-family: Arial, Helvetica, sans-serif; color: #4a4a4a; font-size: 12px;">
                                                                                        <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: separate;">
                                                                                            <tbody>
                                                                                                <tr>
                                                                                                    <td align="left" style="padding: 2px 0; font-family: Arial, Helvetica, sans-serif; color: #4a4a4a; font-size: 14px; line-height: 15px;">
                                                                                                        BOOKING REF: <b>{code}</b>
                                                                                                    </td>
                                                                                                </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </td>
                                                                                </tr>

                                                                                <tr>
                                                                                    <td height="2" style="font-size: 2px; height: 2px; line-height: 2px; border-collapse: separate;">
                                                                                        &nbsp;
                                                                                    </td>
                                                                                </tr>

                                                                                <tr>
                                                                                    <td align="left" style="padding: 0 0 2px; font-family: Arial, Helvetica, sans-serif; color: #4a4a4a; font-size: 12px;">
                                                                                        <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: separate;">
                                                                                            <tbody>
                                                                                                <tr>
                                                                                                    <td align="left" style="padding: 2px 0; font-family: Arial, Helvetica, sans-serif; color: #4a4a4a; font-size: 14px; line-height: 15px;">
                                                                                                        DATES: <b>{checkin} - {checkout}</b>
                                                                                                    </td>
                                                                                                </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </td>
                                                                                </tr>

                                                                                <tr>
                                                                                    <td height="2" style="font-size: 2px; height: 2px; line-height: 2px; border-collapse: separate;">
                                                                                        &nbsp;
                                                                                    </td>
                                                                                </tr>

                                                                                <tr>
                                                                                    <td align="left" style="padding: 0 0 2px; font-family: Arial, Helvetica, sans-serif; color: #4a4a4a; font-size: 12px;">
                                                                                        <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: separate;">
                                                                                            <tbody>
                                                                                                <tr>
                                                                                                    <td align="left" style="padding: 2px 0; font-family: Arial, Helvetica, sans-serif; color: #4a4a4a; font-size: 14px; line-height: 15px;">
                                                                                                        GUESTS: <b>{guests} {guests_str}</b>
                                                                                                    </td>
                                                                                                </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </td>
                                                                                </tr>

                                                                                <tr>
                                                                                    <td height="2" style="font-size: 2px; height: 2px; line-height: 2px; border-collapse: separate;">
                                                                                        &nbsp;
                                                                                    </td>
                                                                                </tr>

                                                                                <tr>
                                                                                    <td align="left" style="padding: 0 0 2px; font-family: Arial, Helvetica, sans-serif; color: #4a4a4a; font-size: 12px;">
                                                                                        <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: separate;">
                                                                                            <tbody>
                                                                                                <tr>
                                                                                                    <td align="left" style="padding: 2px 0; font-family: Arial, Helvetica, sans-serif; color: #4a4a4a; font-size: 14px; line-height: 15px;">
                                                                                                        DUE NOW ({status}): <b>{due_now}</b>
                                                                                                    </td>
                                                                                                </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </td>
                                                                                </tr>

                                                                                <tr>
                                                                                    <td height="2" style="font-size: 2px; height: 2px; line-height: 2px; border-collapse: separate;">
                                                                                        &nbsp;
                                                                                    </td>
                                                                                </tr>

                                                                                <tr>
                                                                                    <td align="left" style="padding: 0 0 2px; font-family: Arial, Helvetica, sans-serif; color: #4a4a4a; font-size: 12px;">
                                                                                        <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: separate;">
                                                                                            <tbody>
                                                                                                <tr>
                                                                                                    <td align="left" style="padding: 2px 0; font-family: Arial, Helvetica, sans-serif; color: #4a4a4a; font-size: 14px; line-height: 15px;">
                                                                                                        TOTAL: <b>{due_next}</b>
                                                                                                    </td>
                                                                                                </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </td>
                                                                                </tr>

                                                                                <tr>
                                                                                    <td height="2" style="font-size: 2px; height: 2px; line-height: 2px; border-collapse: separate;">
                                                                                        &nbsp;
                                                                                    </td>
                                                                                </tr>

                                                                                <tr>
                                                                                    <td height="10" style="font-size: 10px; height: 10px; line-height: 10px;">
                                                                                        &nbsp;
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td style="padding: 10px 0;">
                                                    <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: separate; border-bottom: 1px #e9e9e9 solid;">
                                                        <tbody>
                                                            <tr>
                                                                <td colspan="2" style="font-size: 18px; line-height: 20px; color: #00a680; font-family: Arial, Helvetica, sans-serif; padding: 5px 0; text-align: left;">
                                                                    What's next?
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td height="10" valign="top" colspan="2" style="font-size: 10px; line-height: 10px;">
                                                                    &nbsp;
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td valign="top" width="3%" style="line-height: 20px; text-align: left; padding-top: 5px;">
                                                                    <img
                                                                        src="https://res.cloudinary.com/dguu5sqgh/image/upload/v1657676183/tripadvisor/public/c_right.png"
                                                                        width="10"
                                                                        border="0"
                                                                        style="display: block;"
                                                                        class="CToWUd"
                                                                    />
                                                                </td>
                                                                <td width="97%" style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 20px; color: #4a4a4a; text-align: left;">
                                                                    You'll have to confirm payment within 24 to 48 hours.
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td height="10" valign="top" colspan="2" style="font-size: 10px; line-height: 10px;">
                                                                    &nbsp;
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td valign="top" width="3%" style="line-height: 20px; text-align: left; padding-top: 5px;">
                                                                    <img
                                                                        src="https://res.cloudinary.com/dguu5sqgh/image/upload/v1657676183/tripadvisor/public/c_right.png"
                                                                        width="10"
                                                                        border="0"
                                                                        style="display: block;"
                                                                        class="CToWUd"
                                                                    />
                                                                </td>
                                                                <td width="97%" style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 20px; color: #4a4a4a; text-align: left;">
                                                                    We'll process your payment after {host_name} accepts.
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td height="10" valign="top" colspan="2" style="font-size: 10px; line-height: 10px;">
                                                                    &nbsp;
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td valign="top" width="3%" style="line-height: 20px; text-align: left; padding-top: 5px;">
                                                                    <img
                                                                        src="https://res.cloudinary.com/dguu5sqgh/image/upload/v1657676183/tripadvisor/public/c_right.png"
                                                                        width="10"
                                                                        border="0"
                                                                        style="display: block;"
                                                                        class="CToWUd"
                                                                    />
                                                                </td>
                                                                <td width="97%" style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 20px; color: #4a4a4a; text-align: left;">
                                                                    Although your account has not been charged, you may see a pre-authorisation on your statement.
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td height="10" valign="top" colspan="2" style="font-size: 10px; line-height: 10px;">
                                                                    &nbsp;
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td valign="top" width="3%" style="line-height: 20px; text-align: left; padding-top: 5px;">
                                                                    <img
                                                                        src="https://res.cloudinary.com/dguu5sqgh/image/upload/v1657676183/tripadvisor/public/c_right.png"
                                                                        width="10"
                                                                        border="0"
                                                                        style="display: block;"
                                                                        class="CToWUd"
                                                                    />
                                                                </td>
                                                                <td width="97%" style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 20px; color: #4a4a4a; text-align: left;">
                                                                    {host_name} will receive payment 2 days after check-in.
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td height="30" valign="top" colspan="2" style="font-size: 30px; line-height: 30px;">
                                                                    &nbsp;
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td align="left" style="padding: 15px 0;">
                                                    <table align="left" width="540" border="0" cellspacing="0" cellpadding="0" style="border-collapse: separate; width: 540px;">
                                                        <tbody>
                                                            <tr>
                                                                <td align="left" valign="middle" width="57" style="width: 57px;">
                                                                    <a
                                                                        href="#"
                                                                        alt="Payment Protection Link"
                                                                        style="text-decoration: none;"
                                                                    >
                                                                        <img
                                                                            src="https://res.cloudinary.com/dguu5sqgh/image/upload/v1657676066/tripadvisor/public/protect.png"
                                                                            border="0"
                                                                            width="57"
                                                                            height="56"
                                                                            style="display: block; width: 57px; height: 56px;"
                                                                            class="CToWUd"
                                                                        />
                                                                    </a>
                                                                </td>
                                                                <td width="12" style="width: 12px;">
                                                                    &nbsp;
                                                                </td>
                                                                <td align="left">
                                                                    <table border="0" cellspacing="0" cellpadding="0" style="border-collapse: separate;">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td align="left" style="font-family: Arial, Helvetica; font-size: 14px; color: #4a4a4a; font-weight: bold; padding: 0 0 8px;">
                                                                                    Protect your payment — pay through us
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="left" valign="top" style="font-family: Arial, Helvetica; color: #4a4a4a; font-size: 14px; line-height: 19px;">
                                                                                    To keep your payment secure, pay through the <span class="il">Tripadvisor</span> website with {payment_gateway}.
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="left" style="font-size: 18px; line-height: 20px; color: #c60035; font-family: Arial, Helvetica, sans-serif; padding: 0 0 15px; text-align: left;">
                                                    *Important
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding: 0 0 20px;">
                                                    <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: separate;">
                                                        <tbody>
                                                            <tr>
                                                                <td valign="top" width="4%" style="color: #c60035; font-size: 25px; line-height: 20px; text-align: left;">
                                                                    •
                                                                </td>
                                                                <td width="96%" style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 20px; color: #4a4a4a; font-weight: bold; text-align: left;">
                                                                    Pay with: {payment_gateway}
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="2" style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 20px; color: #4a4a4a; padding: 5px 20px 15px; text-align: left;">
                                                                    {payment_instructions}
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td valign="top" width="4%" style="color: #c60035; font-size: 25px; line-height: 20px; text-align: left;">
                                                                    •
                                                                </td>
                                                                <td width="96%" style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 20px; color: #4a4a4a; font-weight: bold; text-align: left;">
                                                                    Beneficiary: {payment_name}
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="2" style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 20px; color: #4a4a4a; padding: 5px 20px 15px; text-align: left;">
                                                                    
                                                                    {payment_details}
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="left" style="font-size: 18px; line-height: 20px; color: #00a680; font-family: Arial, Helvetica, sans-serif; padding: 15px 0; text-align: left;">
                                                    Common questions about requests
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding: 0 0 20px;">
                                                    <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: separate;">
                                                        <tbody>
                                                            <tr>
                                                                <td valign="top" width="4%" style="color: #00a680; font-size: 25px; line-height: 20px; text-align: left;">
                                                                    •
                                                                </td>
                                                                <td width="96%" style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 20px; color: #4a4a4a; font-weight: bold; text-align: left;">
                                                                    How do I cancel my booking request?
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="2" style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 20px; color: #4a4a4a; padding: 5px 20px 15px; text-align: left;">
                                                                    You must ask the owner to decline your request. <span class="il">Tripadvisor</span> is not able to cancel a booking request on the owner’s behalf.
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td valign="top" width="4%" style="color: #00a680; font-size: 25px; line-height: 20px; text-align: left;">
                                                                    •
                                                                </td>
                                                                <td width="96%" style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 20px; color: #4a4a4a; font-weight: bold; text-align: left;">
                                                                    Why do I see a pending charge on my account when the booking was not accepted?
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="2" style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 20px; color: #4a4a4a; padding: 5px 20px 15px; text-align: left;">
                                                                    Although we haven’t charged your account, you may see a hold for the pre-authorized amount on your statement. This is so we can process your booking as soon as it's
                                                                    accepted.
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td style="padding: 0 0 20px;">
                                                    <table border="0" cellspacing="0" cellpadding="0" style="border-collapse: separate;">
                                                        <tbody>
                                                            <tr>
                                                                <td width="100%" style="padding: 0;">
                                                                    <table border="0" cellspacing="0" cellpadding="0" style="border-collapse: separate;" width="100%">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td width="1" valign="bottom">
                                                                                    <table width="1" height="20" border="0" cellspacing="0" cellpadding="0" style="border-collapse: separate;">
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td width="1" height="8" bgcolor="#ffffff" style="font-size: 0px; line-height: 8px; border-collapse: separate; display: block;">
                                                                                                    &nbsp;
                                                                                                </td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td width="1" height="12" bgcolor="#f5f5f5" style="font-size: 0px; line-height: 12px; border-collapse: separate; display: block;">
                                                                                                    &nbsp;
                                                                                                </td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                                <td>
                                                                                    <table border="0" cellspacing="0" cellpadding="0" style="border-collapse: separate;" width="100%">
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td width="10">
                                                                                                    &nbsp;
                                                                                                </td>
                                                                                                <td
                                                                                                    width="270"
                                                                                                    height="18"
                                                                                                    style="font-size: 18px; line-height: 20px; color: #00a680; font-family: Arial, Helvetica; text-align: left; white-space: nowrap;"
                                                                                                    valign="top"
                                                                                                >
                                                                                                    Your vacation rental toolkit
                                                                                                </td>
                                                                                                <td width="10">
                                                                                                    &nbsp;
                                                                                                </td>
                                                                                                <td valign="bottom">
                                                                                                    <table border="0" cellspacing="0" cellpadding="0" style="border-collapse: separate;" width="100%">
                                                                                                        <tbody>
                                                                                                            <tr>
                                                                                                                <td bgcolor="#ffffff" height="8" style="font-size: 0px; line-height: 8px; border-collapse: separate; display: block;">
                                                                                                                    &nbsp;
                                                                                                                </td>
                                                                                                            </tr>
                                                                                                            <tr>
                                                                                                                <td bgcolor="#f5f5f5" height="1" style="font-size: 0px; line-height: 1px; border-collapse: separate; display: block;">
                                                                                                                    &nbsp;
                                                                                                                </td>
                                                                                                            </tr>
                                                                                                            <tr>
                                                                                                                <td bgcolor="#ffffff" height="11" style="font-size: 0px; line-height: 11px; border-collapse: separate; display: block;">
                                                                                                                    &nbsp;
                                                                                                                </td>
                                                                                                            </tr>
                                                                                                        </tbody>
                                                                                                    </table>
                                                                                                </td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>

                                                                                    <div style="font-size: 0; max-height: 0; overflow: hidden; display: none;">
                                                                                        <table border="0" cellspacing="0" cellpadding="0" style="border-collapse: separate;" width="100%">
                                                                                            <tbody>
                                                                                                <tr>
                                                                                                    <td width="210" height="18" style="font-size: 18px; line-height: 20px; color: #00a680; font-family: Arial, Helvetica;" valign="top">
                                                                                                        Your vacation rental toolkit
                                                                                                    </td>
                                                                                                </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </div>
                                                                                </td>
                                                                                <td width="1" valign="bottom">
                                                                                    <table width="1" height="20" border="0" cellspacing="0" cellpadding="0" style="border-collapse: separate;">
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td width="1" height="8" bgcolor="#ffffff" style="font-size: 0px; line-height: 8px; border-collapse: separate; display: block;">
                                                                                                    &nbsp;
                                                                                                </td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td width="1" height="12" bgcolor="#f5f5f5" style="font-size: 0px; line-height: 12px; border-collapse: separate; display: block;">
                                                                                                    &nbsp;
                                                                                                </td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>

                                                            <tr>
                                                                <td width="100%">
                                                                    <table border="0" cellspacing="0" cellpadding="0" style="border-collapse: separate;" width="100%">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td width="1" bgcolor="#f5f5f5"></td>
                                                                                <td bgcolor="#ffffff">
                                                                                    <table border="0" cellspacing="0" cellpadding="0" style="border-collapse: separate;">
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td style="padding: 20px 10px;">
                                                                                                    <table border="0" cellspacing="0" cellpadding="0" style="border-collapse: separate;">
                                                                                                        <tbody>
                                                                                                            <tr>
                                                                                                                <td width="10">
                                                                                                                    &nbsp;
                                                                                                                </td>

                                                                                                                <td
                                                                                                                    style="
                                                                                                                        font-family: Arial, Helvetica;
                                                                                                                        font-size: 14px;
                                                                                                                        color: #4a4a4a;
                                                                                                                        text-align: left;
                                                                                                                        line-height: 20px;
                                                                                                                        padding-bottom: 10px;
                                                                                                                        padding-right: 10px;
                                                                                                                    "
                                                                                                                    valign="top"
                                                                                                                ></td>

                                                                                                                <td
                                                                                                                    style="
                                                                                                                        font-family: Arial, Helvetica;
                                                                                                                        font-size: 14px;
                                                                                                                        color: #4a4a4a;
                                                                                                                        text-align: left;
                                                                                                                        line-height: 20px;
                                                                                                                        padding-bottom: 10px;
                                                                                                                        padding-right: 10px;
                                                                                                                    "
                                                                                                                    valign="top"
                                                                                                                >
                                                                                                                    <a
                                                                                                                        href="#"
                                                                                                                        style="text-decoration: none; color: #006699;"
                                                                                                                    >
                                                                                                                        Rental Inbox
                                                                                                                    </a>
                                                                                                                    : Easily and safely manage everything related to your inquiry.
                                                                                                                </td>
                                                                                                            </tr>

                                                                                                            <tr>
                                                                                                                <td width="10">
                                                                                                                    &nbsp;
                                                                                                                </td>

                                                                                                                <td
                                                                                                                    style="
                                                                                                                        font-family: Arial, Helvetica;
                                                                                                                        font-size: 14px;
                                                                                                                        color: #4a4a4a;
                                                                                                                        text-align: left;
                                                                                                                        line-height: 20px;
                                                                                                                        padding-bottom: 10px;
                                                                                                                        padding-right: 10px;
                                                                                                                    "
                                                                                                                    valign="top"
                                                                                                                ></td>

                                                                                                                <td
                                                                                                                    style="
                                                                                                                        font-family: Arial, Helvetica;
                                                                                                                        font-size: 14px;
                                                                                                                        color: #4a4a4a;
                                                                                                                        text-align: left;
                                                                                                                        line-height: 20px;
                                                                                                                        padding-bottom: 10px;
                                                                                                                        padding-right: 10px;
                                                                                                                    "
                                                                                                                    valign="top"
                                                                                                                >
                                                                                                                    <a
                                                                                                                        href="#"
                                                                                                                        style="text-decoration: none; color: #006699;"
                                                                                                                    >
                                                                                                                        FAQs
                                                                                                                    </a>
                                                                                                                    : <i>What if I don't hear back? How do I book?</i> Get answers to all of your rental-related questions.
                                                                                                                </td>
                                                                                                            </tr>
                                                                                                        </tbody>
                                                                                                    </table>
                                                                                                </td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                                <td width="1" bgcolor="#f5f5f5"></td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>

                                                            <tr>
                                                                <td width="100%" bgcolor="#f5f5f5" height="1" style="font-size: 0px; line-height: 1px; border-collapse: separate;">
                                                                    &nbsp;
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td width="540" valign="top" style="font-size: 0px; line-height: 0px; border-collapse: separate;">
                                                                    <img
                                                                        src="https://res.cloudinary.com/dguu5sqgh/image/upload/v1657480920/tripadvisor/public/separator.jpg"
                                                                        width="540"
                                                                        height="6"
                                                                        border="0"
                                                                        style="display: block;"
                                                                        class="CToWUd"
                                                                    />
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>
                                                    <table border="0" cellspacing="0" cellpadding="0" style="border-collapse: separate;" width="100%">
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    <table align="center" valign="middle" border="0" cellspacing="0" cellpadding="0" width="100%" bgcolor="#ffffff" height="141" style="height: 141px;">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td>
                                                                                    <table align="center" valign="middle" border="0" cellspacing="0" cellpadding="0" width="100%" bgcolor="#ffffff" height="141" style="height: 141px;">
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td style="padding: 12px 15px;">
                                                                                                    <table border="0" cellspacing="0" cellpadding="0" style="border-collapse: separate;" width="100%" height="100%">
                                                                                                        <tbody>
                                                                                                            <tr>
                                                                                                                <td
                                                                                                                    valign="top"
                                                                                                                    align="center"
                                                                                                                    style="font-family: Arial, Helvetica, sans-serif; color: #00a680; font-size: 18px; line-height: 24pxpx;"
                                                                                                                >
                                                                                                                    Get all the rental details you need,<br />
                                                                                                                    wherever you are
                                                                                                                </td>
                                                                                                            </tr>

                                                                                                            <tr>
                                                                                                                <td height="3" style="font-size: 0px; height: 3px; line-height: 3px; border-collapse: separate;">
                                                                                                                    &nbsp;
                                                                                                                </td>
                                                                                                            </tr>

                                                                                                            <tr>
                                                                                                                <td
                                                                                                                    valign="top"
                                                                                                                    align="center"
                                                                                                                    style="font-family: Arial, Helvetica, sans-serif; color: #4a4a4a; font-size: 14px; line-height: 18pxpx;"
                                                                                                                >
                                                                                                                    Download our free mobile app
                                                                                                                </td>
                                                                                                            </tr>

                                                                                                            <tr>
                                                                                                                <td height="3" style="font-size: 0px; height: 3px; line-height: 3px; border-collapse: separate;">
                                                                                                                    &nbsp;
                                                                                                                </td>
                                                                                                            </tr>

                                                                                                            <tr>
                                                                                                                <td style="text-align: center; padding: 10px 0;">
                                                                                                                    <table align="center" cellspacing="0" cellpadding="0" border="0" style="border-collapse: separate;">
                                                                                                                        <tbody>
                                                                                                                            <tr>
                                                                                                                                <td align="center" style="padding: 0 10px 0 0;">
                                                                                                                                    <a href="#">
                                                                                                                                        <img
                                                                                                                                            src="https://res.cloudinary.com/dguu5sqgh/image/upload/v1657481022/tripadvisor/public/googleplay.png"
                                                                                                                                            border="0"
                                                                                                                                            width="135"
                                                                                                                                            style="display: block; width: 135px; height: 41px;"
                                                                                                                                            alt="AppStore"
                                                                                                                                            class="CToWUd"
                                                                                                                                        />
                                                                                                                                    </a>
                                                                                                                                </td>
                                                                                                                                <td align="center" style="padding: 0 0 0 10px;">
                                                                                                                                    <a href="#">
                                                                                                                                        <img
                                                                                                                                            src="https://res.cloudinary.com/dguu5sqgh/image/upload/v1657481030/tripadvisor/public/appstore.jpg"
                                                                                                                                            border="0"
                                                                                                                                            width="136"
                                                                                                                                            style="display: block; width: 136px;"
                                                                                                                                            alt="Google play"
                                                                                                                                            class="CToWUd"
                                                                                                                                        />
                                                                                                                                    </a>
                                                                                                                                </td>
                                                                                                                            </tr>
                                                                                                                        </tbody>
                                                                                                                    </table>
                                                                                                                </td>
                                                                                                            </tr>
                                                                                                        </tbody>
                                                                                                    </table>
                                                                                                </td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                                <td width="234" style="font-family: Arial, Helvetica, sans-serif; font-size: 15.5px; color: #4a4a4a; width: 234px;" align="center">
                                                                                    <img
                                                                                        src="https://res.cloudinary.com/dguu5sqgh/image/upload/v1657480853/tripadvisor/public/screen.jpg"
                                                                                        height="218"
                                                                                        width="234"
                                                                                        border="0"
                                                                                        style="display: block; height: 218px; width: 234px;"
                                                                                        alt=""
                                                                                        class="CToWUd a6T"
                                                                                        tabindex="0"
                                                                                    />
                                                                                    <div class="a6S" dir="ltr" style="opacity: 0.01; left: 645.667px; top: 1510px;">
                                                                                        <div
                                                                                            id=":2oo"
                                                                                            class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q"
                                                                                            title="Download"
                                                                                            role="button"
                                                                                            tabindex="0"
                                                                                            aria-label="Download attachment "
                                                                                            data-tooltip-class="a1V"
                                                                                        >
                                                                                            <div class="akn"><div class="aSK J-J5-Ji aYr"></div></div>
                                                                                        </div>
                                                                                    </div>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>

    <table border="0" cellspacing="0" cellpadding="0" width="100%" style="background-color: #f5f5f5;" id="{email_id}">
        <tbody>
            <tr>
                <td align="center">
                    <table width="600" border="0" cellspacing="0" cellpadding="0" style="border-collapse: separate; width: 600px;">
                        <tbody>
                            <tr>
                                <td align="left" height="30" style="background-color: #ffffff; line-height: 30px; height: 30px; color: #ffffff; font-size: 0px; border-collapse: separate;">
                                    &nbsp;
                                </td>
                            </tr>

                            <tr>
                                <td align="left" height="5" style="background-color: #00a680; line-height: 5px; color: #00a680; font-size: 0px; height: 5px; border-collapse: separate;">
                                    &nbsp;
                                </td>
                            </tr>
                            <tr>
                                <td align="center" style="padding: 20px;">
                                    <table border="0" cellspacing="0" cellpadding="0" style="border-collapse: separate;">
                                        <tbody>
                                            <tr>
                                                <td style="padding: 0 0 10px; color: #666666; font-family: Arial, Helvetica, sans-serif; font-size: 10px; text-align: center;">
                                                    <span class="il">Tripadvisor</span> LLC, 400 1st Ave., Needham, MA 02494, USA
                                                </td>
                                            </tr>

                                            <tr>
                                                <td style="padding: 0 0 10px; color: #666666; font-family: Arial, Helvetica, sans-serif; font-size: 10px; text-align: center;">
                                                    Please do not reply directly to this email. This email was sent from a notification-only address that cannot accept incoming email.
                                                </td>
                                            </tr>

                                            <tr>
                                                <td style="padding: 0 0 10px; color: #666666; font-family: Arial, Helvetica, sans-serif; font-size: 10px; text-align: center;">
                                                    © 2019 <span class="il">Tripadvisor</span> LLC. All rights reserved. <span class="il">Tripadvisor</span>, the <span class="il">Tripadvisor</span> logo, the Owl logo and Get The Truth. Then
                                                    Go. are either registered trademarks or trademarks of <span class="il">Tripadvisor</span> LLC in the U.S. and/or other countries.
                                                </td>
                                            </tr>

                                            <tr>
                                                <td style="padding: 0 0 10px; color: #666666; font-family: Arial, Helvetica, sans-serif; font-size: 10px; text-align: center;">
                                                    &#xFEFF;The company that facilitates your booking directly with the property owner is Holiday Lettings Ltd., a wholly owned subsidiary of <span class="il">Tripadvisor</span>. Neither
                                                    <span class="il">Tripadvisor</span> nor any other company in our group ever acts as a property owner, broker or agent.
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="center" valign="top" style="padding: 0 0 10px;">
                                                    <table border="0" cellspacing="0" cellpadding="0" align="center" style="border-collapse: separate;">
                                                        <tbody>
                                                            <tr>
                                                                <td align="center" style="color: #006699; font-size: 11px; font-family: Arial, Helvetica, sans-serif; padding: 10px 0;">
                                                                    <a href="#" style="text-decoration: none; color: #006699;">
                                                                        Go to <span class="il">Tripadvisor</span>
                                                                    </a>
                                                                </td>
                                                                <td width="5" style="width: 5px;"></td>
                                                                <td align="center" style="padding: 10px 0; color: #666666; font-size: 11px; font-family: Arial, Helvetica, sans-serif; padding: 10px 0;">
                                                                    |
                                                                </td>

                                                                <td width="5" style="width: 5px;"></td>
                                                                <td align="center" style="color: #006699; font-size: 11px; font-family: Arial, Helvetica, sans-serif; padding: 10px 0;">
                                                                    <a href="#" style="color: #006699; text-decoration: none;">
                                                                        Privacy Policy
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="center" valign="top" style="padding: 0 0 10px;">
                                                    <table border="0" cellspacing="0" cellpadding="0" align="center" style="border-collapse: separate;">
                                                        <tbody>
                                                            <tr>
                                                                <td align="center" style="color: #006699; font-size: 11px; font-family: Arial, Helvetica, sans-serif; padding: 10px 0;">
                                                                    <a href="#" style="text-decoration: none; color: #006699;">
                                                                        Email ID: {email_id}
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>
