<script setup lang="ts">
import { computed, reactive, ref, onMounted, watch } from 'vue';
import { useStore } from '@/store';
import dayjs from 'dayjs';
import money from '@/helpers/money';
import { countries, visit } from '@/helpers'
import useAuth from '@/store/auth';
import { useRouter } from 'vue-router';
import { useI18n } from 'vue-i18n';
//@ts-ignore
import PaymentComponent from '../components/PaymentComponent.vue'
import { loadScript } from "vue-plugin-load-script";


const { t } = useI18n();
const accessToken = import.meta.env.VITE_APP_MAPBOX_API_KEY;
const router = useRouter();
const store = useStore();
const auth = useAuth();
const logged = computed(() => auth.logged);
const user = computed(() => auth.user);
const mobile = computed(() => store.mobile);
const bussy = computed(() => store.bussy);
const booking = computed(() => store.booking);
const home = computed(() => store.home);
const summary = computed(() => store.summary);
const baseRate = ref(false);
const visible = ref(false);
const policyModalVisible = ref(false);
const isValidForm = ref(false);
const pickertype = computed(() => store.pickertype);
const guests = computed(() => store.guests.adults + store.guests.children);
const spinning = ref(true);
const filterOption = (input: string, option: any) => {
    return countries[option.key].Name.toLowerCase().indexOf(input.toLowerCase()) >= 0; 
};

const formData = reactive({
    address: '',
    city: '',
    state: '',
    zipCode: '',
    country: {
        code: '',
        name: ''
    },
    name: user.value.name,
    email: user.value.email,
    phone: {
        prefix: booking.value.userdata.calling_code || '+34',
        number: '',
    },
    message: t('booking.personal_message_text'),
    sendsms: false,
});

const validateForm = () => {
    const submitBtn = document.querySelector('#submit-btn') as HTMLButtonElement;
    submitBtn.click();
    console.log('validate form')
}
const submitForm = () => {
    const forms = document.querySelectorAll('.needs-validation') as NodeListOf<HTMLFormElement>;
    Array.prototype.slice.call(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event: Event) {
        if (!form.checkValidity()) {
            isValidForm.value = false;
            event.preventDefault()
            event.stopPropagation()
        } else {
            isValidForm.value = true;
            event.preventDefault();
        }
        form.classList.add('was-validated');
      }, false)
    })
}

const BookNow = async () => {
    if(isValidForm.value) {
        spinning.value = true;
        let save = await store.bookNow(formData);
        
        if(save) {
            //console.log(save);
            router.push({
                name: 'BookingStatus',
                params: {
                    bookingId: booking.value.code,
                }
            });
        } else {
            alert('Error: Error savind booking.');
        }
    }
}

function toggleFields() {
    let label: HTMLElement | any = document.getElementById('search_for_address'),
    inp_city: HTMLElement | any = document.getElementById('inp_city'), 
    inp_state: HTMLElement | any = document.getElementById('inp_state'),
    inp_zip: HTMLElement | any = document.getElementById('inp_zip'),
    inp_country: HTMLElement | any = document.getElementById('inp_country'),
    man_address: HTMLElement | any = document.getElementById('manual_enter_address');

    inp_city.disabled = false;
    inp_state.disabled = false;
    inp_zip.disabled = false;
    inp_country.disabled = false;
    man_address.style.display = 'none';
    label.innerHTML = `${t('booking.manual_address')} <span class="text-danger ms-1">*</span>`
}
watch(() => formData.city, (val) => {
    if(formData.state == "") {
        formData.state = 'N/A';
    }
    if(formData.country.code != "") {
        let ct = countries.filter((c: any) => c.Code == formData.country.code.toUpperCase());
        if(ct.length > 0) {
            formData.country.name = ct[0].Name;
            formData.country.code = ct[0].Code;
        } else {
            formData.country.name = formData.country.code.toUpperCase();
            formData.country.code = formData.country.code.toUpperCase();
        }
    }
});

onMounted(() => {
    loadScript("https://api.mapbox.com/search-js/v1.0.0-beta.13/web.js")
    .then(() => {
        // @ts-ignore: Cannot find name 'mapboxsearch'.
        mapboxsearch.autofill({ accessToken });
    })
    .catch(() => {
      console.log('Error loading script');
    });
    
    
    document.title = 'TripAdvisor - Booking Request';
    spinning.value = false;
    //console.log('is Logged: ', logged.value );
})

</script>
<template>
<div class="transition-start">
    <div class="bg-white">
      <NavComponentSlim :mobile="mobile" :bussy="bussy"></NavComponentSlim>
    </div>
    <div class="container" v-if="logged">
        <div class="row mt-3">
            <div class="col-12">
                <i class="fa-solid fa-lock fa-2x"></i>
                <h3 class="title d-inline-block ms-2">
                    <span class="me-2">{{ $t('booking.title')}}</span>
                    <span class="small-text">
                        <span class="text-danger me-1">*</span>
                        <span class="text-muted">{{ $t('booking.required')}}</span>
                    </span>
                </h3>
                <div class="title-sub">{{ $t('booking.subtitle')}}</div>
            </div>
        </div>
        <a-spin :spinning="spinning">
            <div class="row mt-2">
                <div class="col col-md-12 col-lg-8 order-last order-lg-first">
                    <form class="row mb-3 needs-validation" novalidate>
                        <div class="col-12 bg-white p-3 your-info">
                            <div class="row">
                                <div class="col-12">
                                    <div class="arrow-right">1</div> <span class="tt">{{ $t('booking.your_info')}}</span>
                                </div>
                            </div>
                            <div class="row my-3">
                                <div class="col-12 col-md-6">
                                    <label for="fullname" class="form-label">
                                        {{ $t('booking.your_full_name')}}
                                        <span class="text-danger ms-1">*</span>
                                    </label>
                                    <input placeholder="ex. Pierre Jaques" @input="validateForm" minlength="7" maxlength="25" type="text" class="form-control form-control-lg" id="fullname" v-model="formData.name" required>
                                    <div class="invalid-feedback">
                                        {{ $t('booking.your_full_name_err')}}
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <label for="phoneNo" class="form-label">
                                        {{ $t('booking.phone_number')}}
                                        <span class="text-danger ms-1">*</span>
                                    </label>
                                    <div class="input-group has-validation">
                                        <span @click="visible = true" class="input-group-text pe-0 bg-white" id="phoneNo">{{ formData.phone.prefix }} <span class="mx-2"><i class="fa-regular" :class="{'fa-angle-right': visible, 'fa-angle-down': !visible}"></i></span></span>
                                        <input placeholder="ex. 5556663434" @input="validateForm" type="tel" pattern="[0-9]{8,11}" minlength="8" maxlength="11" class="form-control form-control-lg" id="phoneNo" v-model="formData.phone.number" :aria-label="$t('booking.phone_number')" aria-describedby="phoneNo" required>
                                        <div class="invalid-feedback">
                                            {{ $t('booking.phone_number_err')}}
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="row my-3">
                                <div class="col-12 col-md-6">
                                    <label for="email" class="form-label">
                                        {{ $t('booking.email_address') }}
                                        <span class="text-danger ms-1">*</span>
                                    </label>
                                    <input disabled @input="validateForm" minlength="7" maxlength="40" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" type="email" class="form-control form-control-lg" id="email" v-model="formData.email" required>
                                    <div class="invalid-feedback">
                                        {{ $t('booking.email_address_err')}}
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <label for="email" class="form-label" id="search_for_address">
                                        {{ $t('booking.search_for_address')}}
                                        <span class="text-danger ms-1">*</span>
                                    </label>
                                    <input @input="validateForm" type="search" class="form-control form-control-lg" id="search-js" 
                                    autocomplete="address-line1"
                                    placeholder="ex. 57 Rue de Bellechasse"
                                    v-model="formData.address" required>
                                    <div class="invalid-feedback">
                                        {{ $t('booking.search_for_address_error')}}
                                    </div>
                                    <span id="manual_enter_address" style="font-size: 12px; color: rgb(0, 102, 153); cursor: pointer;" ><a style="text-decoration: unset; color: rgb(0, 102, 153);" href="#" @click.prevent="toggleFields">Enter address manualy</a></span>
                                </div>
                                
                            </div>
                            <div class="row my-3">
                                <div class="col-6 col-md-3">
                                    <label for="email" class="form-label">
                                        {{ $t('booking.city')}}
                                        <span class="text-danger ms-1">*</span>
                                    </label>
                                    <input @input="validateForm" id="inp_city" placeholder="ex. Paris" type="text" class="form-control form-control-lg" disabled 
                                    autocomplete="address-level2"
                                    v-model="formData.city">
                                </div>
                                <div class="col-6 col-md-3">
                                    <label for="email" class="form-label">
                                        {{ $t('booking.state')}}
                                        <span class="text-danger ms-1">*</span>
                                    </label>
                                    <input @input="validateForm" id="inp_state" placeholder="ex. Île-de-France" type="text" class="form-control form-control-lg" disabled 
                                    autocomplete="address-level1"
                                    v-model="formData.state">
                                </div>
                                <div class="col-6 col-md-3">
                                    <label for="email" class="form-label">
                                        {{ $t('booking.post_code')}}
                                        <span class="text-danger ms-1">*</span>
                                    </label>
                                    <input @input="validateForm" id="inp_zip" placeholder="ex. 75007" type="text" class="form-control form-control-lg" disabled 
                                    autocomplete="postal-code"
                                    v-model="formData.zipCode">
                                </div>
                                <div class="col-6 col-md-3">
                                    <label for="email" class="form-label">
                                        {{ $t('booking.country')}}
                                        <span class="text-danger ms-1">*</span>
                                    </label>
                                    <input @input="validateForm" id="inp_country" placeholder="ex. France" type="text" class="form-control form-control-lg" disabled 
                                    autocomplete="country"
                                    v-model="formData.country.code">
                            
                                </div>
                            </div>
                            <div class="row my-3">
                                <div class="col-12">
                                    <button id="submit-btn" @click="submitForm" type="submit" style="background:transparent; border:none; color:transparent; width: 1px; height: 1px; cursor: default;">s</button>
                                </div>
                            </div>
                            <div class="row my-3">
                                <div class="col-12">
                                    <label for="message" class="form-label">
                                        {{ $t('booking.personal_message', {name: home.host.name}) }}
                                        <span class="text-danger ms-1">*</span>
                                    </label>
                                    <textarea style="height: 100px;" @input="validateForm" minlength="2" class="form-control form-control-lg" id="message" v-model="formData.message" required></textarea>
                                    <div class="invalid-feedback">
                                        {{ $t('booking.personal_message_err')}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="row mb-3">
                        <div class="col-12 bg-white p-3">
                            <div class="row">
                                <div class="col-12">
                                    <div class="arrow-right">2</div> <span class="tt">{{ $t('booking.payment_details')}}</span>
                                </div>
                                
                                <PaymentComponent :payment="home.payment"></PaymentComponent>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-12 bg-white p-3">
                            <div class="row">
                                <div class="col-12">
                                    <div class="arrow-right">3</div> <span class="tt">{{ $t('booking.review_and_book')}}</span>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-12">
                                    <div class="" style="font-size: 18px; font-weight: 400;" v-html="$t('booking.sum_will_be_charged', {code: home.currency.code, sum: money(summary.total, home.currency.code)})"></div>
                                </div>
                            </div>
                            <div class="row my-2">
                                <div class="col-12">
                                    <div class="" style="font-size: 12px; color: #069; cursor: pointer;">
                                        <span @click="policyModalVisible = true">{{ $t('booking.cancellation_policy')}}</span>
                                        <span class="mx-2 text-muted fs-6">|</span>
                                        <a style="text-decoration: unset; color:#069" target="_blank" href="https://res.cloudinary.com/dguu5sqgh/image/upload/v1650655372/tripadvisor/documents/BookingContract_en.pdf" download="BookingContract_en.pdf">
                                            {{ $t('booking.booking_conditions')}}
                                        </a>
                                        
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="text-muted mt-2 form-check" style="font-size: 12px; cursor: pointer;">
                                        <input type="checkbox" class="form-check-input" id="exampleCheck1" v-model="formData.sendsms">
                                        <label class="form-check-label" for="exampleCheck1">
                                            <span>{{ $t('booking.sms_checkbox')}}</span>
                                        </label>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="row my-2">
                                <div class="col-12">
                                    <button class="btn btn-lg btn-warning" :disabled="!isValidForm" @click="BookNow">
                                        <span class="mx-5">
                                            <span class="opacity-75"><i class="fa-solid fa-lock me-2"></i></span>
                                            <span class="fw-bold" v-if="booking.status.value === 'request'">{{ $t('home.request_booking')}}</span>
                                            <span class="fw-bold" v-else>{{ $t('home.book_now')}}</span>
                                        </span>
                                    </button>
                                </div>
                            </div>
                            <div class="row my-2">
                                <div class="col-12">
                                    <p class="small-last">
                                        <span @click="visit('')" style="color: #069; cursor: pointer;"></span>
                                        {{ $t('booking.terms_agree')}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="row">
                        <div class="col-12 bg-white p-3">
                            <pre>{{ booking }}</pre>
                        </div>
                    </div> -->
                </div>
                <div class="col col-md-12 col-lg-4 order-first order-lg-last mb-3">
                    <a-card class="w-100 sidecard">
                        <template #cover>
                            <img
                                style="aspect-ratio: 16/9; object-fit: cover;"
                                alt="example"
                                :src="booking.home.image"
                            />
                        </template>
                        <div class="text-truncate">
                            <router-link :to="{name: 'property', params: {homeId: booking.home.id}}">{{ booking.home.name }}</router-link>
                        </div>
                        <div class="text-muted">
                            <span>{{ home.home.bedrooms }} BR</span>
                            <span class="mx-1">/</span>
                            <span>{{ home.home.baths }} BA</span>
                            <span class="mx-1">/</span>
                            <span>{{ $t('booking.count_sleeps', {count: home.home.guests})}}</span>
                        </div>
                        <div class="text-muted text-truncate">
                            <span>{{ home.location.address }}</span>
                            <span class="me-1">,</span>
                            <span>{{ home.location.city }}</span>
                            <span class="me-1">,</span>
                            <span>{{ home.location.state }}</span>
                            <span class="me-1" v-if="home.location.state !== ''">,</span>
                            <span>{{ home.location.country }}</span>
                        </div>
                        <div class="dates mt-3">
                            <div class="fw-bold">
                                <span>{{ dayjs(booking.stay.checkin.parsed).format('dddd, MMM D, YYYY') }}</span>
                                <span class="mx-2">-</span>
                                <span>{{ dayjs(booking.stay.checkout.parsed).format('dddd, MMM D, YYYY') }}</span>
                            </div>
                            <div class="text-muted">
                                <span v-if="pickertype === 'day'">{{ $t('home.count_nights', booking.stay.nights) }}</span>
                                <span v-else>{{ $t('home.count_months', booking.stay.months) }}</span>
                                <span class="mx-1">/</span>
                                <span>{{ $t('home.count_guests', guests) }}</span>
                            </div>
                        </div>
                        <div class="text-end mb-3">
                            <select disabled class="currency">
                                <option>{{ home.currency.code }}</option>
                            </select>
                        </div>
                        <div class="base-rate" v-show="baseRate">
                            <div class="row" :class="{'with-border-top': baseRate}">
                                <div class="col-7 pt-2 pb-1">{{ $t('booking.base_rate')}}</div>
                                <div class="col-5 text-end pt-2 pb-1">
                                    <span class="me-1">{{ money(summary.trip, home.currency.code) }}</span>
                                    <span class="minimize" @click="baseRate = !baseRate">
                                        <i class="fa-regular fa-circle-minus"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-7 pb-1">{{ $t('home.owner_fees') }}</div>
                                <div class="col-5 text-end pb-1">
                                    <span class="spaced">{{ money(summary.fees.cleaning, home.currency.code) }}</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-7" :class="{'pb-1': summary.fees.deposit}">{{ $t('home.service_tax')}}</div>
                                <div class="col-5 text-end" :class="{'pb-1': summary.fees.deposit}">
                                    <span class="spaced">{{ money(summary.fees.service, home.currency.code) }}</span>
                                </div>
                            </div>
                            <div class="row" v-if="summary.fees.deposit">
                                <div class="col-7">{{ $t('home.security_deposit')}}</div>
                                <div class="col-5 text-end">
                                    <span class="spaced">{{ money(summary.fees.deposit, home.currency.code) }}</span>
                                </div>
                            </div>
                        </div>
                        <div v-if="summary.later > 0">
                            <div class="row fw-bold with-border-bottom" :class="{'with-border-top': (summary.later > 0) && !baseRate}">
                                <div class="col-7 py-2">{{ $t('booking.total') }}</div>
                                <div class="col-5 text-end py-2">
                                    <span class="me-1">{{ money(summary.subtotal, home.currency.code) }}</span>
                                    <span class="expand" @click="baseRate = !baseRate" :class="{'expanded' : baseRate}">
                                        <i class="fa-regular fa-circle-plus"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="row fw-bold">
                                <div class="col-7 py-1">{{ $t('booking.due_now')}}</div>
                                <div class="col-5 text-end py-1">
                                    <span class="spaced">{{ money(summary.total, home.currency.code) }}</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-8 py-1">{{ $t('status.due_later') }}</div>
                                <div class="col-4 text-end py-1">
                                    <span class="spaced">{{ money(summary.later, home.currency.code) }}</span>
                                </div>
                                <div class="col-12 small text-muted fw-normal">
                                    <span v-html="$t('booking.the_rest_text', { sum: money(summary.later, home.currency.code)})"></span>
                                </div>
                            </div>
                        </div>
                        <div v-else>
                            <div class="row fw-bold " :class="{'with-border-top': !baseRate}">
                                <div class="col-6 py-2">{{ $t('booking.total') }}</div>
                                <div class="col-6 text-end py-2">
                                    <span class="me-1">{{ money(summary.total, home.currency.code) }}</span>
                                    <span class="expand" @click="baseRate = !baseRate" :class="{'expanded' : baseRate}">
                                        <i class="fa-regular fa-circle-plus"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </a-card>
                </div>
            </div>
        </a-spin>
    </div>
    <div v-else class="position-static h-100">
        <div class="position-absolute p-1 m-1 p-sm-2 m-sm-2 m-md-3 p-md-3 m-lg-5 p-lg-5 pt-5">
            <h1 class="fw-bold">
                {{ $t('booking.err_title')}}
            </h1>
            <h4>{{ $t('booking.err_subtitle')}}</h4>
        </div>
        <div class="nfunu">
            <div class="not-found">
                <svg class="svgnf" aria-hidden="true" width="848" height="876" viewBox="0 0 848 876" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        class="pathnf"
                        d="M649.998 173C658.063 160.772 704 67 740 0H848C789 78.5 710.898 164.5 696.498 182.5C682.098 200.5 671.999 206.5 671.999 230C671.999 251.5 651.5 269 627.999 264C605.103 259.129 605.345 227.633 610.999 215C617.598 200.254 634.499 196.5 649.998 173Z"
                        fill="#D8B89B"
                    ></path>
                    <g class="pathnf">
                        <rect x="631" y="222" width="24" height="280" rx="12" transform="rotate(28 631 222)" fill="#000000"></rect>
                    </g>
                    <g class="spinnf" style="transform-box: fill-box;">
                        <path d="M277.979 848C277.967 832.403 290.549 820 305.958 820C321.555 820 333.968 832.591 333.979 848C333.991 863.597 321.409 876 306 876C290.591 876 277.991 863.409 277.979 848Z" fill="#292929"></path>
                        <path class="pathsec" d="M306 876C321.409 876 333.991 863.597 333.979 848H277.979C277.991 863.409 290.591 876 306 876Z" fill="#000000"></path>
                    </g>
                    <mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="1000" height="1000">
                        <path
                            class="pathnf"
                            d="M264.323 287.318C274.694 267.812 298.914 260.408 318.42 270.779L578.007 408.804C597.512 419.175 604.917 443.395 594.546 462.9L403.001 823.143C392.63 842.648 368.41 850.053 348.904 839.682L89.3178 701.657C69.8123 691.286 62.4075 667.066 72.7788 647.561L264.323 287.318Z"
                            fill="#FF5D5D"
                        ></path>
                    </mask>
                    <g class="pathnf" mask="url(#mask0)">
                        <rect x="14" y="238" width="640" height="640" fill="#FF5D5D"></rect>
                        <rect class="mhVvG" x="35" y="544" width="280" height="72" rx="36" fill="#FDC735"></rect>
                        <path class="mhVvG" d="M385.042 390C385.065 420.854 360.074 446 329.084 446C298.229 446 273.065 420.99 273.042 390C273.019 359.146 298.01 334 329 334C359.99 334 385.019 359.01 385.042 390Z" fill="white"></path>
                        <path class="mhVvG" d="M447.019 520C447.03 534.34 435.379 546 421.039 546C406.699 546 395.03 534.34 395.019 520C395.009 505.66 406.66 494 421 494C435.34 494.134 447.009 505.66 447.019 520Z" fill="#7446AF"></path>
                        <g class="mhVvG"><rect x="337" y="662" width="128" height="128" transform="rotate(-15 337 662)" fill="#004F32"></rect></g>
                    </g>
                </svg>
            </div>
        </div>
    </div>
    <a-modal v-if="logged" v-model:open="policyModalVisible" :title="$t('home.cancelation_policy')" :footer="null">
        <div class="row">
            <div class="col-12">
                <div class="mb-2">
                    <span class="fw-bold">{{ $t('policies.' + home.policy.name + '.title') }}</span>
                </div>
                <div class="mb-2">
                    <p>
                        {{ $t('policies.' + home.policy.name + '.description') }}
                    </p>
                </div>
            </div>
        </div>
    </a-modal>
    <a-modal v-if="logged" v-model:open="visible" :title="$t('booking.select_country_prefix')" @ok="visible = false;">
        <template #footer>
            <a-button key="back" @click="visible = false;">{{ $t('booking.return')}}</a-button>
            <a-button key="submit" type="primary" @click="visible = false;">{{ $t('booking.save')}}</a-button>
        </template>
        <div class="row">
            <div class="col-12">
                <div class="mb-1">
                    <span class="fw-bold">{{ $t('booking.prefix_code') }}</span>
                </div>
                <a-select
                    @change="visible = false;"
                    v-model:value="formData.phone.prefix"
                    show-search
                    class="w-100"
                    :filter-option="filterOption"
                >
                <a-select-option v-for="(c, ind) in countries" :key="ind" :value="c.MobileCode">
                    <small>{{ c.Name }} ({{ c.MobileCode }})</small>
                </a-select-option>
                </a-select>
            </div>
        </div>
    </a-modal>
</div>
</template>
<style scoped lang="scss">
@-webkit-keyframes svganimation {
    0%{
        -webkit-transform:translateY(-4px);
        transform:translateY(-4px)
    }
    50%{
        -webkit-transform:translateY(-10px);
        transform:translateY(-10px)
    }
    to{
        -webkit-transform:translateY(-4px);
        transform:translateY(-4px)
    }
}
@keyframes svganimation {
    0%{
        -webkit-transform:translateY(-4px);
        transform:translateY(-4px)
    }
    50%{
        -webkit-transform:translateY(-10px);
        transform:translateY(-10px)
    }
    to{
        -webkit-transform:translateY(-4px);
        transform:translateY(-4px)
    }
}
@-webkit-keyframes spinnanim {
    0%{
        -webkit-transform:translateY(-3px);
        transform:translateY(-3px)
    }
    50%{
        -webkit-transform:translateY(-6px);
        transform:translateY(-6px)
    }
    to{
        -webkit-transform:translateY(-3px);
        transform:translateY(-3px)
    }
}
@keyframes spinnanim {
    0%{
        -webkit-transform:translateY(-3px);
        transform:translateY(-3px)
    }
    50%{
        -webkit-transform:translateY(-6px);
        transform:translateY(-6px)
    }
    to{
        -webkit-transform:translateY(-3px);
        transform:translateY(-3px)
    }
}
@-webkit-keyframes pathsec {
    0%{
        -webkit-transform:rotate(0);
        transform:rotate(0)
    }
    to{
        -webkit-transform:rotate(1turn);
        transform:rotate(1turn)
    }
}
@keyframes pathsec {
    0%{
        -webkit-transform:rotate(0);
        transform:rotate(0)
    }
    to{
        -webkit-transform:rotate(1turn);
        transform:rotate(1turn)
    }
}
@-webkit-keyframes jIbzl{
    0%{
        -webkit-transform:translateX(0);
        transform:translateX(0)
    }
    to{
        -webkit-transform:translateX(-33.333%);
        transform:translateX(-33.333%)
    }
}
@keyframes jIbzl{
    0%{
        -webkit-transform:translateX(0);
        transform:translateX(0)
    }
    to{
        -webkit-transform:translateX(-33.333%);
        transform:translateX(-33.333%)
    }
}
@-webkit-keyframes dIZMs{
    0%{
        -webkit-transform:translateX(0);
        transform:translateX(0)
    }
    to{
        -webkit-transform:translateX(-50%);
        transform:translateX(-50%)
    }
}
@keyframes dIZMs{
    0%{
        -webkit-transform:translateX(0);
        transform:translateX(0)
    }
    to{
        -webkit-transform:translateX(-50%);
        transform:translateX(-50%)
    }
}

.nfunu {
    width: calc(100% + 2 * 24px);
    width: 100%;
    max-width: 100%;
    padding-left: 24px;
    padding-right: 24px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}
.firstnfdiv {
    height: auto;
    position: static;
    .LJrio {
        bottom: 24px;
        margin-bottom: calc(-24px + 1.66667vw);
        -webkit-animation: jIbzl 55s linear infinite;
        animation: jIbzl 55s linear infinite;
        position: absolute;
    }
    .bzeDB {
        position: absolute;
        bottom: 0;
        width: 200%;
        height: auto;
        -webkit-animation: dIZMs 10s linear infinite;
        animation: dIZMs 10s linear infinite;
    }
}
.not-found {
    position: relative;
    width: 100%;
    height: 100%;

    .svgnf {
        height: calc(100vh - 84px);
        width: auto;
        min-height: 636px;
        max-height: 750px;
        position: absolute;
        right: 0;
        margin-top: calc(24px - 1.66667vw);
        top: 0;

        .pathnf {
            -webkit-animation: svganimation .5s linear infinite;
            animation: svganimation .5s linear infinite;
            -webkit-animation-delay: .25s;
            animation-delay: .25s;
        }
        .spinnf {
            -webkit-animation: spinnanim .5s linear infinite;
            animation: spinnanim .5s linear infinite;
            -webkit-transform-origin: 50% 50%;
            -ms-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
        }
        .pathsec {
            -webkit-animation: pathsec .5s linear infinite;
            animation: pathsec .5s linear infinite;
            -webkit-transform-origin: top;
            -ms-transform-origin: top;
            transform-origin: top;
            transform-box: fill-box;
        }
    }
}
.was-validated .your-info .form-control:invalid, .your-info .form-control.is-invalid {
    border-color: #c40000;
    background-color: #FFF5ED;
    padding-right: calc(1.5em + 0.75rem);
    background-image: unset;
    background-repeat: no-repeat;
    background-position: unset;
    background-size: unset;
}
.was-validated .your-info .form-control:valid, .your-info .form-control.is-valid {
    border-color: #ced4da;
    padding-right: calc(1.5em + 0.75rem);
    background-image: unset;
    background-repeat: no-repeat;
    background-position: unset;
    background-size: unset;
}
.your-info {
    .invalid-feedback {
        color: #c40000;
        font-size: 12px;
    }
    .input-group-text {
        cursor: pointer;
        font-size: 14px;
    }
    .form-label {
        margin-bottom: 0.1rem;
        font-family: Arial;
        font-size: 14px;
    }
    .form-control-lg {
        transition: unset;
        font-size: 14px;
        border-radius: 4px;
        height: 44px;
        padding: 0 0 0 10px;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
    .form-control-lg:focus-visible, .form-control-lg:focus {
        border: 2px solid #000000;
        outline: 0;
        box-shadow: unset;
        border-radius: 4px;
    }



}
    .small-last {
        margin-top: 20px;
        font-size: 12px;
        color: #2b2b2b;
    }
.tt {
    font-size: 24px;
}
.arrow-right {
    margin-right: 15px;
    margin-bottom: 5px;
    font-weight: bolder;
    font-size: 24px;
    height: 28px;
    line-height: 30px;
    width: 32px;
    color: #fff;
    text-align: center;
    background: #00aa6c;
    display: inline-block;
    position: relative;  
}
.arrow-right:before {
    border-top: 14px solid transparent;
    border-left: 7px solid #00aa6c;
    border-bottom: 14px solid transparent;
    content: "";
    height: 0;
    left: 32px;
    position: absolute;
    right: 0;
    width: 0;
}
.with-border-top {
    border-top: 1px solid #e5e5e5;
}
.with-border-bottom {
    border-bottom: 1px solid #e5e5e5;
}
.spaced {
    margin-right: 1.1rem;
}
.minimize, .expand {
    cursor: pointer;
    opacity: 1;
}
.expanded {
    // make invisible
    opacity: 0;
}
.sidecard {
    select.currency {
        padding: 5px;
    }
    :global(.ant-card-body) {
        padding: 18px 10px !important;
    }
    :global(.ant-card-body a) {
        text-transform: uppercase;
        text-decoration: none;
        color: #2C2C2C;
    }
    :global(.ant-card-body a:hover) {
        text-decoration: underline;
    }
}
.container {
    font-family: Arial,Helvetica,sans-serif !important;
    .fa-2x {
        font-size: 1.6em;
        color: rgb(190, 190, 190);
    }
    h3.title {
        .small-text {
            font-size: .8rem;
        }
    }

    .title-sub {
        font-size: 0.8rem;
    }
}


</style>