<script setup lang="ts">
import { computed, reactive, ref, onMounted, onUnmounted } from 'vue';
import useBooking from '@/store/booking';
import dayjs from 'dayjs';
import money from '@/helpers/money';
import relatimeTime from 'dayjs/plugin/relativeTime';
import axios from 'axios';
import { message } from 'ant-design-vue';
import { useI18n } from 'vue-i18n';
import { v4 as uuid } from 'uuid';
// @ts-ignore
import { Md5 } from 'ts-md5';
import jQuery from 'jquery';

const $ = jQuery;

dayjs.extend(relatimeTime);

const { t } = useI18n();


const elem = ref<any | null>(null);
const newCoinAlert = reactive({
    trigger: false,
    title: t('status.warning'),
    message: '',
});
const countdown = ref<number>(0);
const plisioUrl = new URL('https://plisio.net/api/v1/invoices/new');
const transactionStatus = ref('new');
const paymentStatus = computed(() => {
    const ts: string = transactionStatus.value;
    if(ts === 'new' || ts === 'pending') {
        return t('status.plisio.awaiting_payment');
    } else if(ts === 'completed') {
        return t('status.plisio.payment_complete');
    } else if(ts === 'error') {
        return t('status.plisio.error');
    } else if(ts === 'expired') {
        return t('status.plisio.expired');
    } else if(ts === 'mismatch') {
        return t('status.plisio.mismatch');
    } else if(ts === 'cancelled') {
        return t('status.plisio.cancelled');
    } else {
        return t('status.plisio.unknown_error');
    }
});


const spinningStatus = computed(() => {
    const ts: string = transactionStatus.value;
    if(ts === 'new' || ts === 'pending') {
        return false;
    } 
    return true;
});

const { bookingId } = defineProps([
    'bookingId',
]);

const cryptoload = ref(false);
const proxyUrl = import.meta.env.VITE_APP_PROXY_URL;
const plisioapikey = import.meta.env.VITE_APP_PLISIO_API_KEY;
const bstore = useBooking();
const paidStatus = computed(() => bstore.booking.paid);
const booking = computed(() => bstore.booking);

const summary = computed(() => bstore.summary);
const bussy = computed(() => bstore.bussy);
const valid = computed(() => bstore.valid);
const home = computed(() => bstore.home);
const mobile = computed(() => bstore.mobile);
const baseRate = ref(false);
const interval = ref<any>(null);

const copyText = (text: string) => {
    navigator.clipboard.writeText(text);
    message.success(t('status.text_copied'));
    //console.log(message)
}
const millisToMinutesAndSeconds = (millis: number) => {
    const padTo2Digits = (num: any) => num.toString().padStart(2, '0');
    let seconds = Math.floor(millis / 1000);
    let minutes = Math.floor(seconds / 60);
    let hours = Math.floor(minutes / 60);

    seconds = seconds % 60;
    minutes = minutes % 60;
    hours = hours % 24;

    return `${padTo2Digits(hours)}:${padTo2Digits(minutes)}:${padTo2Digits(
        seconds,
    )}`;
}
const countDownTimer = (expire: number) => {
    const timer = setInterval(() => {
          countdown.value = dayjs.unix(expire).valueOf() - dayjs().valueOf()
          if (countdown.value <= 0) {
              countdown.value = 0
              clearInterval(timer);
          }
    }, 1000);

}
const md5 = new Md5();


const payWithCrypto = () => {
    cryptoload.value = true;
    const { searchParams } = plisioUrl;
    searchParams.set('source_currency', home.value.currency.code);
    searchParams.set('source_amount', booking.value.payment.dueNow);
    searchParams.set('order_number', bookingId);
    searchParams.set('currency', 'BTC');
    searchParams.set('email', home.value.host.email);
    searchParams.set('order_name', 'Tripadvisor reservation #' + bookingId);
    searchParams.set('callback_url', window.location.href);
    searchParams.set('api_key', plisioapikey);

    const invoiceUrl: string = plisioUrl.toString();
    
    axios(`${proxyUrl}?url=${encodeURIComponent(invoiceUrl)}`).then(res => {
        const { status, data } = res;
        if(status === 200) {
            bstore.updateBooking(data.data).then(() => {
                bstore.fetchBooking(bookingId).then(() => {
                    window.location.reload();
                    cryptoload.value = false;
                });
            });
        }
    }).catch(err => {
        console.log(err);
    });

    console.log(invoiceUrl);
}

const payInterval = ref<any>(null);

const checkPaymentStatus = () => {
    
    axios(`${proxyUrl}?url=${encodeURIComponent(`https://plisio.net/api/v1/operations/${booking.value.plisio.txn_id}?api_key=${plisioapikey}`)}`).then(res => {
        const { status, data } = res;
        if(status === 200) {
            transactionStatus.value = data.data.status;
            if(transactionStatus.value === 'completed' || transactionStatus.value === 'expired' || transactionStatus.value === 'cancelled' || transactionStatus.value === 'error' || transactionStatus.value === 'mismatch') {
                if(transactionStatus.value === 'completed') {
                    if(booking.value.paid === false) {
                        bstore.setBookingPaid(true);
                    } else {
                        console.log('booking is already set to paid.');
                    }
                    console.log('invoice was paid')
                }
                clearInterval(payInterval.value);
                console.log('interval is cleared becuase status is: ', transactionStatus.value);
            }
            console.log('Payment status:', data.data);
        }
    }).catch(err => {
        console.log(err);
    });

    console.log('checking payment status');
};
const checkPaymentOperations = () => {
    axios(`${proxyUrl}?url=${encodeURIComponent(`https://plisio.net/api/v1/operations?api_key=${plisioapikey}`)}`).then((res: any) => {
        const { status, data } = res;
        if(status === 200) {
            const operations = data.data.operations.filter((operation: any) => operation.params.order_number === bookingId);
            if(operations.length > 0) {
                const op: any =  operations[0];
                if(op.id !== booking.value.plisio.txn_id) {
                    newCoinAlert.trigger = true;
                    newCoinAlert.message = t('status.plisio.new_coin_selected');
                    newCoinAlert.message = t('status.plisio.status_will_update');
                    newCoinAlert.message += t('status.plisio.your_alternate_coin', {
                        currency: op.currency,
                        hash: op.wallet_hash,
                        sum: op.sum,
                        id: op.id,
                    });
                    transactionStatus.value = op.status;
                    //console.log(op);
                    if(transactionStatus.value === 'completed') {
                        if(booking.value.paid === false) {
                            bstore.setBookingPaid(true);
                        } else {
                            console.log('booking is already set to paid.');
                        }
                        console.log('invoice was paid')
                    }
                }

            }
        }
    }).catch(err => {
        console.log(err);
    });

    console.log('checking payment operations');
};
const checkPaymentStatusInterval = () => {
    checkPaymentStatus();
    setTimeout(() => {
        checkPaymentOperations();
    }, 1000);
    countDownTimer(booking.value.plisio.expire_utc);
    payInterval.value = setInterval(() => {
        checkPaymentStatus();
        setTimeout(() => {
            checkPaymentOperations();
        }, 1000);
    }, 30000);
    
}
function randomDate(date1: string = '1970-01-01', date2: string = '1995-12-31') {
    function randomValueBetween(min: number, max: number) {
      return Math.random() * (max - min) + min;
    }
    let d1 = new Date(date1).getTime()
    let d2 = new Date(date2).getTime()

    return (d1 > d2) ? new Date(randomValueBetween(d1, d2)).toISOString().split('T')[0] : new Date(randomValueBetween(d1, d2)).toISOString().split('T')[0]
}

const paybtn = reactive({
    loading: false,
    btnText: 'Pay for Reservation',
    btnTextLoading: 'Waiting for payment...',
    btnTextFinished: 'Payment complete',
});

onUnmounted(() => {
    clearInterval(interval.value);
    clearInterval(payInterval.value);
});
onMounted(async () => {

    document.title = 'TripAdvisor - ' + t('status.booking_status');

    if(bookingId !== null && bookingId.length) {
        const fetching = await bstore.fetchBooking(bookingId);
        if(fetching === true) {
            bstore.setLoading(false);
            bstore.setBussy(false);
            if(booking.value.plisio !== null) {
                checkPaymentStatusInterval();
            }
        }
    } else {
        bstore.setValid(false);
        console.log('no booking id');
    }
})
</script>

<template>
<div class="transition-start">
    <div class="booking-status">
        <div class="bg-white">
            <NavComponentSlimBlack :mobile="mobile" :bussy="bussy"></NavComponentSlimBlack>
        </div>
        <div v-if="valid === true">
            <div class="container">
                <div class="row my-3 d-none d-lg-flex">
                    <div class="col-8 col-lg-8 order-2 order-lg-1">
                            <h3 class="ms-2">
                                <span class="me-2">{{ $t('status.' + booking.status.value  + '.name') }}</span>
                            </h3>
                    </div>
                    <div class="col-4 col-lg-4 text-end order-1 order-lg-2">
                        <div class="d-inline me-4 fs-3 text-muted">
                            <a :href="'/InvoiceView/' + bookingId + '?print=true'" target="_blank" style="text-decoration: none; color: unset;">
                                <i class="fa-solid fa-print fa-1x" style="position: relative; top: 6px;"></i>
                            </a>
                            
                        </div>
                        <div class="d-inline">
                            <button class="btn btn-dark">{{ $t('status.go_to_inbox') }}</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container" :class="{'px-0': mobile}">
                <div class="row mb-2" :class="{'nogutter': mobile}">
                    <div class="col-12 col-lg-8 order-2 order-lg-1">
                        <div class="bg-white mt-1">
                            <div class="row">
                                <div class="col-12 text-center counter my-3 px-lg-5" :class="booking.status.value">
                                    <div class="counter-text">{{ $t(`status.${booking.status.value}.name`) }}</div>
                                    <div class="counter-digits">
                                        {{ $t(`status.${booking.status.value}.info`) }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <ul class="list">
                                        <li class="mb-2" v-html="$t('status.paragraph1')"></li>
                                        <li class="mb-2">
                                            <i18n-t keypath="status.paragraph2.text" tag="span" scope="global">
                                                <a :href="'/InvoiceView/' + bookingId" target="_blank">{{ $t('status.paragraph2.click') }}</a>
                                            </i18n-t>
                                        </li>
                                        <li class="mb-2" v-html="$t('status.paragraph3', {email: booking.guest.email})"></li>
                                        <li class="mb-2" v-html="$t('status.paragraph4')"></li>
                                    </ul>
                                </div>
                            </div>
                            <a-spin :spinning="paidStatus">
                                <template #indicator>
                                    <h1>
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circle-check" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#009988" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                            <circle cx="12" cy="12" r="9" />
                                            <path d="M9 12l2 2l4 -4" />
                                        </svg>
                                    </h1>
                                </template>
                                <template #tip>
                                    <h4 class="mt-4" style="color: #009988;">{{ $t('status.invoice_was_paid') }}</h4>
                                </template>
                                <div class="row">
                                    <div class="col-12">
                                        <h5 class="mx-3">{{ $t('booking.payment_details') }}</h5>
                                    </div>
                                </div>
                                <div class="row pb-2 fs-default">
                                    <div class="col-12 col-md-6">
                                        <div class="mx-3">
                                            <div>{{ $t('status.payment') }} - {{ booking.code }}</div>
                                            <div>{{ booking.gateway.gateway }}</div>
                                            
                                            <div v-if="!booking.paid && booking.gateway.gateway == 'Credit Card'" class="mt-3">
                                                <a-button  size="large" type="dashed" danger :loading="paybtn.loading" :disabled="paybtn.loading">
                                                    <b v-if="paybtn.loading">{{ paybtn.btnTextLoading }}</b>
                                                    <b v-else>{{ paybtn.btnText }}</b>
                                                </a-button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 text-md-end">
                                        <div class="mx-3 fw-bold" style="color: #f73;">{{ $t('status.pending_until') }} <span>{{ dayjs.unix(booking.created.seconds).add(2, 'days').format('dddd, MMM D, YYYY') }}</span></div>
                                    </div>
                                    <div class="col-12">
                                        <hr>

                                        <a-alert class="mx-3 my-3" v-if="newCoinAlert.trigger" type="warning" closable>
                                            <template #message>
                                                <b class="text-danger">{{ newCoinAlert.title }}</b> <span v-html="newCoinAlert.message"></span>
                                            </template>
                                        </a-alert>
                                    </div>
                                </div>
                            </a-spin>
                            <a-spin :spinning="spinningStatus" v-if="!paidStatus">
                                <template #indicator>
                                    <h1>
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-alert-triangle" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                            <path d="M12 9v2m0 4v.01" />
                                            <path d="M5 19h14a2 2 0 0 0 1.84 -2.75l-7.1 -12.25a2 2 0 0 0 -3.5 0l-7.1 12.25a2 2 0 0 0 1.75 2.75" />
                                        </svg>
                                    </h1>
                                    
                                </template>
                                <template #tip>
                                    <h4 class="text-muted mt-4">{{ paymentStatus }}</h4>
                                </template>
                                <!-- <div class="row pb-5 fs-default">
                                    <div class="col-12 col-md-8">
                                        <h5 class="mx-3">{{ $t('status.quickpay') }}</h5>
                                        <div class="mx-3" v-if="booking.plisio === null">
                                                {{ $t('status.quickpay_desc') }}
                                        </div>
                                        <div class="mx-3" v-else>
                                            <div>
                                                <span v-html="$t('status.please_send', {currency: booking.plisio.currency, amount: booking.plisio.amount})"></span>
                                                <span>
                                                    <a class="mx-1" href="#" @click.prevent="copyText(booking.plisio.amount)">
                                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-copy" width="18" height="18" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                                            <rect x="8" y="8" width="12" height="12" rx="2" />
                                                            <path d="M16 8v-2a2 2 0 0 0 -2 -2h-8a2 2 0 0 0 -2 2v8a2 2 0 0 0 2 2h2" />
                                                        </svg>
                                                    </a> 
                                                </span>
                                                <span>{{ $t('status.please_send_rest') }}</span>
                                            </div>
                                            <div>
                                                <span><i>{{ booking.plisio.wallet_hash }}</i> </span>
                                                
                                                <a class="mx-1" href="#" @click.prevent="copyText(booking.plisio.wallet_hash)">
                                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-copy" width="18" height="18" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                                        <rect x="8" y="8" width="12" height="12" rx="2" />
                                                        <path d="M16 8v-2a2 2 0 0 0 -2 -2h-8a2 2 0 0 0 -2 2v8a2 2 0 0 0 2 2h2" />
                                                    </svg>
                                                </a>
                                                <span>{{ $t('status.or_use') }}</span>
                                            </div>
                                            <div><hr></div>
                                            <div>
                                                <i18n-t keypath="status.plisio_invoice.text" tag="span" scope="global">
                                                    <a class="d-block" :href="booking.plisio.invoice_url" target="_blank">{{ $t('status.plisio_invoice.url', {url: booking.plisio.invoice_url}) }}</a>
                                                </i18n-t>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4 text-md-end" v-if="booking.plisio === null">
                                        <div class="my-3 mx-3 my-md-0">
                                            <a-button class="text-start" danger shape="round" :loading="cryptoload" @click="payWithCrypto()" :disabled="booking.gateway.gateway == 'Credit Card'">
                                                {{ $t('status.quickpay_w_crypto') }}
                                            </a-button>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4 text-md-end" v-else>
                                        <div class="my-3 mx-3 my-md-0">
                                            <div class="text-md-end"><span class="fw-bold">{{ booking.plisio.amount }}</span> {{ booking.plisio.currency }}</div>
                                            <img class="img img-thumbnail" :src="booking.plisio.qr_code" :alt="booking.plisio.wallet_hash">
                                        </div>
                                    </div>
                                </div> -->
                                
                                <div class="row pb-3 fs-default" v-if="booking.plisio !== null">
                                    <div class="col-12 col-md-8">
                                        <h5 class="mx-3">{{ $t('status.payment_status') }}</h5>
                                        <div class="mx-3">
                                            <a-input v-model:value="paymentStatus" readonly>
                                                <template #addonBefore>
                                                    <a-spin size="small" />
                                                </template>
                                                <template #addonAfter>
                                                    {{ millisToMinutesAndSeconds(countdown) }}
                                                </template>
                                            </a-input>
                                        </div>
                                    </div>
                                </div>
                            </a-spin>
                            <div class="row pb-5 fs-default">
                                <div class="col-12">
                                    <div class="mx-3">
                                        <div class="fw-bold">{{ $t('status.need_help') }}</div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="mx-3">
                                        <div class="">
                                            {{ $t('status.contact_us') }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 order-1 order-lg-2" v-if="!bussy">
                        <a-card class="w-100 sidecard">
                            <template #cover v-if="!mobile">
                                <img
                                    style="aspect-ratio: 16/9; object-fit: cover;"
                                    alt="example"
                                    :src="booking.home.image"
                                />
                            </template>
                            <div class="row">
                                <div class="col-12 mb-3">
                                    <div class="fw-bold">
                                        <span>{{ $t('status.booking_no') }}: {{ bookingId }}</span>
                                    </div>
                                </div>
                                <div class="col-3 d-lg-none" :class="{'pe-0': mobile}">
                                    <img
                                        class="w-100"
                                        style="aspect-ratio: 4/3; object-fit: cover;"
                                        alt="example"
                                        :src="booking.home.image"
                                    />
                                </div>
                                <div class="col-9 col-lg-12">
                                    <div class="text-truncate">
                                        <router-link :to="{name: 'property', params: {homeId: booking.home.id}}">{{ booking.home.name }}</router-link>
                                    </div>
                                    <div class="text-muted">
                                        <span>{{ home.home.bedrooms }} BR</span>
                                        <span class="mx-1">/</span>
                                        <span>{{ home.home.baths }} BA</span>
                                        <span class="mx-1">/</span>
                                        <span>{{ $t('booking.count_sleeps', {count: home.home.guests}) }}</span>
                                    </div>
                                    <div class="text-muted text-truncate">
                                        <span>{{ home.location.address }}</span>
                                        <span class="me-1">,</span>
                                        <span>{{ home.location.city }}</span>
                                        <span class="me-1">,</span>
                                        <span>{{ home.location.state }}</span>
                                        <span class="me-1" v-if="home.location.state !== ''">,</span>
                                        <span>{{ home.location.country }}</span>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="dates mt-3">
                                <div class="fw-bold">
                                    <span>{{ dayjs(booking.stay.checkin.parsed).format('dddd, MMM D, YYYY') }}</span>
                                    <span class="mx-2">-</span>
                                    <span>{{ dayjs(booking.stay.checkout.parsed).format('dddd, MMM D, YYYY') }}</span>
                                </div>
                                <div class="text-muted">
                                    <span v-if="booking.stay.months">{{ $t('home.count_months', booking.stay.months) }}</span>
                                    <span v-else>{{ $t('home.count_nights', booking.stay.nights) }}</span>
                                    <span class="mx-1">/</span>
                                    <span>{{ $t('home.count_guests', booking.stay.guests) }}</span>
                                </div>
                            </div>
                            <div class="text-end mb-3">
                                <select disabled class="currency">
                                    <option>{{ home.currency.code }}</option>
                                </select>
                            </div>
                            <div class="base-rate" v-show="baseRate">
                                <div class="row" :class="{'with-border-top': baseRate}">
                                    <div class="col-7 pt-2 pb-1">{{ $t('booking.base_rate') }}</div>
                                    <div class="col-5 text-end pt-2 pb-1">
                                        <span class="me-1">{{ money(summary.trip, home.currency.code) }}</span>
                                        <span class="minimize" @click="baseRate = !baseRate">
                                            <i class="fa-regular fa-circle-minus"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-7 pb-1">{{ $t('home.owner_fees') }}</div>
                                    <div class="col-5 text-end pb-1">
                                        <span class="spaced">{{ money(summary.fees.cleaning, home.currency.code) }}</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-7" :class="{'pb-1': summary.fees.deposit}">{{ $t('home.service_tax') }}</div>
                                    <div class="col-5 text-end" :class="{'pb-1': summary.fees.deposit}">
                                        <span class="spaced">{{ money(summary.fees.service, home.currency.code) }}</span>
                                    </div>
                                </div>
                                <div class="row" v-if="summary.fees.deposit">
                                    <div class="col-7">{{ $t('home.security_deposit') }}</div>
                                    <div class="col-5 text-end">
                                        <span class="spaced">{{ money(summary.fees.deposit, home.currency.code) }}</span>
                                    </div>
                                </div>
                            </div>
                            <div v-if="summary.later > 0">
                                <div class="row fw-bold with-border-bottom" :class="{'with-border-top': (summary.later > 0) && !baseRate}">
                                    <div class="col-7 py-2">{{ $t('booking.total') }}</div>
                                    <div class="col-5 text-end py-2">
                                        <span class="me-1">{{ money(summary.subtotal, home.currency.code) }}</span>
                                        <span class="expand" @click="baseRate = !baseRate" :class="{'expanded' : baseRate}">
                                            <i class="fa-regular fa-circle-plus"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="row fw-bold">
                                    <div class="col-7 py-1">{{ $t('booking.due_now') }}</div>
                                    <div class="col-5 text-end py-1">
                                        <span class="spaced">{{ money(summary.total, home.currency.code) }}</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-8 py-1">{{ $t('status.due_later') }}</div>
                                    <div class="col-4 text-end py-1">
                                        <span class="spaced">{{ money(summary.later, home.currency.code) }}</span>
                                    </div>
                                    <div class="col-12 small text-muted fw-normal"> {{}}
                                        <span v-html="$t('booking.the_rest_text', { sum: money(summary.later, home.currency.code)})"></span>
                                    </div>
                                </div>
                            </div>
                            <div v-else>
                                <div class="row fw-bold " :class="{'with-border-top': !baseRate}">
                                    <div class="col-6 py-2">Total</div>
                                    <div class="col-6 text-end py-2">
                                        <span class="me-1">{{ money(summary.total, home.currency.code) }}</span>
                                        <span class="expand" @click="baseRate = !baseRate" :class="{'expanded' : baseRate}">
                                            <i class="fa-regular fa-circle-plus"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </a-card>
                    </div>
                </div>
            </div>
        </div>
        <div v-else-if="valid === false">
            <a-result status="404" title="404" :sub-title="$t('status.sorry')">
                <template #extra>
                    <a-button type="primary">{{ $t('status.back_home') }}</a-button>
                </template>
            </a-result>
        </div>
        <div v-else class="h-100 w-100 pt-5">
            <div class="text-center m-5 p-5">
                <a-spin />
            </div>
        </div>
    </div>
</div>
</template>



<style lang="scss" scoped>

.alfa-pay-button {
     display: inline-block;
     box-sizing: border-box;
     min-height: 36px;
     text-decoration: none;
     font-family: 'Open Sans', sans-serif;
    border-radius: 5px;
    background-color: #0088cc;
     border: 1px solid #0088cc;
     color: #ffffff;
     font-size: 15px;
    background-position: 20px center;
     background-size: 20px 20px;
     padding: 0px 16px;
    background-image: undefined;
     background-repeat: no-repeat;
    transition: all ease 0.5s;
     font-size: 15px;
     font-weight: 600;
     text-align: center;
    width: 240px;
    height: 36px;
    line-height: 34px;
}
 .alfa-pay-button:hover {
     opacity: .75;
}
 .alfa-pay-button i {
     display: inline-block;
     vertical-align: sub;
     position: relative;
     margin-right: 8px;
     height: 20px;
     width: 20px;
}
 .alfa-pay-button i > svg {
     height: 100%;
     width: 100%;
}

.fs-default {
    font-size: 14px;
}
.list {
    padding-bottom: 8px;
    text-align: left;
    font-size: 14px;
    color: #2c2c2c;

    li {
        line-height: 18px;
    }
}
.counter {
    color: #f73;
    .counter-text {
        font-size: 18px;
    }
    .counter-digits {
        font-size: 34px;
        font-weight: 700;
    }
}
.booking-status {
    font-family: Arial,Helvetica,sans-serif !important;
}


:global(.nogutter) {
    --bs-gutter-x: unset !important;
    --bs-gutter-y: unset !important;
}

.sidecard {
    select.currency {
        padding: 5px;
    }
    :global(.ant-card-body) {
        padding: 18px 10px !important;
    }
    :global(.ant-card-body a) {
        text-transform: uppercase;
        text-decoration: none;
        color: #2C2C2C;
    }
    :global(.ant-card-body a:hover) {
        text-decoration: underline;
    }
}
</style>