<script setup lang="ts">
import { RouterLink } from 'vue-router';
import { computed, onBeforeMount, ref } from 'vue';
import { redirect } from '@/helpers';
import useTest from '@/store/test';

const env = import.meta.env.PROD;
const store = useTest();

const ids = computed(() => store.ids);
onBeforeMount(() => {
  redirect();
});
const id = ref<number | null>(null);

const onSearch = () => {
  if (id.value !== null) {
    store.addId(id.value);
    id.value = null;
  }
}
</script>

<template>
  <div class="p-3 row transition-start" v-if="!env">
    <div class="col-12"> <h2>{{ $t('test.welcome') }}</h2>  <hr></div>
    <div class="col-12" v-if="ids.length">
        <div class="border p-3">
          <h5 class="text-muted">Properties: </h5>
          <div v-for="homeId in ids" :key="homeId">
            Home # <RouterLink class="text-muted me-3" :to="{ name: 'property', params: { homeId } }">{{ homeId }}</RouterLink> <a @click.prevent="store.removeId(homeId);" class="text-danger"><i class="fa-solid fa-xmark"></i></a>
          </div>
        </div>
        
        
    </div>
    <div class="col-12 my-3">
      <div class="border p-3">
        <label for="search" class="d-block text-muted small">Add id's to test</label>
        <a-input-search
          id="search"
          min="8"
          max="8"
          prefix="#"
          v-model:value="id"
          enter-button="ADD"
          placeholder="00000000"
          style="width: 250px"
          @search="onSearch"
        />
      </div>
      
    </div>
  </div>
</template>
