<script setup lang="ts">
import { computed, ref, onMounted } from 'vue';
import useBooking from '@/store/booking';
import dayjs from 'dayjs';
import money from '@/helpers/money';
import relatimeTime from 'dayjs/plugin/relativeTime';
import invoice from '@/helpers/invoice.html?raw';
import { strRand, nl2br } from '@/helpers';
import { useRoute } from 'vue-router';

const route = useRoute();
dayjs.extend(relatimeTime);

const { bookingId } = defineProps([
    'bookingId',
])
const HTMLInvoice: any = ref(invoice);
const bstore = useBooking();
const booking = computed(() => bstore.booking);

const home = computed(() => bstore.home);

onMounted(async () => {
    console.log(route.query);
    if('print' in route.query) {
        setTimeout(() => {
            window.print();
        }, 1500);
    }
    if(bookingId !== null && bookingId.length) {
        const fetching = await bstore.fetchBooking(bookingId);
        if(fetching === true) {
            bstore.setLoading(false);
            bstore.setBussy(false);
            ///-----------------------------------------------------------
            ///-----------------------------------------------------------

            const myhome = home.value;
            const ccode = myhome.currency.code;
            const gateway = myhome.payment;
            const mybooking = booking.value;

            const { code, payment, paid } = mybooking;
            const { part, dueNow, dueNextText, dueNowText } = payment;
            
            if (gateway.details.includes('{reference}')) {
                gateway.details = gateway.details.replace('{reference}', code);
            }

            for (const [key, value] of Object.entries({
                status: paid ? 'Paid' : 'Unpaid',
                address: `${myhome.location.address}, ${myhome.location.city}`,
                email_id: strRand(),
                code,
                sleeps: myhome.home.guests,
                payment_gateway: gateway.gateway,
                payment_name: gateway.name,
                payment_details: nl2br(gateway.details),
                payment_instructions: gateway.instructions,
                home_img: mybooking.home.image,
                home_name: mybooking.home.name,
                city: (myhome.location.city.length) ? myhome.location.city : myhome.location.state,
                host_name: myhome.host.name,
                checkin: mybooking.stay.checkin.parsed,
                checkout: mybooking.stay.checkout.parsed,
                guests: mybooking.stay.guests,
                guests_str: ((mybooking.stay.guests === 1) ? 'Guest' : 'Guests'),
                due_now: money(dueNow, ccode),
                due_next: part ? dueNextText : dueNowText,
            })) {
                //console.log(key, value);
                HTMLInvoice.value = HTMLInvoice.value.replaceAll(`{${key}}`, value);
            }
        }
    } else {
        bstore.setValid(false);
        console.log('no booking id');
    }
    
    
})
</script>

<template>
    <div class="transition-start">
        <div v-html="HTMLInvoice"></div>
    </div>
</template>



<style lang="scss" scoped>
.fs-default {
    font-size: 14px;
}
.list {
    padding-bottom: 8px;
    text-align: left;
    font-size: 14px;
    color: #2c2c2c;

    li {
        line-height: 18px;
    }
}
.counter {
    color: #f73;
    .counter-text {
        font-size: 18px;
    }
    .counter-digits {
        font-size: 34px;
        font-weight: 700;
    }
}
.booking-status {
    font-family: Arial,Helvetica,sans-serif !important;
}


:global(.nogutter) {
    --bs-gutter-x: unset !important;
    --bs-gutter-y: unset !important;
}

.sidecard {
    select.currency {
        padding: 5px;
    }
    :global(.ant-card-body) {
        padding: 18px 10px !important;
    }
    :global(.ant-card-body a) {
        text-transform: uppercase;
        text-decoration: none;
        color: #2C2C2C;
    }
    :global(.ant-card-body a:hover) {
        text-decoration: underline;
    }
}
</style>