<script setup lang="ts">
import { computed, onBeforeMount } from 'vue';
import { SkeletonImage } from 'skeleton-elements/vue';
import { useStore } from '../store';
import useAuth from '@/store/auth';
import { useModalsStore } from '@/store/modals';
import money from '../helpers/money';
import { useRouter } from 'vue-router';
import { useI18n } from 'vue-i18n';

const { t } = useI18n();
const auth = useAuth();
const logged = computed(() => auth.logged);
const user = computed(() => auth.user);
const store = useStore();
// const { setPickerType } =  store;
const modalsStore = useModalsStore();
const router = useRouter();
const pickertype = computed(() => store.pickertype);
const home = computed(() => store.home);
const bussy = computed(() => store.bussy);
const mobile = computed(() => store.mobile);
const errors = computed(() => store.errors);
const dates = computed(() => store.dates);
const loading = computed(() => store.loading);
const summary = computed(() => store.summary);
const set = computed(() => store.summary.set);

const { homeId } = defineProps({
  homeId: {
    type: String,
    required: true,
  }
});

const bookNow = () => {
  store.setError(null);
  if(set.value === true) {
    console.log('booking dates', dates.value);
    if(logged.value === true) {
      router.push({
        name: 'Booking'
      });
    } else {
      store.setError(t('errors.not_logged'));
      auth.setAuthModalState(true);
    }
    
  } else {
    store.setError(t('errors.required_fields'));
  }
}

const sendMessage = () => {
  store.setError(null);
  if(set.value === true) {
    if(logged.value === true) {
      modalsStore.handleSendMessage('open')
    } else {
      auth.setAuthModalState(true);
    }
  } else {
    store.setError(t('errors.not_logged2'));
    auth.setAuthModalState(true);
  }
}
onBeforeMount(() => {
  store.setError(null);
  store.getHome(homeId);
});
</script>

<template>
<div class="transition-start">
    <div class="bg-white">
      <NavComponent :bussy="bussy" :home="home" :mobile="mobile"></NavComponent>
      <BreadcrumbComponent :bussy="bussy" :location="!bussy ? home.location : null"></BreadcrumbComponent>
      <HomeTitleComponent :bussy="bussy" :home="home" :mobile="mobile"></HomeTitleComponent>
    </div>
    <div class="bg-white">
      <div class="container p-container">
        <div class="d-flex" v-if="mobile">
            <div class="col col-12">
              <SkeletonImage v-if="bussy" effect="wave" />
              <carousel v-else class="story-carousel story-carousel--colors">
                <slide class="story-carousel__slide slider" v-for="(img, index) in home.images" :key="img.id" >
                    <img :src="img.url" :alt="`IMG ${index + 1}`" class="img img-responsive w-100">
                </slide>
              </carousel>

              <ScrollSpyComponent v-if="!bussy" :home="home" :mobile="mobile"/>
            </div>
        </div>
        <div v-else class="row" >
            <div class="col col-8">
              <SkeletonImage v-if="bussy" effect="wave" />
              <carousel v-else class="story-carousel story-carousel--colors">
                <slide class="story-carousel__slide slider" v-for="(img, index) in home.images" :key="img.id" >
                    <img :src="img.url" :alt="`IMG ${index + 1}`" class="img img-responsive w-100">
                </slide>
              </carousel>
              <ScrollSpyComponent v-if="!bussy" :home="home" :mobile="mobile"/> 
            </div> 
            <div class="col col-4">
              <div class="w-100 border rightbar">
                <div class="bg-white py-3" style="border-radius: 12px;">
                  <div class="d-flex" v-if="errors != null">
                      <div class="col col-12 px-3 m-0">
                          <div v-if="!bussy" class="w-100 text-center fw-bolder pb-3 lh-1" style="color: #f73">{{ errors }}</div>
                      </div>
                  </div>
                  <DatePickerComponent />
                </div>
                <div class="bg-white p-4">
                  <div class="row" v-if="loading || bussy">
                        <div class="col-12 text-center fa-3x">
                          <a-spin size="large"></a-spin>
                        </div>
                  </div>
                  <div class="row" v-else>
                      <div v-if="errors === null && dates.length === 2 && summary.set" class="col-12">
                        <div class="row mb-2">
                          <div class="col-12" style="font-size: 1em;">{{ $t('home.your_dates_are') }} <span class="fw-bold fc-green">{{ $t('home.available') }}!</span></div>
                        </div>
                        <div class="row mb-1 smaller" v-if="pickertype === 'day'">
                          <div class="col-12"><hr /></div>
                          <div class="col-8">{{ $t('home.rate_for') }} {{ $t('home.count_nights', {count: summary.nights}) }}</div>
                          <div class="col-4 text-end">{{ money(summary.trip, home.currency.code) }}</div>
                        </div>
                        <div class="row mb-1 smaller" v-else>
                          <div class="col-12"><hr /></div>
                          <div class="col-8">{{ $t('home.rate_for') }} {{ $t('home.count_months', {count: summary.months}) }}</div>
                          <div class="col-4 text-end">{{ money(summary.trip, home.currency.code) }}</div>
                        </div>
                        <div class="row mb-1 smaller">
                          <div class="col-8">{{ $t('home.service_tax') }}</div>
                          <div class="col-4 text-end">{{ money(summary.fees.service, home.currency.code) }}</div>
                        </div>
                        <div class="row mb-1 smaller">
                          <div class="col-8">{{ $t('home.owner_fees') }}</div>
                          <div class="col-4 text-end">{{ money(summary.fees.cleaning, home.currency.code) }}</div>
                        </div>
                        <div class="row mb-1 smaller" v-if="summary.fees.deposit">
                          <div class="col-8">{{ $t('home.security_deposit') }}</div>
                          <div class="col-4 text-end">{{ money(summary.fees.deposit, home.currency.code) }}</div>
                        </div>
                        <div class="row mb-1 smaller fw-bold">
                          <div class="col-8" v-if="summary.later > 0">{{ $t('home.subtotal') }}</div>
                          <div class="col-4 text-end" v-if="summary.later > 0">{{ money(summary.subtotal, home.currency.code) }}</div>
                          <div class="col-12"><hr /></div>
                        </div>
                        <div class="row mb-1 smaller fw-bold" v-if="summary.later > 0">
                          <div class="col-12 text-center p-3">
                            <span class="fc-green fs-6 lh-1">{{ $t('home.reserve_for_only') }}</span>
                            <h1 class="fw-bold fc-green lh-1">{{ money(summary.total, home.currency.code) }}</h1>
                          </div>
                        </div>
                        <div class="row mb-1 smaller fw-bold" v-else>
                          <div class="col-6">
                            <span class="d-block">
                              &nbsp;
                            </span>
                            <span class="pt-4">{{ $t('home.subtotal') }}</span>
                          </div>
                          <div class="col-6 text-end">
                            <h1 class="fw-bold">{{ money(summary.total, home.currency.code) }}</h1>
                          </div>
                        </div>
                      </div>
                      <div v-else>
                        <div class="col-12">
                          <div style="line-height: 1.9em; font-size: .9rem;" class="mb-2">
                            <span class="text-muted d-block" >{{ $t('home.from') }}</span>
                            <span class="fw-bolder fs-1">{{ money(home.pricing.nightly, home.currency.code) }}</span> <span class="text-muted">/{{ $t('home.night', 1) }}</span>
                            <a-tooltip color="white" class="ms-1">
                              <template #title>
                                <div class="text-muted small p-2">
                                  {{ $t('home.rates_may_change') }}
                                </div>
                              </template>
                              <i class="fa-regular fa-circle-question "></i>
                            </a-tooltip>
                          </div>
                        </div>
                        <div class="col-12">
                          <div class="mb-2">
                            <a-tooltip color="white" class="ms-1" placement="left" >
                              <template #title>
                                <div class="text-muted small p-2">
                                  {{ $t('home.rates_may_change') }}
                                </div>
                              </template>
                              <a class="small" href="#" @click.prevent style="text-decoration: none !important; font-size: .75rem; color: #069;">{{ $t('home.additional_fees') }}</a>
                            </a-tooltip>
                          </div>
                        </div>
                      </div>
                      <div class="col-12">
                        <div class="mb-3">
                          <button class="btn btn-warning left-btn px-3 w-100" @click.prevent="bookNow">
                            <span class="fw-bold" style="color: #000" v-if="home.bookingType.value === 'instant'">{{ $t('home.book_now') }}</span>
                            <span class="fw-bold" style="color: #000" v-else>{{ $t('home.request_booking') }}</span>
                          </button>
                        </div>
                      </div>
                      <div class="col-12">
                        <div class="mb-4">
                          <button class="btn btn-outline-secondary px-3 w-100" @click.prevent="sendMessage">
                            <span class="fw-bold" style="color: #000">{{ $t('home.send_message') }}</span>
                          </button>
                        </div>
                      </div>
                      <div class="col-12">
                        <div class="mb-2 text-center small px-5" style="color: #00aa6c; font-size: .75rem;">
                            {{ $t('home.this_property_has') }}
                        </div>
                        <div class="small text-muted text-center" style="font-size: .75rem;">
                          {{ $t('home.never_pay') }}
                        </div>
                        <div class="text-center">
                          <a-tooltip color="white" placement="bottom" >
                            <template #title>
                              <div class="text-muted small p-2">
                                {{ $t('home.learn_more_aps_popover') }}
                              </div>
                            </template>
                            <a class="small" href="#" @click.prevent style="text-decoration: none !important; font-size: .75rem; color: #069;">{{ $t('home.learn_more_aps') }}</a>
                          </a-tooltip>
                        </div>
                      </div>
                        
                    </div>
                </div>
              </div>
            </div>
        </div>
        <!-- <CarouselComponent :bussy="bussy" :home="home"></CarouselComponent> -->
      </div>
    </div>
    <FooterComponent :mobile="mobile" />
    <BottomNavComponent @bookNow="bookNow" @sendMessage="sendMessage" />
    <SendMessageModal v-if="!bussy && set === true" :summary="summary" :user="user"/>
  </div>
</template>

<style scoped lang="scss">

.fc-green {
  color: #00aa6c;
}
.smaller {
  font-size: .9rem;
  color: #333;
}
.left-btn {
    border-radius: 12px;

    span {
        font-size: 15px;
    }
}
.btn-outline-secondary:hover, .btn-outline-secondary:active {
    color: #fff;
    background-color: #6c757d52;
    border-color: #6c757d3f;
}
.btn-warning:hover, .btn-warning:hover {
    color: #000;
    background-color: #ffca2c5b;
    border-color: #ffc72052;
}
.border.rightbar {
    border: 1px solid #e0e0e0 !important;
    border-radius: 12px;
    min-height: 450px !important;

}
:global(.vs-carousel__arrows) {
    border: none !important;
    // button background transparent
    background: rgba(0, 0, 0, 0.363) !important;
    color: rgb(230, 230, 230) !important;
}
:global(.ant-btn.btn-minus, .ant-btn.btn-plus) {
    color: #00aa6c !important;
}
.slider {
    @media (max-width: 992px) {
        border-top: 6px solid black !important;
        border-bottom: 6px solid black !important;
    }
}
.slider {
    aspect-ratio: 16/9 !important;
    img {
        aspect-ratio: 16/9 !important;
    }
}
  // only on screens larger than 992px

  @media (min-width: 992px) {
    .p-container {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
  @media (max-width: 991px) {
    .p-container {
      padding-left: 0px !important;
      padding-right: 0px !important;
    }
  }
</style>