
<script setup lang="ts">
import useAuth from '@/store/auth';
import { computed, ref } from 'vue';
import LogoSmall from '../assets/img/Tripadvisor_logoset_solid_green.svg?url';


const authurl = import.meta.env.VITE_APP_AUTH_URL;
const auth = useAuth();
const logged = computed(() => auth.logged);
const authmodalstate = computed(() => auth.authmodalstate);
const spinning = ref(false);

const loginOpen = () => {
    spinning.value = true;
    const redirectTo: string = window.btoa(window.location.href);
    const urlTo: string = `${authurl}?redirect=${redirectTo}&action=login`;
    window.location.href = urlTo;
}


</script>
<template>
    <div v-if="!logged">
        <a-modal :open="authmodalstate"
            :wrap-style="{ overflow: 'hidden' }"
            :footer="null"
            wrapClassName="modal-auth"
            >
            <template #closeIcon>
                <a type="text" @click="auth.setAuthModalState(!authmodalstate)">
                    <i class="fa-regular fa-xmark"></i>
                </a>
            </template>
            <a-spin :spinning="spinning">
                <div>
                    <a-avatar :src="LogoSmall" :size="48"></a-avatar>
                </div>
                <div id="overlayHeader" class="overlayHeader"><div>{{ $t('auth.header') }}</div></div>

                <div class="text-center mt-5">
                    <div>
                        <button @click.prevent="loginOpen" class="btn btn-outline-dark rounded-pill btn-round btn-lg">{{ $t('auth.btntxt') }}</button>
                    </div>
                    <div class="my-2">
                        <span>{{ $t('auth.with') }}</span>
                    </div>
                    <div class="my-2">
                        <span style="color: #0668E1"><i class="fa-brands fa-meta fa-2x"></i></span>
                        <span style="color: #307DEF" class="mx-3"><i class="fa-brands fa-google fa-2x"></i></span>
                        <span><i class="fa-brands fa-apple  fa-2x"></i></span>
                    </div>
                </div>

                <div id="modal-f" class="mt-5">
                    <div class="coreRegCTAWrapper">
                        <div class="px-4 text-center small">{{ $t('auth.text1') }}</div>
                    </div>
                    <div class="mt-3">
                        <div class="px-4 text-center small">
                            {{ $t('auth.text2') }}
                        </div>
                    </div>
                </div>
            </a-spin>
        </a-modal>
    </div>
</template>


<style scoped>

</style>