<script setup lang="ts">
import DatePickerComponent from '@/components/DatePickerComponent.vue'
import { SkeletonImage } from 'skeleton-elements/vue';

const { bussy, home } = defineProps([
        'bussy',
        'home',
    ]);
</script>
<template>
    <div class="row">
        <div class="col-md-12 col-lg-8 p-0">
            <SkeletonImage v-if="bussy" effect="wave" />
            <carousel v-else class="story-carousel story-carousel--colors">
                <slide class="story-carousel__slide slider" v-for="(img, index) in home.images" :key="img.id" >
                    <img :src="img.url" :alt="`IMG ${index + 1}`" class="img img-responsive w-100">
                </slide>
            </carousel>
            <ScrollSpyComponent />
        </div>
        <div class="col-lg-4 d-none d-lg-flex">
            <div class="w-100 border rightbar">
                <div class="bg-light py-3">
                    <DatePickerComponent></DatePickerComponent>
                </div>
                <div class="bg-white mt-5">
                    <div class="row">
                        <div class="col-12 ps-4 m-0">
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
</template>

<style scoped lang="scss">

.border.rightbar {
    border-top: 4px solid #00aa6c !important;
    min-height: 450px !important;
}

:global(.ant-calendar-range .ant-picker-cell-in-view.ant-picker-cell-selected) {
    background: #00aa6c !important;
}
:global(.ant-calendar-today .ant-calendar-date) {
        color: #c60 !important;
        font-weight: normal !important;
        border-color: unset !important;
        border: unset !important;

}
:global(.ant-calendar-range .ant-calendar-selected-start-date .ant-calendar-date) {
        color: #fff !important;
        font-weight: normal !important;
        background: #00aa6c !important;
}
:global(.ant-calendar-range .ant-calendar-selected-end-date .ant-calendar-date) {
        color: #fff !important;
        font-weight: normal !important;
        background: #00aa6c !important;
}
:global(.ant-calendar table, .ant-calendar th, .ant-calendar td) {
    aspect-ratio: 1/1 !important;
}
:global(.ant-calendar-date) {
    width: 100% !important;
    height: 100% !important;
    line-height: 30px;
    border-radius: unset !important;
}
:global(.ant-calendar-picker-container) {
    font-family: inherit !important;
}

</style>