<script setup lang="ts">
import { ref, reactive, onMounted, computed } from 'vue';
import { useStore } from '@/store';
import useAuth from '@/store/auth';
import dayjs, { Dayjs } from 'dayjs';

const auth = useAuth();
const store = useStore();
const { dates, setDates, setLoading, setPricing } = store;

const popover = ref(false);
const loading = computed(() => store.loading);
const pickertype = computed(() => store.pickertype);


const selectedDates = ref<Date[]>([]);
const selectedMonths = ref<Date[]>([]);
const guests = computed(() => store.getGuests)
const selectedGuests = reactive(guests.value);
const totalGuests = computed(() => store.totalGuests)
const disableGuests = computed(() => totalGuests.value >= guests.value.maximum)

// const smmVisible = ref(false);
// const smmLoading = ref(false);

// const toggleSmmModal = (ev: Event) => {
//     console.log('toggle smm modal', ev);
// }

const onCalChange = (ev: Date[]) => {
    setLoading(true);
    setTimeout(() => {
        if(ev.length === 2) {
            selectedMonths.value = selectedDates.value;
            setDates(selectedDates.value);
            setPricing();
        } else {
            setLoading(false);
        }
    }, 1200);
}
const onCalChangeMonth = (ev: Date[]) => {
    setLoading(true);
    setTimeout(() => {
        if(ev.length === 2) {
            selectedDates.value = selectedMonths.value;
            setDates(selectedMonths.value);
            setPricing();
        } else {
            setLoading(false);
        }
    }, 1200);
}

const disabledDate = (current: any) => {
    return current && current < dayjs().endOf('day');
};
const disabledDateMonth = (current: any) => {
    return current && current < dayjs().endOf('month');
};

function setGuestsClick() {
    store.setGuests(selectedGuests);
    popover.value = false;
}

function resetState() {
    store.$reset();
    //auth.$reset();
    popover.value = false;
    // reload page
    window.location.reload();
}

onMounted(() => {
    if(dates.length === 2) {
        setLoading(true);
        selectedDates.value = dates;
        const datesJs: any = [
            dayjs(dates[0]),
            dayjs(dates[1])
        ];
        selectedMonths.value = datesJs;

        setTimeout(() => {
            setPricing();
            console.log('from desktop datepicker')
        }, 1200);
    }
})
</script>

<template>
<div class="d-flex">
    <div class="col col-12 px-3 m-0 mb-2">
        <a-space direction="vertical" :size="24" class="w-100">
            <a-range-picker 
            v-if="pickertype === 'day'"
            class="w-100"
            :disabled="loading"
            @change="onCalChange"
            :disabled-date="disabledDate"
            :allowClear="false" v-model:value="selectedDates" :format="'DD/MM/YYYY'" 
            popupClassName="dates-select" :inputReadOnly="true" 
            :placeholder="[$t('home.checkin'), $t('home.checkout')]">
                <template #separator>
                    <i class="fa-regular fa-pipe"></i>
                </template>
                <template #suffixIcon>
                    <i class="fa-regular fa-calendar"></i>
                </template>
                <template #renderExtraFooter>
                    <a class="clear-dates" href="#" @click.prevent="resetState">{{ $t('home.clear_dates') }}</a>
                </template>
            </a-range-picker>
            <a-range-picker v-else 
                class="w-100"
                :disabled="loading"
                :disabled-date="disabledDateMonth"
                @change="onCalChangeMonth" 
                :allowClear="false" v-model:value="selectedMonths" :format="'MMM/YYYY'" 
                popupClassName="dates-select" :inputReadOnly="true"  picker="month"
                :placeholder="[$t('home.checkin'), $t('home.checkout')]">
                    <template #separator>
                        <i class="fa-regular fa-pipe"></i>
                    </template>
                    <template #suffixIcon>
                        <i class="fa-regular fa-calendar"></i>
                    </template>
                    <template #renderExtraFooter>
                        <a class="clear-dates" href="#" @click.prevent="resetState">{{ $t('home.clear_months') }}</a>
                    </template>
                
            </a-range-picker>
        </a-space>
    </div>
</div>
<div class="d-flex">
    <div class="col col-12 px-3 m-0">
        <a-popover trigger="click" placement="bottomLeft" class="w-100" v-model:open="popover">
            <template #content>
                <div class="row pt-2">
                    <div class="col-12">
                        <a-space direction="vertical">
                            <a-form class="guest-picker-form" :model="selectedGuests" name="basic" :label-col="{ span: 8 }" :wrapper-col="{ span: 16 }" autocomplete="off" style="min-width: 250px">
                                <a-form-item :label="$t('home.adult', 2)" name="adults">
                                    <a-input-group compact>
                                        <a-button @click.prevent="selectedGuests.adults--" class="btn-minus" :disabled="selectedGuests.adults <= 1"><i class="fa-thin fa-minus"></i></a-button>
                                        <a-input v-model:value="selectedGuests.adults" style="width: 50px; text-align: center;" />
                                        <a-button @click.prevent="selectedGuests.adults++" class="btn-plus" :disabled="disableGuests"><i class="fa-thin fa-plus"></i></a-button>
                                    </a-input-group>
                                </a-form-item>
                                <a-form-item :label="$t('home.children', 2)" name="children">
                                    <a-input-group compact>
                                        <a-button @click.prevent="selectedGuests.children--" class="btn-minus" :disabled="selectedGuests.children <= 0"><i class="fa-thin fa-minus"></i></a-button>
                                        <a-input v-model:value="selectedGuests.children" style="width: 50px; text-align: center;" />
                                        <a-button @click.prevent="selectedGuests.children++" class="btn-plus" :disabled="disableGuests"><i class="fa-thin fa-plus"></i></a-button>
                                    </a-input-group>
                                </a-form-item>
                                <a-form-item :label="$t('home.infant', 2)" name="infants">
                                    <a-input-group compact>
                                        <a-button @click.prevent="selectedGuests.infants--" class="btn-minus" :disabled="selectedGuests.infants <= 0"><i class="fa-thin fa-minus"></i></a-button>
                                        <a-input v-model:value="selectedGuests.infants" style="width: 50px; text-align: center;" />
                                        <a-button @click.prevent="selectedGuests.infants++" class="btn-plus" :disabled="selectedGuests.infants === 4"><i class="fa-thin fa-plus"></i></a-button>
                                    </a-input-group>
                                </a-form-item>
                            </a-form>
                        </a-space>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <a href="#" class="clear-dates" @click.prevent="setGuestsClick()">{{ $t('home.set_guests') }}</a>
                    </div>
                </div>
            </template>
            <a-button :disabled="loading" class="w-100">
                <div class="d-flex">
                    <div class="col col-1"><i class="fa-light fa-user-group"></i></div>
                    <div class="col col-10 text-start">
                        <span>{{ $t('home.count_guests', { count: totalGuests}) }}</span>
                        <span v-if="selectedGuests.infants">,<span class="ms-1">{{ $t('home.count_infants', { count: selectedGuests.infants}) }}</span></span>
                    </div>
                    <div class="col col-1 text-end"><i class="fa-solid fa-caret-down"></i></div>
                </div>
            </a-button>
        </a-popover>
    </div>
</div>
</template>
<style scoped lang="scss">
.clear-dates {
    color: rgb(31, 31, 31);
}
:global(.ant-calendar-disabled-cell.ant-calendar-today .ant-calendar-date::before) {
    position: unset !important;
    top: unset !important;
    left: unset !important;
    width: unset !important;
    height: unset !important;
    border: unset !important;
    border-radius: unset !important;
    content: unset !important;
}
:global(.ant-calendar-column-header-inner) {
    font-weight: bold !important;
    color: #000 !important;
}
:global(.ant-calendar-month-select) {
    font-weight: bold !important;
    color: #000 !important;
}

:global(.ant-calendar-year-select) {
    font-weight: bold !important;
    color: #000 !important;
}
:global(.ant-calendar-input-wrap) {
    display: none !important;
}
:global(.ant-calendar-range .ant-picker-cell-in-view.ant-picker-cell-selected) {
    background: #00aa6c !important;
}

:global(.ant-picker-focused) {
    border-color: #00aa6c !important;
    box-shadow: unset !important;
    border-right-width: 1px !important;
    outline: 0;
}
:global(.ant-calendar-today .ant-calendar-date) {
        color: #c60 !important;
        font-weight: normal !important;
        border-color: unset !important;
        border: unset !important;

}
:global(.ant-picker-range .ant-picker-active-bar ) {
    bottom: -1px;
    height: 2px;
    margin-left: 11px;
    background: #00aa6c;
    opacity: 0;
    transition: all 0.3s ease-out;
    pointer-events: none;
}
:global(.ant-calendar-range .ant-calendar-selected-start-date .ant-calendar-date) {
        color: #fff !important;
        font-weight: normal !important;
        background: #00aa6c !important;
}
:global(.ant-calendar-range .ant-calendar-selected-end-date .ant-calendar-date) {
        color: #fff !important;
        font-weight: normal !important;
        background: #00aa6c !important;
}
:global(.ant-calendar table, .ant-calendar th, .ant-calendar td) {
    aspect-ratio: 1/1 !important;
}
:global(.ant-calendar-date) {
    width: 100% !important;
    height: 100% !important;
    line-height: 30px;
    border-radius: unset !important;
}
:global(.ant-calendar-picker-container) {
    font-family: inherit !important;
}

.datepicker-drawer {
    :global(.ant-drawer-body) {
        padding: 10px !important;
        font-size: 14px;
        line-height: 1.5715;
        word-wrap: break-word;
    }
    
    :global(.dp__calendar_wrap) {
        font-family: "Trip Sans VF", "Trip Sans" !important;
    }
    :global(.dp__menu) {
        font-family: "Trip Sans VF", "Trip Sans" !important;
        border-radius: unset !important;
        min-width: 100%;
        font-size: 1rem;
        user-select: none;
        border: unset !important;
        box-sizing: border-box;
    }
    :global(.dp__main) {
        font-family: "Trip Sans VF", "Trip Sans" !important;
    }
    
}

</style>