<script setup lang="ts">
import LogoSmall from '../assets/img/Tripadvisor_logoset_solid_green.svg?url';
import LangChangeComponent from './LangChangeComponent.vue';

const { mobile } = defineProps([
    'mobile',
]);



</script>
<template>
<footer class="footer" :class="{'py-5 px-2': mobile, 'p-5': !mobile, }">
  <div class="container">
    <div class="row">
      <div class="col-12" style="width: 60px">
        <a-avatar :src="LogoSmall" :size="40" class="me-4"></a-avatar>
      </div>
      <div class="col-12" style="width:calc(100% -  60px)">
        <div class="small d-block">
          <small class="small">{{ $t('home.copyright', { date: new Date().getFullYear() }) }}</small>
        </div>
        <div class="fw-bold">
          <a href="#" class="me-3">{{ $t('home.terms_of_use') }}</a>
          <a href="#" class="me-3">{{ $t('home.privacy_and_cookies') }}</a>
          <a href="#" class="me-3">{{ $t('home.cookie_consent') }}</a>
          <a href="#" class="me-3">{{ $t('home.site_map') }}</a>
          <a href="#" class="me-3">{{ $t('home.how_it_works') }}</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small" :class="{'col-12': mobile, 'col-8': !mobile, }">
        <span class="small">
          {{ $t('home.footer_text') }}
        </span>
      </div>
      <div class="col-12">
      <hr>
        <LangChangeComponent />
      </div>
    </div>
    <div class="row" v-if="mobile">
      <div class="col-12">&nbsp;</div>
    </div>
  </div>
</footer>
</template>




<style scoped lang="scss">
.footer {
  background-color: #faf1ed;
  a {
    color: rgb(32, 32, 32);
  }
}
</style>