<script setup lang="ts">
import { useI18n } from 'vue-i18n'
import { useStore } from '@/store';
import { watch } from 'vue';
import dayjs from 'dayjs';

const store = useStore();
const { locale } = useI18n({
      inheritLocale: true
});
watch(locale, (loc: any) => {
  store.setLocale(loc);
  dayjs.locale(loc);
});
</script>
<template>
        <a-select
          v-model:value="$i18n.locale"
          placeholder="select one country"
          option-label-prop="children"
        >
          <template #suffixIcon>
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-world" width="14" height="14" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
              <circle cx="12" cy="12" r="9" />
              <line x1="3.6" y1="9" x2="20.4" y2="9" />
              <line x1="3.6" y1="15" x2="20.4" y2="15" />
              <path d="M11.5 3a17 17 0 0 0 0 18" />
              <path d="M12.5 3a17 17 0 0 1 0 18" />
            </svg>
          </template>
          <a-select-option v-for="locale in $i18n.availableLocales" :key="`locale-${locale}`" :value="locale" :label="locale">
            <small role="img" class="text-uppercase">{{ locale }}</small>
            <span class="ms-3">{{ $t(locale + '_label') }}</span>
          </a-select-option>
        </a-select>
</template>