<script setup lang="ts">
import { computed, onMounted, reactive, ref } from 'vue';
import { useStore } from '@/store';
import dayjs from 'dayjs';
import useAuth from '@/store/auth';

const auth = useAuth();
const store = useStore();
const { dates, setDates, setGuests, setLoading, setPricing } = store;
const selectedDates = ref<any[]>([]);
const selectedMonths = reactive<any>({
    start: '',
    end: '',
});
const pickertype = computed(() => store.pickertype);
const bussy = computed(() => store.bussy);
const loading = computed(() => store.loading);
const home = computed(() => store.home);
const guests = computed(() => store.getGuests)
const selectedGuests = reactive(guests.value);

const totalGuests = computed(() => store.totalGuests)
const disableGuests = computed(() => totalGuests.value >= guests.value.maximum)

const visible = ref<boolean>(false);
const gvisible = ref<boolean>(false);
const mvisible_1 = ref<boolean>(false);
const mvisible_2 = ref<boolean>(false);



const showCalDrawer = () => { 
      visible.value = true;
};
const showCalMonthsDrawer1 = () => { 
      mvisible_1.value = true;
};
const showCalMonthsDrawer2 = () => { 
    if(selectedMonths.start.year) {
        mvisible_2.value = true;
    } else {
        mvisible_1.value = true;
    }
};

const onClose = () => {
    visible.value = false;
    gvisible.value = false;
    mvisible_1.value = false;
    mvisible_2.value = false;
};


function resetState() {
    store.$reset();
    auth.$reset();
    window.location.reload();
}
const errors = computed(() => store.errors);

const onMonthChange = (action: any, date: any) => {
    console.log('onMonthChange', action, date);
    setLoading(true);
    let nicedate = new Date(date.year, date.month, 1);

    console.log('onMonthChange', action, date, nicedate);
    if(action === 'start') {
        selectedDates.value[0] = nicedate;
        selectedMonths.start = date;
        setTimeout(() => {
            onCloseDrawer('start', true);
        }, 500);
    } else {
        selectedDates.value[1] = nicedate;
        selectedMonths.end = date;
        setTimeout(() => {
            onCloseDrawer('end', true);
        }, 500);
    }
}

const onCloseDrawer = (action: string, click: boolean = false) => {
    setLoading(true);
    if(action === 'start') {
        mvisible_1.value = false;
        setTimeout(() => {
            if(selectedMonths.start && click) {
                mvisible_2.value = true;
            }
        }, 500);
    } else {
        mvisible_2.value = false;
    }

    if(selectedDates.value.length === 2) {
        console.log(selectedDates.value.length);
        setDates(selectedDates.value);
        setPricing();
        
    }
    setLoading(false);
};


const minStartDate = computed(() => {
    let fullDate = dayjs().add(1, 'month').toDate();
    let Month = fullDate.getMonth();
    let Day = 1;
    let Year = fullDate.getFullYear();
    return new Date(Year, Month, Day);
});


const minEndDate = computed(() => {
    let fullDate = dayjs().add(3, 'month').toDate();
    if(selectedMonths.start.year && selectedMonths.start.month) {
        let { year, month } = selectedMonths.start;
        let ny = new Date(year, month, 1);
        fullDate = dayjs(ny).add(3, 'month').toDate();
    }
    
    let Month = fullDate.getMonth();
    let Day = 1;
    let Year = fullDate.getFullYear();
    return new Date(Year, Month, Day);
});


const onCalChange = (ev: Date[]) => {
    visible.value = false;
    setLoading(true);
    if(ev.length === 2) {
        setDates(selectedDates.value);
        setPricing();
    } else {
        setLoading(false);
    }
}

function setGuestsClick() {
    setGuests(selectedGuests);
    onClose();
}


const format = (date: string) => {
    return dayjs(date).format('MM/DD/YYYY');
}

onMounted(() => {
    if(dates.length === 2) {
        setLoading(true);
        selectedDates.value = dates;
        let d1 = dayjs(dates[0]).toDate();
        let d2 = dayjs(dates[1]).toDate();

        console.log('date 1 ', d1);
        console.log('date 2 ', d2);

        selectedMonths.start = {
            year: d1.getFullYear(),
            month: d1.getMonth(),
        };
        selectedMonths.end = {
            year: d2.getFullYear(),
            month: d2.getMonth(),
        };

        console.log( 'selectedMonths', selectedMonths )
        setTimeout(() => {
            setPricing();
            console.log('from mobile datepicker')
        }, 1200);
    } else {
        setLoading(false);
    }
})
</script>

<template>
<div class="d-flex" v-if="loading || bussy">
    <div class="col-12 text-center fa-3x">
        <a-spin size="large"></a-spin>
    </div>
</div>
<div class="d-flex" v-if="errors != null">
    <div class="col col-12 px-3 m-0">
        <div v-if="!bussy" class="w-100 text-center fw-bolder pb-3 lh-1" style="color: #f73">{{ errors }}</div>
    </div>
</div>
<div class="d-flex" v-if="pickertype === 'day'">
    <div class="col-6 m-0">
        <a-form-item class="me-1">
            <a-input @click="showCalDrawer" :value="selectedDates[0] ? format(selectedDates[0]) : null" placeholder="Check in" readonly :disabled="loading">
                <template #prefix>
                    <i class="fa-regular fa-calendar"></i>
                </template>
            </a-input>
        </a-form-item>
    </div>
    <div class="col-6 m-0">
        <a-form-item class="ms-1">
            <a-input @click="showCalDrawer" :value="selectedDates[1] ? format(selectedDates[1]) : null" placeholder="Check out" readonly :disabled="loading">
                <template #prefix>
                    <i class="fa-regular fa-calendar"></i>
                </template>
            </a-input>
        </a-form-item>
    </div>
</div>
<div class="d-flex" v-else>
    <div class="col-6 m-0">
        <a-form-item class="me-1">
            <a-input @click="showCalMonthsDrawer1" :value="selectedDates[0] ? format(selectedDates[0]) : null" placeholder="Start date" readonly :disabled="loading">
                <template #prefix>
                    <i class="fa-regular fa-calendar"></i>
                </template>
            </a-input>
        </a-form-item>
    </div>
    <div class="col-6 m-0">
        <a-form-item class="ms-1">
            <a-input @click="showCalMonthsDrawer2" :value="selectedDates[1] ? format(selectedDates[1]) : null" placeholder="End date" readonly :disabled="loading">
                <template #prefix>
                    <i class="fa-regular fa-calendar"></i>
                </template>
            </a-input>
        </a-form-item>
    </div>
</div>
<div class="d-flex">
    <div class="col col-12 m-0">
        <a-button @click="gvisible = true" class="w-100" :disabled="loading">
            <div class="d-flex">
                <div class="col col-1"><i class="fa-light fa-user-group"></i></div>
                <div class="col col-10 text-start">
                    <span>{{ totalGuests }}</span> <span>{{ totalGuests > 1 ? 'Guests' : 'Guest' }}</span>
                    <span v-if="guests.infants">,<span class="ms-1">{{ guests.infants }}</span> <span>{{ guests.infants > 1 ? 'Infants' : 'Infant' }}</span></span>
                </div>
                <div class="col col-1 text-end"><i class="fa-solid" :class="{'fa-caret-down': !gvisible, 'fa-caret-right': gvisible}"></i></div>
            </div>
        </a-button>
    </div>
</div>

<!-- DRAWERS -->
<a-drawer 
    :closable="false"
    :title="$t('home.start_date')"
    height="500px"
    placement="bottom"
    :open="mvisible_1"
    @close="onCloseDrawer('start')"
    class="datepicker-drawer"
    
  >
    <vue-date-picker 
        :autoApply="true" 
        v-model="selectedMonths.start" 
        :minDate="minStartDate" 
        @update:model-value="onMonthChange('start', $event)"
    ></vue-date-picker>
     <hr />
    <div class="w-100 ms-5">
        <a class="clear-dates" href="#" @click.prevent="resetState">Clear dates</a>
    </div>
</a-drawer>


<a-drawer 
    :closable="false"
    :title="$t('home.end_date')"
    height="500px"
    placement="bottom"
    :open="mvisible_2"
    @close="onCloseDrawer('end')"
    class="datepicker-drawer"
  >
    <vue-date-picker 
        :autoApply="true" 
        v-model="selectedMonths.end" 
        inline
        :minDate="minEndDate" 
        @update:modelValue="onMonthChange('end', $event)"
    ></vue-date-picker>
    <hr />
    <div class="w-100 ms-5">
        <a class="clear-dates" href="#" @click.prevent="resetState">Clear dates</a>
    </div>
</a-drawer>


<a-drawer 
    height="450px"
    placement="bottom"
    :open="visible"
    @close="onClose"
    class="datepicker-drawer"
    :closable="false"
  >
    <vue-date-picker inline range 
        :auto-apply="true"
        v-model="selectedDates" 
        
        :min-range="home.pricing.minStay"
        :partial-range="false"
        :min-date="new Date()"
        @update:model-value="onCalChange"

    ></vue-date-picker>
    
    <div class="w-100 ms-5">
        <a class="clear-dates" href="#" @click.prevent="resetState">Clear dates</a>
    </div>
</a-drawer>




  <a-drawer
    title="Select guests / Gäste auswählen"
    height="50%"
    placement="bottom"
    :open="gvisible"
    @close="onClose"
    class="datepicker-drawer"
    :closable="false"
  >
    <div class="row py-2">
        <div class="col-12">
            <a-form class="guest-picker-form w-100" :model="guests" name="basic" :label-col="{ span: 8 }" :wrapper-col="{ span: 16 }" autocomplete="off" >
                <a-form-item label="Adults" name="adults">
                    <a-input-group compact>
                        <a-button @click.prevent="selectedGuests.adults--" class="btn-minus" :disabled="selectedGuests.adults <= 1"><i class="fa-thin fa-minus"></i></a-button>
                        <a-input v-model:value="selectedGuests.adults" style="width: 50px; text-align: center;" />
                        <a-button @click.prevent="selectedGuests.adults++" class="btn-plus" :disabled="disableGuests"><i class="fa-thin fa-plus"></i></a-button>
                    </a-input-group>
                </a-form-item>
                <a-form-item label="Children" name="children">
                    <a-input-group compact>
                        <a-button @click.prevent="selectedGuests.children--" class="btn-minus" :disabled="selectedGuests.children <= 0"><i class="fa-thin fa-minus"></i></a-button>
                        <a-input v-model:value="selectedGuests.children" style="width: 50px; text-align: center;" />
                        <a-button @click.prevent="selectedGuests.children++" class="btn-plus" :disabled="disableGuests"><i class="fa-thin fa-plus"></i></a-button>
                    </a-input-group>
                </a-form-item>
                <a-form-item label="Infants" name="infants">
                   <a-input-group compact>
                        <a-button @click.prevent="selectedGuests.infants--" class="btn-minus" :disabled="selectedGuests.infants <= 0"><i class="fa-thin fa-minus"></i></a-button>
                        <a-input v-model:value="selectedGuests.infants" style="width: 50px; text-align: center;" />
                        <a-button @click.prevent="selectedGuests.infants++" class="btn-plus" :disabled="selectedGuests.infants === 4"><i class="fa-thin fa-plus"></i></a-button>
                    </a-input-group>
                </a-form-item>
            </a-form>
        </div>
    </div>
    <div class="d-flex">
        <div class="col col-12 m-0">
            <button @click="setGuestsClick();" class="btn btn-dark w-100 btn-signin-menu-mobile">Apply</button>
        </div>
    </div>
  </a-drawer>
</template>



<style scoped lang="scss">
.clear-dates {
    color: rgb(31, 31, 31);
}
:global(.ant-form .ant-form-item .ant-form-item-label) {
    flex: unset !important;
}
:global(.ant-col-8) {
    flex: 0 0 33.33333333% !important;
    min-width: 33.33333333% !important;
    max-width: 33.33333333% !important;
}
:global(.ant-col-16) {
    text-align: right;
    display: block;
    flex: 0 0 66.66666667% !important;
    max-width: 66.66666667% !important;
}
.datepicker-drawer {
    :global(.ant-drawer-body) {
        padding: 10px !important;
        font-size: 14px;
        line-height: 1.5715;
        word-wrap: break-word;
    }
    
    :global(.dp__calendar_wrap) {
        font-family: "Trip Sans VF", "Trip Sans" !important;
    }
    :global(.dp__menu) {
        font-family: "Trip Sans VF", "Trip Sans" !important;
        border-radius: unset !important;
        min-width: 100%;
        font-size: 1rem;
        user-select: none;
        border: unset !important;
        box-sizing: border-box;
    }
    :global(.dp__main) {
        font-family: "Trip Sans VF", "Trip Sans" !important;
    }
    
}
:global(.dp__calendar_header_item) {
    height: 40px;
    width: 40px;
    padding: 7px;
}
:global(.dp__cell_inner ) {
    height: 40px;
    width: 40px;
    padding: 7px;
}
:global(.dp__instance_calendar>div:last-child) {
    display: none!important;
}

:global(.dp__range_end) {
    background: #00aa6c;
}
:global(.dp__range_start) {
    background: #00aa6c;
}
:global(.dp__active_date) {
    background: #00aa6c;
}
:global(.dp__range_between) {
    color: #00aa6c;
    background: rgba(0,166,128,.1);
}
:global(.dp__today) {
    border: 1px solid rgba(0,166,128,.1);
}
</style>