<script setup lang="ts">
import { computed, reactive, ref } from 'vue';

const fakeForm = reactive({
    name: '',
    cc: '',
    expmonth: '',
    expyear: '',
    cvc: '',
});
/// years range from today to 2030
const years = Array.from({ length: 30 }, (_, i) => {
    const year = new Date().getFullYear() + i;
    return year;
});
// months from 01 to 12
const months = Array.from({ length: 12 }, (_, i) => {
    const month = i + 1;
    return month < 10 ? `0${month}` : month;
});
const { payment } = defineProps([
    'payment',
]);
const activeKey = ref('1');
const radiocheck = computed(() => {
    return {
        '1': activeKey.value === '1',
        '2': activeKey.value === '2',
    }
});

const spinnerTip = ref('Loading...'); //$t('ccform.spinner');

</script>
<template>
    <div>
        <a-tabs v-model:activeKey="activeKey">
            <a-tab-pane key="1">
                <template #tab>
                    <span class="me-2">
                        <a-radio v-model:checked="radiocheck[1]">{{ $t(`status.${payment.gateway}`) }}</a-radio>
                    </span>
                </template>
                <div>
                    <!-- <div v-html="payment.instructions"></div> -->
                    <div>
                        <h4>{{ $t('status.pay_with') }} {{ $t(`status.${payment.gateway}`) }}</h4>
                        <p v-html="$t(`status.${payment.gateway}desc`)"></p>
                    </div>
                    <hr />
                    <p>
                        <small><b>{{ $t('status.need_help') }}</b></small> <br />
                        <small>{{ $t('status.contact_us') }}</small>
                    </p>
                </div>
            </a-tab-pane>
            <!-- <a-tab-pane key="2" :hidden="true">
                <template #tab>
                    <span class="me-2" v-if="payment.gateway != 'Credit Card'">
                        <a-radio v-model:checked="radiocheck[2]">{{ $t('ccform.credit_card') }}</a-radio>
                    </span>
                    <span class="me-2" v-else>
                        <a-radio v-model:checked="radiocheck[2]">{{ $t('status.quickpay_w_crypto') }}</a-radio>
                    </span>
                </template>
                <a-spin :spinning="(payment.gateway != 'Credit Card')" :tip="spinnerTip">
                    <a-form
                        :model="fakeForm"
                        name="basic"
                        :label-col="{ span: 8 }"
                        :wrapper-col="{ span: 8 }"
                        autocomplete="off"
                        :disabled="true" 
                        v-if="payment.gateway != 'Credit Card'"
                    >
                        <div class="container">
                            <div class="row">
                                <div class="col-12 col-md-6 small mb-3">
                                    <label for="exampleFormControlInput1" class="form-label mb-0">{{ $t('ccform.name_on_card') }} <span class="text-danger fw-bolder">*</span></label>
                                    <a-input v-model:value="fakeForm.name" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-md-6 small mb-3">
                                    <label for="exampleFormControlInput1" class="form-label mb-0">{{ $t('ccform.cc_number') }} <span class="text-danger fw-bolder">*</span></label>
                                    <a-input v-model:value="fakeForm.cc" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-7 col-md-5 small mb-0">
                                    <label class="form-label mb-0">{{ $t('ccform.expiration') }} <span class="text-danger fw-bolder">*</span></label>
                                </div>
                                <div class="col-5 col-md-7 small mb-0">
                                    <label class="form-label mb-0">{{ $t('ccform.cvc') }} <span class="text-danger fw-bolder">*</span></label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3 col-md-2 small mb-3">
                                    <a-select
                                        ref="select"
                                        v-model:value="fakeForm.expmonth"
                                        style="width: 120px"
                                        >
                                        <a-select-option value="">{{ $t('ccform.month') }}</a-select-option>
                                        <a-select-option v-for="month in months" :key="month" :value="month">{{ month }}</a-select-option>
                                    </a-select>
                                </div>
                                <div class="col-4 col-md-3 small mb-3">
                                    <a-select
                                        ref="select"
                                        v-model:value="fakeForm.expyear"
                                        style="width: 120px"
                                        >
                                        <a-select-option value="">{{ $t('ccform.year') }}</a-select-option>
                                        <a-select-option v-for="year in years" :key="year" :value="year">{{ year }}</a-select-option>
                                    </a-select>
                                </div>
                                <div class="col-5 col-md-3 small mb-3">
                                    <a-input v-model:value="fakeForm.cvc" />
                                </div>
                            </div>
                        </div>
                    </a-form>
                    <div v-else>
                        <h4>{{ $t('status.quickpay') }}</h4>
                        <p>
                            {{ $t('status.quickpay_desc') }}
                        </p>
                    </div>

                    <hr />
                    <p>
                        <small><b>{{ $t('status.need_help') }}</b></small> <br />
                        <small>{{ $t('status.contact_us') }}</small>
                    </p>
                </a-spin>
            </a-tab-pane> -->
        </a-tabs>
    </div>
</template>
<style scoped>
.custom-spinner.ant-spin-dot {
    display: none;
}
</style>