<script setup lang="ts">
import { computed } from 'vue';
import MapComponent from './ScrollSpy/MapComponent.vue';
import ReviewsComponent from './ScrollSpy/ReviewsComponent.vue';
import AmenitiesComponent from './ScrollSpy/AmenitiesComponent.vue';
import AvailabilityComponent from './ScrollSpy/AvailabilityComponent.vue';
import OverviewComponent from './ScrollSpy/OverviewComponent.vue';

const { home, mobile } = defineProps([
    'home',
    'mobile',
]);
const titles = [
    {
        title: 'Overview',
        component: OverviewComponent,
        id: 'overview',
        show: true,
    },
    {
        title: 'Reviews',
        component: ReviewsComponent,
        id: 'reviews',
        show: true,
    },
    {
        title: 'Amenities',
        component: AmenitiesComponent,
        id: 'amenities',
        show: true,
    },
    {
        title: 'Availability',
        component: AvailabilityComponent,
        id: 'availability',
        show: false,
    },
    {
        title: 'Map',
        component: MapComponent,
        id: 'map',
        show: true,
    }
];
const components = computed(() => mobile ? titles.filter((t) => t.show) : titles )

</script>
<template>
    <div class="d-flex mb-5">
        <div class="container p-0">
            <component v-for="(item, index) in components" :is="item.component" :key="index" :mobile="mobile" :home="home"  :class="{'d-none': mobile && !item.show}"></component>
            <about-component :home="home" :mobile="mobile"></about-component>
            <similar-component :mobile="mobile"></similar-component>
        </div>
    </div>
    
</template>

<style scoped lang="scss">
.border-end-tabs {
    font-size: .92rem;
    border-right: 1px solid #dee2e6;
    border-bottom: 1px solid #f2f2f2;
}
.border-end-tabs:last-child {
    border-right: none;
}
.border-end-tabs:hover {
    color: #00aa6c;
}
.current-section input {
  max-width: 3em;
}
</style>