<script lang="ts" setup>
import { computed } from 'vue';
const { mobile } = defineProps([
    'mobile',
]);

const titles = [
    {
        title: 'Overview',
        id: 'overview',
        show: true,
    },
    {
        title: 'Reviews',
        id: 'reviews',
        show: true,
    },
    {
        title: 'Amenities',
        id: 'amenities',
        show: true,
    },
    {
        title: 'Availability',
        id: 'availability',
        show: false,
    },
    {
        title: 'Map',
        id: 'map',
        show: true,
    }
];
const components = computed(() => mobile ? titles.filter((t) => t.show) : titles )
</script>

<template>
    <div class="row">
        <div class="col-12" :class="{'mb-2': mobile}" v-scroll-spy>
            <div class="d-flex scrollspy" style="z-index: 1000;">
                <div class="container m-0 p-0">
                    <div class="d-flex flex-row bg-white scrollspy-nav" >
                        <div class="d-block py-2 col scrollspydiv" v-scroll-spy-active="{ class: 'active' }" v-scroll-spy-link>
                            <a class="py-2 me-5" v-for="item in components" :key="item.id" :class="{'d-none': mobile && !item.show}">
                                <span>{{ $t('home.' + item.title.toLowerCase()) }}</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<style scoped lang="scss">
.border-end-tabs {
    font-size: .92rem;
    border-right: 1px solid #dee2e6;
    border-bottom: 1px solid #f2f2f2;
}
.border-end-tabs:last-child {
    border-right: none;
}
.border-end-tabs:hover {
    color: #00aa6c;
}
.current-section input {
  max-width: 3em;
}
.scrollspy {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.scrollspy-nav {    
    a {

        text-decoration: none !important;
        cursor: pointer;
        color: black; 
    }
    .scrollspydiv a.active {
        border-bottom: 3px solid #000000 !important;
        border-bottom-color: #000000;
        font-weight: 700;
    }
}
</style>