<script setup lang="ts">
import { useModalsStore } from '@/store/modals';
import { useStore } from '@/store';
import { computed, reactive, ref } from 'vue';
import { countries } from '@/helpers'
import money from '@/helpers/money';
import dayjs from 'dayjs';
import Pluralize from 'pluralize';

interface Values {
  name: string;
  message: string;
  email: string;
  phone: {
    number: string;
    prefix: string;
  };
}

// import lodash
const mainStore = useStore();
const store = useModalsStore();
const minStay = computed(() => store.minStay);
const visible = computed(() => store.smVisible);
const loading = computed(() => store.smLoading);
const mailSent = computed(() => store.mailSent);
const modalWidth = computed(() => store.mobile ? '100%' : '660px');
const home = computed(() => store.home);
const speaks = computed(() => home.value.host.speaks.join(', '));
const mailsent = computed(() => store.mailSent);
const booking = computed(() => mainStore.booking);
const { summary, user } = defineProps([
    'summary',
    'user',
]);

const formState = reactive<Values>({
    name: user.name,
    email: user.email,
    phone: {
        prefix: booking.value.userdata.calling_code || '+34',
        number: '',
    },
    message: `Hi ${home.value.host.name.split(' ')[0]}! \nI’d love to come and stay for these dates. Are they available?\nThank you!`,
});
const filterOption = (input: string, option: any) => {
    return countries[option.key].Name.toLowerCase().indexOf(input.toLowerCase()) >= 0;
};
</script>

<template>
<div>
    <a-modal :open="visible" class="smModal" :width="modalWidth" :closable="true" style="z-index: 1002 !important;">
        <template #closeIcon>
            <a href="#" @click.prevent="store.handleSendMessage('cancel')" style="color: unset !important;"><i class="fa-solid fa-xmark"></i></a>
        </template>
        <template #title>
            <div class="d-flex">
                <div class="col-3 p-3">
                    <a-avatar :src="home.host.img" :size="{ xs: 24, sm: 32, md: 40, lg: 64, xl: 80, xxl: 100 }"></a-avatar>
                </div>
                <div class="col-9 py-3">
                    <div class="fw-bold d-block mb-1 f-title">Send a message to {{ home.host.name.split(' ')[0] }}</div>
                    <div class="mb-1">Languages spoken: {{ speaks }}</div>
                    <div>
                    <span>{{ Pluralize('bedroom', home.home.bedrooms, true) }}, </span>
                    <span>{{ Pluralize('bathroom', home.home.baths, true) }}, </span>
                    <span>Sleeps {{ home.home.guests }}</span>
                    </div>
                </div>
            </div>
        </template>
        <template #footer>
            <div class="bg-light sm-footer">
                By sending this message you agree to our 
                    <a href="#" @click.prevent>Terms of Use</a>
                 and <a href="#" @click.prevent>Privacy Policy</a>
            </div>
        </template>
        <div class="content d-flex bg-light px-3 pt-3">
            <div class="col-6 px-2">
                <a-input :value="dayjs(store.dates[0]).format('MM/DD/YYYY')" placeholder="Basic usage" readonly :disabled="mailSent">
                    <template #prefix>
                        <i class="fa-solid fa-calendar"></i>
                    </template>
                </a-input>
            </div>
            <div class="col-6 px-2">
                <a-input :value="dayjs(store.dates[1]).format('MM/DD/YYYY')" placeholder="Basic usage" readonly :disabled="mailSent">
                    <template #prefix>
                        <i class="fa-solid fa-calendar"></i>
                    </template>
                </a-input>
            </div>
        </div>
        <div class="content d-flex bg-light px-3 py-2">
            <div class="col-12 px-2">
                <a-input :value="store.guests" placeholder="Basic usage" readonly :disabled="mailSent">
                    <template #prefix>
                        <i class="fa-solid fa-user-group"></i>
                    </template>
                </a-input>
            </div>
        </div>
        <div class="content d-flex my-2">
            <div class="w-100 d-flex border border-top-0 border-bottom-1 pb-2">
                <div class="col-4 p-1 text-center">{{ Pluralize('night', minStay, true) }} min stay</div>
                <div class="col-4 p-1 text-center border border-top-0 border-bottom-0">{{ home.home.size }}</div>
                <div class="col-4 p-1 text-center">{{ home.home.type }}</div>
            </div>
        </div>
        
        <div class="content d-flex px-3">
            <div class="col-8">
                <a-form ref="formRef" :model="formState" layout="vertical" name="sendMessageForm" class="sendMessageForm">
                    <a-form-item
                        class="mb-2 fw-bold"
                        name="name"
                        label="Name"
                        :rules="[{ required: true, message: 'Please include your first and last name' }]"
                    >
                        <a-input v-model:value="formState.name" :disabled="mailsent || loading"/>
                    </a-form-item>
                    <a-form-item
                        class="mb-2 fw-bold"
                        name="email"
                        label="Email"
                        :rules="[{ required: true, message: 'Please input your email!' }]"
                    >
                        <a-input v-model:value="formState.email" :disabled="true"/>
                    </a-form-item>
                    <a-form-item
                        class="mb-2 fw-bold"
                        name="phone"
                        label="Phone number"
                        :rules="[{ required: true, message: 'Please enter a valid phone number' }]"
                    >
                        <a-input-group compact>
                            <a-select :filter-option="filterOption" v-model:value="formState.phone.prefix" style="width: 200px" show-search :disabled="mailsent || loading">
                                    <a-select-option v-for="(c, ind) in countries" :key="ind" :value="c.MobileCode">
                                        <small>{{ c.Name }} ({{ c.MobileCode }})</small>
                                    </a-select-option>
                            </a-select>
                            <a-input v-model:value="formState.phone.number" :disabled="mailsent || loading" style="width: calc(100% - 200px)" :rules="[{ required: true, message: 'Please input your phone number!' }]" required/>
                        </a-input-group>
                    </a-form-item>
                    
                    <a-form-item class="mb-3 fw-bold" name="message" label="Message" :rules="[{ required: true, message: 'Please include a message to the owner' }]">
                        <a-textarea style="height: 100px;" v-model:value="formState.message" :disabled="mailsent || loading" />
                    </a-form-item>
                    <a-form-item class="mb-3 fw-bold" >
                        <a-button size="large" key="submit" type="default" :disabled="mailsent" :loading="loading" @click="store.handleSendMessage('send')">Send Message</a-button>
                    </a-form-item>
                </a-form>
            
            </div>
            <div class="col-4 p-2">
                <div class="fw-bold border border-bottom-1 border-top-0 border-start-0 border-end-0 mb-2">Quote</div>
                <div class="mb-2"> 
                    <span>Rate for {{ Pluralize('night', summary.nights, true) }}</span>
                    <span class="float-end">{{ money(summary.trip, home.currency.code) }}</span>
                </div>
                <div class="mb-2">
                    <span>Service Tax</span>
                    <span class="float-end">{{ money(summary.fees.service, home.currency.code) }}</span>
                </div>
                <div class="mb-2">
                    <span>Owner Fees</span>
                    <span class="float-end">{{ money(summary.fees.cleaning, home.currency.code) }}</span>
                </div>
                <div class="mb-2" v-if="summary.fees.deposit">
                    <span>Security Deposit</span>
                    <span class="float-end">{{ money(summary.fees.deposit, home.currency.code) }}</span>
                </div>
                <div class="mb-2 fw-bold">
                    <span>Subtotal</span>
                    <span class="float-end">{{ money(summary.subtotal, home.currency.code) }}</span>
                </div>
            </div>
        </div> 

    </a-modal>
  </div>
</template>

<style lang="scss">
.ant-modal.smModal {
    .ant-modal-header {
        padding: 0px 24px 0px 0px;
        border-bottom: 3px solid #00aa6c;

        .ant-modal-title {
            font-size: 1em !important;
            .f-title {
                font-size: 1.3em !important;
            }
        }
    }
    .ant-modal-body {
        .ant-btn.ant-btn-default {
            background: rgba(0, 0, 0, 0.85) !important;
            color: #fff !important;; 
        }
        .ant-btn {
            transition: none !important;
        }
        .ant-btn.ant-btn-default:hover, .ant-btn.ant-btn-default:focus {
            background-color: #0000008c !important;
            border-color: transparent !important;; 
            border-top-color: transparent;
            border-right-color: transparent;
            border-bottom-color: transparent;
            border-left-color: transparent;
        }
        padding: 0px !important;
        .sendMessageForm {
            .ant-form-item-label {
                padding: 0px !important;
                label {
                    font-size: .9em !important;
                }
            }
            .ant-form-item-explain div {
                font-weight: normal !important;
                font-size: .9em !important;
            }
        }
    }
    .ant-modal-footer {
        padding: 0px !important;
        text-align: left;
        background: transparent;
        border-top: 1px solid #f0f0f0;
        border-radius: 0 0 2px 2px;
        .sm-footer {
            padding: 10px 16px;
            font-size: .85em;
        }
    }
}
</style>