<script setup lang="ts">
import { qa, faqs } from '@/helpers';
import DoYouOwnHouse from '@/assets/img/DoYouOwnHouse.svg?url';
import DoYouOwnPhone from '@/assets/img/DoYouOwnPhone.svg?url';

const { home, mobile } = defineProps([
    'home',
    'mobile',
]);
const listRegister = (url: string) => {
    window.location.href = url;
}
</script>
<template>
    <div class="about-property">
        <div class="bg-white p-3 mb-3">
            <div class="row mb-3">
                <div class="col-12">
                    <h2 class="title" :class="{'mobile': mobile}">{{ $t('home.about_this_property') }}</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <a-collapse :ghost="true" :bordered="false">
                        <a-collapse-panel v-for="(qaa, inn) in qa" :key="inn" :header="$t(qaa.q)">
                            <p>{{ $t(qaa.a) }}</p>
                        </a-collapse-panel>
                    </a-collapse>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12 ps-4 small">
                    <a class="custom-link" 
                    @click="listRegister('https://www.tripadvisorsupport.com/en-US/hc/traveler/categories/104')"
                    href="/en-US/hc/traveler/categories/104">{{ $t('home.view_all_property_faqs') }}</a>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="bg-white p-3 mb-3 own-vacation">
            <div class="row mb-3">
                <div class="col-12">
                    <h2 class="title" :class="{'mobile': mobile}">{{ $t('home.do_you_own_features') }}</h2>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12" style="width: 70px">
                    <a-avatar :src="DoYouOwnHouse" :size="50"/>
                </div>
                <div class="col-12" style="width: calc(100% - 70px)">
                    <div class="fw-bold">{{ $t('home.feature_1_title') }}</div>
                    <div class="small">{{ $t('home.feature_1_subtitle') }}</div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12" style="width: 70px">
                    <a-avatar :src="DoYouOwnPhone" :size="50"/>
                </div>
                <div class="col-12" style="width: calc(100% - 70px)">
                    <div class="fw-bold">{{ $t('home.feature_2_title') }}</div>
                    <div class="small">{{ $t('home.feature_2_subtitle') }}</div>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-12" style="width: 70px">
                    <a-avatar :src="DoYouOwnHouse" :size="50"/>
                </div>
                <div class="col-12" style="width: calc(100% - 70px)">
                    <div class="fw-bold">{{ $t('home.feature_3_title') }}</div>
                    <div class="small">{{ $t('home.feature_3_subtitle') }}</div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12">
                    <button class="btn btn-dark fw-bold btn-sm" @click="listRegister('https://rentals.tripadvisor.com/register')">
                        <span class="mx-3">{{ $t('home.features_btn_text') }}</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="about-faq">
        <div class="bg-white p-3 mb-3 own-faq">
            <div class="row mb-3">
                <div class="col-12">
                    <h2 class="title-f" :class="{'mobile': mobile}">{{ $t('home.faq_about', { title: home.title}) }}</h2>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12">
                    <a-collapse :bordered="false">
                        <a-collapse-panel v-for="(qaa, inn) in faqs(home)" :key="inn" :header="$t(qaa.q, { home: home.title, count: home.home.guests })">
                            <p class="fs-6">{{ $t(qaa.a, { home: home.title, count: home.home.guests }) }}</p>
                        </a-collapse-panel>
                    </a-collapse>
                </div>
            </div>
            
        </div>
    </div>
</template>

<style scoped>
.own-vacation {
    font-size: .9rem;
}
.custom-link {
    color: #069;
    text-decoration: none;
}
.ant-collapse-borderless {
    background-color: transparent !important;
    border: 0;
}
.about-property .ant-collapse-item {
    border-bottom: none!important;
}
:global(.about-property .ant-collapse-header) {
    color: #069 !important;
    padding: 2px !important;
    padding-left: 40px !important;
}
:global(.about-faq .ant-collapse-header) {
    font-size: .97rem;
    font-weight: 600;
    padding: 10px !important;
    padding-left: 40px !important;
}
:global(.ant-collapse-content-box) {
    padding-left: 40px !important;
}
.title {
    font-weight: bold;
    font-size: 1.5em;
    border-bottom: 1px solid #ccc;
    padding-bottom: .5em;
    padding-top: .5em;
}

.title-f {
    font-weight: 800;
    font-size: 1.7em;
    border-bottom: 1px solid #ccc;
    padding-bottom: .5em;
    padding-top: .5em;
}
.title.mobile, .title-f.mobile {
    font-size: 1em;
}
</style>