<script setup lang="ts">

const { home, mobile } = defineProps([
    'home',
    'mobile',
]);
const { amenities } = home;

</script>
<template>
    <div class="amenities">
        <div class="bg-white p-3 mb-3">
            <div class="row mb-3">
                <div class="col-12">
                    <h2 class="title" :class="{'mobile': mobile}">{{ $t('home.amenities') }}</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="mb-3">
                        <div class="small">
                            {{ $t('home.accomodation_type') }}: {{ $t('home.' + home.home.type) }}
                        </div>
                        <div class="small">
                            {{ $t('home.accomodation_size') }}: {{ $t('home.' + home.home.size) }}
                        </div>
                        <div class="small">
                            {{ $t('home.verified_host') }}: {{ home.host.verified ? $t('home.yes') : $t('home.no') }}
                        </div>
                        <div class="small">
                            {{ $t('home.cancelation_policy') }}: {{ $t('policies.' + home.policy.name + '.title') }}
                        </div>
                    </div>
                    <ul class="ul-amenities" :class="{'mobile': mobile}">
                        <li v-for="(amn, index) in amenities" :key="index">
                            <span class="text-success me-2"><i class="fa-solid fa-check"></i></span>
                            <span>{{ $t('amenities.' + amn.name) }}</span>
                        </li>
                    </ul>
                    <br>
                    <br>
                    <br>
                    <br>
                </div>
            </div>
        </div>
    </div>
</template>

<style scoped>
.ul-amenities {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    font-size: .9em;
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
}
.ul-amenities.mobile {
    font-size: .8em;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}
.title {
    font-weight: bold;
    font-size: 1.5em;
    border-bottom: 1px solid #ccc;
    padding-bottom: .5em;
    padding-top: .5em;
}
.title.mobile {
    font-size: 1em;
}
</style>