<script setup lang="ts">
import type { Dayjs } from 'dayjs';
import dayjs from 'dayjs';
import { ref } from 'vue';
import money from '../../helpers/money';
import { useI18n } from 'vue-i18n';

const { t } = useI18n();
const calval = ref<Dayjs>();
const { home } = defineProps([
    'home',
]);
const { pricing, currency } = home; 

const getListData = (date: Dayjs) => {
    const isvalid = dayjs().isBefore(date);

    return [
        { type: isvalid ? 'success' : 'error', content: money(pricing.nightly, currency.code) },
        { type: 'default', content: isvalid ? '/' + t('home.night', 1) : t('home.unavailable')}, 
    ];
}

const getMonthData = (date: Dayjs) => {
    const isvalid = dayjs().isBefore(date);
    return [
        { type: isvalid ? 'success' : 'error', content: money(pricing.monthly, currency.code) },
        { type: 'default', content: isvalid ? t('home.month', 1) : t('home.unavailable')}, 
    ];
};

</script>

<template>
    <div class="availability">
        <div class="bg-white p-3 mb-3">
            <div class="row">
                <div class="col-12">
                    <h2 class="title">{{ $t('home.availability') }}</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <a-calendar v-model:value="calval">
                        <template #dateCellRender="{ current }">
                            <ul class="events">
                                <li v-for="item in getListData(current)" :key="item.content" :class="item.type">
                                    <a-badge :status="item.type" :text="item.content" />
                                </li>
                            </ul>
                        </template>
                        <template #monthCellRender="{ current }">
                            <div v-if="getMonthData(current)" class="notes-month">
                                <ul class="events">
                                    <li v-for="item in getMonthData(current)" :key="item.content" :class="item.type">
                                        <a-badge :status="item.type" :text="item.content" />
                                    </li>
                                </ul>
                            </div>
                        </template>
                    </a-calendar>
                </div>
            </div>
        </div>
    </div>
</template>

<style scoped lang="scss">
:global(.ant-fullcalendar-fullscreen .ant-fullcalendar-column-header) {
    text-align: center !important;
    
}
:global(.ant-fullcalendar-column-header-inner) {
    font-weight: bold !important;
}
:global(.ant-badge-status-default) {
    display: none !important;
}
:global(.ant-badge-status-text) {
    font-size: .92em !important;
}
.availability {
    .title {
        font-weight: bold;
        font-size: 1.5em;
        border-bottom: 1px solid #ccc;
        padding-bottom: .5em;
        padding-top: .5em;
    }
    .events {
        list-style: none;
        margin: 0;
        padding: 0;
        
    }

    .ant-badge-status {
        overflow: hidden;
        white-space: nowrap;
        width: 100%;
        text-overflow: ellipsis;
        font-size: 12px;
        }
    .notes-month {
        text-align: center;
        font-size: 28px;
        section {
            font-size: 28px;
        }
    }
}
</style>