<script setup lang="ts">
import { onMounted } from "vue";
import pin from '@/assets/img/VR_green_pin.png';
import 'leaflet/dist/leaflet.css';
import L from 'leaflet';

L.Icon.Default.imagePath = '/img/icon/';

const { home, mobile } = defineProps([
    'home',
    'mobile',
]);

var LeafIcon = L.Icon.extend({
    options: {
       iconSize:     [35, 40],
       shadowSize:   [35, 40],
       iconAnchor:   [10, 50],
       shadowAnchor: [10, 50],
       popupAnchor:  [8, -40]
    }
});
var greenIcon = new LeafIcon();
greenIcon.options.iconUrl = pin;


onMounted(() => {
    const layers = [
        L.tileLayer('https://tiles.stadiamaps.com/tiles/alidade_smooth/{z}/{x}/{y}{r}.png?api_key=' + import.meta.env.VITE_APP_STADIAMAPS, {
            attribution: "Tripadvisor.com | " + home.title,
        }),
        L.marker([
            home.location.latitude,
            home.location.longitude
        ], {icon: greenIcon}).bindPopup(home.title)
    ];

    const map = L.map('map', {
        trackResize: false,
        center: [
            home.location.latitude,
            home.location.longitude
        ],
        zoom: 17,
        zoomControl: false,
        layers,
    });
    map.attributionControl.setPrefix('');
    L.control.scale({
        imperial: false,
    }).addTo(map);
   
    // disable map dragging when user's cursor enters the element
    map.dragging.disable();
    // disable map zoom when using map's " +/- " control
    map.touchZoom.disable();
    map.doubleClickZoom.disable();
    map.scrollWheelZoom.disable();
    map.boxZoom.disable();
    map.keyboard.disable();
})
</script>

<template>
    <div class="map">
        <div class="bg-white p-3 mb-3">
            <div class="row">
                <div class="col-12">
                    <h2 class="title" :class="{'mobile': mobile}" >{{ $t('home.map') }}</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div id="map" style="width: 100%; height: auto; aspect-ratio: 16/9;"></div>
                </div>
                <div class="col-12">
                    <br>
                    <br>
                    <br>
                    <br>
                </div>
            </div>
            
        </div>
    </div>
</template>



<style scoped>
.title {
    font-weight: bold;
    font-size: 1.5em;
    border-bottom: 1px solid #ccc;
    padding-bottom: .5em;
    padding-top: .5em;
}
.title.mobile {
    font-size: 1em;
}
</style>