<script setup lang="ts">
import { computed } from 'vue';
import MobileDatePickerComponent from '../MobileDatePickerComponent.vue';
import { useI18n } from 'vue-i18n';

const { t } = useI18n();
const { home, mobile } = defineProps([
    'home',
    'mobile',
]);

const speaks = computed(() => {
    let translated: string[] = [];
    home.host.speaks.forEach((l: string) => {
        translated.push(t(`speaks.${l}`));
    });
    return translated.join(', ');
});

</script>
<template>
    <div class="overview">
        <div class="bg-white p-3 mb-3">
            <MobileDatePickerComponent v-if="mobile"></MobileDatePickerComponent>
            <div class="row">
                <div class="col-12">
                    <h2 class="title" :class="{'mobile': mobile}">{{ $t('home.overview') }}</h2>
                </div>
            </div>
            <div class="row mb-3">
                <div class="overview-amenities" :class="{'col-6 mb-3': mobile, 'col-3': !mobile}">
                    <i class="fa-regular fa-bed-front"></i>
                    <span>{{ $t('home.count_bedrooms', home.home.bedrooms) }}</span>
                </div>
                <div class="overview-amenities" :class="{'col-6 mb-3': mobile, 'col-3': !mobile}">
                    <i class="fa-solid fa-bath"></i>
                    <span>{{ $t('home.count_bathrooms', home.home.baths) }}</span>
                </div>
                <div class="overview-amenities" :class="{'col-6 mb-3': mobile, 'col-3': !mobile}">
                    <i class="fa-regular fa-user-group"></i>
                    <span>{{ $t('home.count_guests', home.home.guests) }}</span>
                </div>
                <div class="overview-amenities" :class="{'col-6 mb-3': mobile, 'col-3': !mobile}">
                    <i class="fa-solid fa-moon"></i>
                    <span>{{ $t('home.count_nights', home.pricing.minStay) }} {{ $t('home.minimum') }}</span>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-12">
                    <span class="fw-bold home-size">{{ $t('home.' + home.home.size) }}/{{ $t('home.' + home.home.type) }}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-12 home-desc">
                    <div v-html="home.description"></div>
                </div>
            </div>
        </div>

        <div class="bg-white p-3 mb-3">
            <div class="row">
                <div class="col-12">
                    <h2 class="title" :class="{'mobile': mobile}">{{ $t('home.about_the_owner') }}</h2>
                </div>
            </div>
            <div class="row">
                <div class=" p-3" :class="{'col-2': !mobile,'col-3': mobile, }">
                    <a-avatar :src="home.host.img" :size="{ xs: 64, sm: 64, md: 64, lg: 64, xl: 80, xxl: 100 }"></a-avatar>
                </div>
                <div class="py-3 home-desc" :class="{'col-10': !mobile,'col-9': mobile}">
                    <!-- <div>{{ $t('home.response_time') }}: {{ home.host.responds }}</div> // In case you want server response-->
                    <div>{{ $t('home.response_time') }}: {{ $t('home.response_answer') }}</div>
                    <div>{{ $t('home.lang_spoken') }}: {{ speaks }}</div>
                    <div>{{ $t('home.member_since') }}: {{ home.host.date }}</div>
                    <div>{{ $t('home.response_rate') }}: 90%</div>
                </div>
            </div>
            
        </div>
    </div>
</template>

<style scoped lang="scss">
.home-size {
    font-size: .85em;
}
.home-desc {
    font-size: .85em;
}
.title {
    font-weight: bold;
    font-size: 1.5em;
    border-bottom: 1px solid #ccc;
    padding-bottom: .5em;
    padding-top: .5em;
}
.title.mobile {
    font-size: 1em;
}
.overview-amenities {
    font-size: .85em;
    i {
        color: #00aa6c;
        margin-right: 5px;
    }
}
</style>