<script setup lang="ts">
import dayjs from 'dayjs';

const { home, mobile } = defineProps([
    'home',
    'mobile',
]);
const { reviews } = home;
const like = (e: Event | any) => {
    let parentWithClass = e.target.closest('.small');
    // remove small class
    setTimeout(() => {
        parentWithClass.classList.remove('notpressed');
        parentWithClass.classList.add('pressed');
        let html = '<span class="me-1"><i class="fa-light fa-thumbs-up"></i></span>';
        html += '<span class="me-2">1</span>';
        html += '<span>Thanks for your vote</span>';
        parentWithClass.innerHTML = html;
    }, 400);
}
</script>
<template>
    <div class="reviews">
        <div class="bg-white p-3 mb-3">
            <div class="row">
                <div class="col-12">
                    <h2 class="title" :class="{'mobile': mobile}">{{ $t('home.reviews') }} <span class="text-muted">({{ reviews.length }})</span></h2>
                </div>
            </div>

            <div class="row" v-for="rev in reviews">
                <div class="col-2 p-3 text-center">
                    <a-avatar :src="rev.img" :size="{ xs: 50, sm: 50, md: 64, lg: 64, xl: 80, xxl: 100 }"></a-avatar>
                    <small class="text-muted d-none d-lg-inline">{{ rev.name }}</small>
                </div>
                <div class="col-9 py-3 home-desc" v-if="!mobile">
                    <div class="mb-2">
                        <span v-for="(star, index) in rev.rating" :key="index" class="text-muted fs-5" ><i class="fa-solid fa-star"></i></span>
                        <small class="ms-2">Reviewed {{ dayjs(rev.rawdate).format('MMM D, YYYY') }}</small>
                    </div>
                    <div class="mb-2">{{ rev.review }}</div>
                    <div class="mb-2">
                        <span class="fw-bold">{{ $t('home.date_of_stay') }}: </span>
                        <span>{{ rev.date }}</span>
                    </div>
                    <div>
                        <button @click="like" class="small notpressed">
                            <span class="me-1"><i class="fa-light fa-thumbs-up"></i></span>
                            <span>Thank A Vrbo.com verified reviewer </span>
                        </button>
                        <span class="float-end text-muted small">
                            <a-popover trigger="hover">
                                <template #content>
                                    <small>Problems with this review?</small>
                                </template>
                                <i class="fa-regular fa-flag"></i>
                            </a-popover>
                        </span>
                    </div>
                </div>
                <div class="col-9 py-3 home-desc" v-if="mobile">
                    <div><small class="text-muted ">{{ rev.name }} a verified reviewer</small></div>
                    <div class="mb-2">
                        <span v-for="(star, index) in rev.rating" :key="index" class="text-muted small"><i class="fa-solid fa-star"></i></span>
                        <small class="ms-2">Reviewed {{ dayjs(rev.rawdate).format('MMM D, YYYY') }}</small>
                    </div>
                </div>
                <div class="col-12 home-desc" v-if="mobile">
                    <div class="mb-2">{{ rev.review }}</div>
                    <div class="mb-2">
                        <span class="fw-bold">{{ $t('home.date_of_stay') }}: </span>
                        <span>{{ rev.date }}</span>
                    </div>
                    <div>
                        <button @click="like" class="small notpressed">
                            <span class="me-1"><i class="fa-light fa-thumbs-up"></i></span>
                            <span>Thank A Vrbo.com verified reviewer </span>
                        </button>
                        <span class="float-end text-muted small">
                            <a-popover trigger="hover">
                                <template #content>
                                    <small>Problems with this review?</small>
                                </template>
                                <i class="fa-regular fa-flag"></i>
                            </a-popover>
                        </span>
                    </div>
                    <hr />
                </div>
            </div>
        </div>
    </div>
</template>

<style scoped>
.reviews {
    font-size: .9rem;
}
.reviews button.small {
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid #ccc;
}
.reviews button.small:hover {
    background-color: transparent;
    border: 1px solid rgb(0, 0, 0);
}
.reviews button.small.pressed {
    border: none !important;
}
.reviews button.small.pressed:hover {
    border: none !important;
}
.title {
    font-weight: bold;
    font-size: 1.5em;
    border-bottom: 1px solid #ccc;
    padding-bottom: .5em;
    padding-top: .5em;
}
.title.mobile {
    font-size: 1em;
}
</style>