<script setup lang="ts">
import { homesCollection } from '@/store/firebase';
import { ref, onMounted, computed } from 'vue';

import money from '@/helpers/money';
import { getDocs } from 'firebase/firestore/lite';
const similar = ref<any>([]);

const { mobile } = defineProps([
    'mobile',
]);

const div1 = computed(() => mobile ? 'col-12' : 'col-4');

onMounted(async () => {
    const homesSnapshot = await getDocs(homesCollection);
    homesSnapshot.docs.map((doc: any) => similar.value.push(doc.data()));
})
</script>
<template>
    <div class="similar-rentals" v-if="similar.length">
        <div class="bg-white p-3 mb-3">
            <div class="row mb-3">
                <div class="col-12">
                    <h2 class="title" :class="{'mobile': mobile}">{{ $t('home.similar_rentals') }} {{ similar.length }}</h2>
                </div>
            </div>
            <div class="row">
                <div v-for="(home, index) in similar.slice(0, mobile ? 4 : 6)" :class="div1">
                    <div class="card mb-2 border-0 rounded-0" style="width: 100%;" :key="index">
                        <img :src="home.images[home.images.length - 1].url" class="card-img-top rounded-0" :alt="home.title" style="width: 100%; height: auto; aspect-ratio: 16/9; object-fit: cover;">
                        <div class="card-body p-0 mt-2">
                            <div class="card-text">
                                <div class="mb-1">
                                    <span class="fw-bold">{{ money(home.pricing.nightly, home.currency.code) }}</span>
                                    <span class="fw-normal small ps-2"> {{ $t('home.per_night') }} </span>
                                </div>
                                <div class="mb-1 small">
                                    <span class="me-2">
                                        <i class="fa-solid fa-circle" style="color: #00aa6c; margin-right: 0.15rem !important;"></i>
                                        <i class="fa-solid fa-circle" style="color: #00aa6c; margin-right: 0.15rem !important;"></i>
                                        <i class="fa-solid fa-circle" style="color: #00aa6c; margin-right: 0.15rem !important;"></i>
                                        <i class="fa-solid fa-circle" style="color: #00aa6c; margin-right: 0.15rem !important;"></i>
                                        <i class="fa-solid fa-circle" style="color: #00aa6c; margin-right: 0.15rem !important;"></i>
                                    </span>
                                    <span>{{ $t('home.review', home.reviews.length) }}</span>
                                </div>
                                <div class="mb-1 small">
                                    <span class="me-2">{{ $t('home.count_bedrooms', home.home.bedrooms) }},</span>
                                    <span class="me-2">{{ $t('home.count_bath', home.home.baths) }},</span>
                                    <span class="me-2">{{ $t('home.count_guests', home.home.guests) }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-white p-3 mb-3">
            <div class="row mb-3">
                <div class="col-12">
                    <h2 class="title" :class="{'mobile': mobile}">{{ $t('home.payment_protection') }}</h2>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12">
                    <small>{{ $t('home.payment_protection_text') }}</small>
                </div>
            </div>
            
        </div>
        <div class="bg-white p-3 mb-3">
            <div class="row mb-3">
                <div class="col-12">
                    &nbsp;
                </div>
            </div>
        </div>
    </div>
</template>

<style scoped>
.small {
    font-size: .8em;
}
.title {
    font-weight: bold;
    font-size: 1.5em;
    border-bottom: 1px solid #ccc;
    padding-bottom: .5em;
    padding-top: .5em;
}
.title.mobile {
    font-size: 1em;
}
</style>