<script setup lang="ts">
import { onBeforeMount, onBeforeUnmount, onMounted, computed, reactive } from 'vue';
import { RouterView, useRoute, useRouter } from 'vue-router'
import { useStore } from './store';
import useAuth from '@/store/auth';
import { useI18n } from 'vue-i18n'
import dayjs from 'dayjs';
import { bannedRef } from '@/store/firebase';
import { getDoc } from 'firebase/firestore/lite';

const { locale, t } = useI18n();
const route = useRoute();
const router = useRouter();
const auth = useAuth();
const store = useStore();

const routequery = computed(() => 'userdata' in route.query ? route.query.userdata : null);
const userdata = computed(() => auth.userdata);

const checkIfMobile = () => {
    return window.innerWidth < 992 ? store.setMobile(true) : store.setMobile(false);
};

const bannedips = reactive({
    ips: [],
    hosts: []
} as {
    ips: any,
    hosts: any
});


onMounted(() => {
    locale.value = store.locale;
    dayjs.locale(locale.value);
    document.title = t('title');
    const u = new URL(window.location.href);
    const { search, pathname } = u;

    if(userdata.value !== null) {
        const ud = userdata.value;
        auth.setUserData(ud);
        if( search !== "") {
            router.push(pathname);
        }
    } else if (routequery.value !== null) {
        const qr:any = routequery.value;
        auth.setUserData(qr);
        if( search !== "") {
            router.push(pathname);
        }
    } else {
        console.log( 'Not logged in' );
    }
    
});

onBeforeMount(async () => {
    const bannedVisitors = await getDoc(bannedRef);
    if (bannedVisitors.exists()) {
        const bb = bannedVisitors.data();
        console.log("Document data:", bb);
        bannedips.ips = [];
        bannedips.hosts = [];
        Object.assign(bannedips, bb);

        store.setUserIpData(bannedips);

        window.addEventListener('resize', () => {
            checkIfMobile();
        });
    }
});

onBeforeUnmount(() => {
    window.removeEventListener('resize', () => { 
        checkIfMobile();
    });
});
</script>

<template>
    <div>
        <router-view v-slot="{ Component }">
            <transition name="fade">
                <component :is="Component" />
            </transition>
        </router-view>
    </div>

    <auth-modal-component></auth-modal-component>
</template>

<style lang="scss">
.modal-auth {
    .ant-modal {
        .ant-modal-content {
            border-radius: 12px;

            .ant-modal-body {
                padding: 40px 45px 30px;


                .overlayHeader {
                    margin-top: 16px;
                    margin-bottom: 24px;
                    font-size: 28px;
                    font-weight: 700;
                    color: #000;
                    max-width: 305px;
                    line-height: 120%;
                }
            }
        }
    }
}
</style>
